object 'L_BASEDOC::VSCHETPB' : InterfaceWindow {
  object BRVSCHET : Browser {
    object 'c_BRVSCHET_KATORG.NAME_Контрагент' : Column {
      Title = ^C'Плательщик';
      DefaultWidth = 28;
    } // c_BRVSCHET_KATORG.NAME_Контрагент : Column
    object 'c_BRVSCHET_TMPSALDO3.PRICE_Оплата' : Column {
      Visible = False;
    } // c_BRVSCHET_TMPSALDO3.PRICE_Оплата : Column
    object 'c_BRVSCHET_TMPSALDO3.KOL_Отгрузка' : Column {
      Visible = False;
    } // c_BRVSCHET_TMPSALDO3.KOL_Отгрузка : Column
    object 'c_BRVSCHET_TMPSALDO3_SALDO_Баланс' : Column {
      Visible = False;
    } // c_BRVSCHET_TMPSALDO3_SALDO_Баланс : Column
    object 'c_BRVSCHET_TMPSALDO3_NNINFO_НН' : Column {
      Visible = False;
    } // c_BRVSCHET_TMPSALDO3_NNINFO_НН : Column
  } // BRVSCHET : Browser
  object WVSCHET : InterfaceWindow {
    object BRSPSCHET : Browser {
      object 'if(SpStep.PrMc = 2, KatUsl.Obozn, KatMc.Obozn)' : Column {
        Original = False;
        Visible = True;
        Hidden = False;
        Protect = True;
        Skip = False;
        UpCase = False;
        Password = False;
        NoValidCheck = True;
        StatusCtx = 0;
        Title = 'Конструкторское обозначение';
        HelpLine = '';
        FieldName = 'if(SpStep.PrMc = 2, KatUsl.Obozn, KatMc.Obozn)';
        DefaultValue = '';
        StringsNull = 0;
        Index = 5;
        DefaultWidth = 17;
        TextAlign = 0;
        ButtonType = 0;
        DefaultPickButton = False;
        SpinInc = 0.0;
        SpinMin = 0.0;
        SpinMax = 0.0;
        NoAutoSize = False;
        PassiveFormat = '';
        Points = 0;
        MaxLen = 150;
        PrecisionVarName = '';
        HistoryID = 0;
        DropTarget = False;
        DropSource = False;
        FixedState = 0;
        EditButton = False;
      }
      object 'c_BRSPSCHET_SALDTUNE.NAME_Объект_ЦУ' : Column {
        Index = 17;
        DefaultWidth = 13;
      } // c_BRSPSCHET_SALDTUNE.NAME_Объект_ЦУ : Column
      object 'c_BRSPSCHET_VSKAU1_КАУ_1' : Column {
        Title = 'Заказ';
        Index = 14;
        DefaultWidth = 11;
      } // c_BRSPSCHET_VSKAU1_КАУ_1 : Column
      object 'ExtAttr: SPSTEP,281474976718763' : Column {
        Original = False;
        Visible = True;
        Hidden = False;
        Protect = True;
        Skip = False;
        StatusCtx = 151;
        Title = 'Расшифровка статьи затрат';
        FieldName = 'ExtAttr: SPSTEP,281474976718763,5,8512,11309,1,Расшифровка статьи затрат';
        Index = 28;
        ButtonType = 16;
        DefaultWidth = 11;
      }
      object 'ExtAttr: SPSTEP,281474976713350' : Column {
        Original = False;
        Visible = True;
        Hidden = False;
        Protect = True;
        Skip = False;
        StatusCtx = 151;
        Title = 'Р/счет списания ДС';
        FieldName = 'ExtAttr: SPSTEP,281474976713350,5,8512,10545,1,Р/счет списания ДС';
        Index = 29;
        ButtonType = 16;
        DefaultWidth = 11;
      }
      object 'ExtAttr: SPSTEP,281474976713351' : Column {
        Original = False;
        Visible = True;
        Hidden = False;
        Protect = True;
        Skip = False;
        StatusCtx = 151;
        Title = 'Заказ выбытия ДС';
        FieldName = 'ExtAttr: SPSTEP,281474976713351,5,2101,40,0,Заказ выбытия ДС';
        Index = 29;
        ButtonType = 16;
        DefaultWidth = 11;
      }
      object 'ExtAttr: SPSTEP,281474976712606' : Column {
        Original = False;
        Visible = True;
        Hidden = False;
        Protect = True;
        Skip = False;
        StatusCtx = 151;
        Title = 'Режим использования счета';
        FieldName = 'ExtAttr: SPSTEP,281474976712606,5,8512,10695,1,Режим использования счета';
        Index = 29;
        ButtonType = 16;
        DefaultWidth = 11;
      }
      object 'ExtAttr: SPSTEP,281474976713352' : Column {
        Original = False;
        Visible = True;
        Hidden = False;
        Protect = True;
        Skip = False;
        StatusCtx = 151;
        Title = 'Статья структуры цены по заказу выбытия';
        FieldName = 'ExtAttr: SPSTEP,281474976713352,5,2131,73,0,Статья структуры цены по заказу выбытия';
        Index = 29;
        ButtonType = 16;
        DefaultWidth = 11;
      }
      object contractid : Column {
        Original = False;
        Visible = True;
        Hidden = False;
        Protect = True;
        Skip = False;
        Title = 'Идентификатор контракта';
        FieldName = 'contractid';
        Index = 29;
        DefaultWidth = 14;
      }
      object 'c_BRSPSCHET_VSKAU2_КАУ_2' : Column {
        Title = 'Статья затрат';
      } // c_BRSPSCHET_VSKAU2_КАУ_2 : Column
      object 'c_BRSPSCHET_VSKAU3_КАУ_3' : Column {
        Title = 'Подразделение';
        Index = 15;
      } // c_BRSPSCHET_VSKAU3_КАУ_3 : Column
      object 'c_BRSPSCHET_VSKAU4_КАУ_4' : Column {
        Title = 'Сотрудник';
      } // c_BRSPSCHET_VSKAU4_КАУ_4 : Column
      object 'c_BRSPSCHET_VSKAU5_КАУ_5' : Column {
        Hidden = True;
      } // c_BRSPSCHET_VSKAU5_КАУ_5 : Column
      object 'c_BRSPSCHET_VSKAU6_КАУ_6' : Column {
        Hidden = True;
      } // c_BRSPSCHET_VSKAU6_КАУ_6 : Column
      object 'c_BRSPSCHET_VSKAU7_КАУ_7' : Column {
        Hidden = True;
      } // c_BRSPSCHET_VSKAU7_КАУ_7 : Column
      object 'c_BRSPSCHET_VSKAU8_КАУ_8' : Column {
        Hidden = True;
      } // c_BRSPSCHET_VSKAU8_КАУ_8 : Column
      object 'c_BRSPSCHET_VSKAU9_КАУ_9' : Column {
        Hidden = True;
      } // c_BRSPSCHET_VSKAU9_КАУ_9 : Column
      object 'c_BRSPSCHET_VSKAU10_КАУ_10' : Column {
        Hidden = True;
      } // c_BRSPSCHET_VSKAU10_КАУ_10 : Column
      object 'c_BRSPSCHET_PLJOBNAME_План_работ' : Column {
        Hidden = True;
      } // c_BRSPSCHET_PLJOBNAME_План_работ : Column
    } // BRSPSCHET : Browser
    object SCVSCHET2 : Screen {
      object 'L_SCVSCHET2_Номер' : Label {
        Origin_X = 165;
      } // L_SCVSCHET2_Номер : Label
      object 'L_SCVSCHET2_Выписан' : Label {
        Origin_X = 255;
      } // L_SCVSCHET2_Выписан : Label
      object 'L_SCVSCHET2_На_срок' : Label {
        Origin_X = 340;
      } // L_SCVSCHET2_На_срок : Label
      object 'i_SCVSCHET2_BASEDOC.TIPMONEY' : PanelInputLine {
        Skip = True;
      } // i_SCVSCHET2_BASEDOC.TIPMONEY : PanelInputLine
      object 'L_SCVSCHET2_Примечания' : Label {
        Origin_Y = 42;
      } // L_SCVSCHET2_Примечания : Label
      object 'i_SCVSCHET2_BASEDOC.NAME' : PanelInputLine {
        Origin_X = 115;
        Origin_Y = 42;
        Size_X = 583;
      } // i_SCVSCHET2_BASEDOC.NAME : PanelInputLine
      object 'L_SCVSCHET2_Поставщик' : Label {
        Origin_Y = 62;
      } // L_SCVSCHET2_Поставщик : Label
      object 'i_SCVSCHET2_KATORG.NAME' : PanelInputLine {
        Origin_X = 115;
        Origin_Y = 62;
        Size_X = 583;
      } // i_SCVSCHET2_KATORG.NAME : PanelInputLine
      object 'L_SCVSCHET2_Банк' : Label {
        Origin_Y = 102;
      } // L_SCVSCHET2_Банк : Label
      object 'i_SCVSCHET2_KATBANK.NAME' : PanelInputLine {
        Origin_X = 115;
        Origin_Y = 102;
        Size_X = 200;
      } // i_SCVSCHET2_KATBANK.NAME : PanelInputLine
      object i_SCVSCHET2 : PanelInputLine {
        Origin_X = 323;
        Origin_Y = 102;
        Size_X = 73;
      } // i_SCVSCHET2 : PanelInputLine
      object 'i_SCVSCHET2_KATBANK.MFO1' : PanelInputLine {
        Origin_Y = 102;
      } // i_SCVSCHET2_KATBANK.MFO1 : PanelInputLine
      object 'L_SCVSCHET2_Р/с' : Label {
        Origin_Y = 102;
      } // L_SCVSCHET2_Р/с : Label
      object 'i_SCVSCHET2_KATBANK.SCHET1' : PanelInputLine {
        Origin_Y = 102;
      } // i_SCVSCHET2_KATBANK.SCHET1 : PanelInputLine
      object i_SCVSCHET2_KATBANKDOGROLE : PanelInputLine {
        Hidden = True;
        Origin_Y = 121;
      } // i_SCVSCHET2_KATBANKDOGROLE : PanelInputLine
      object 'i_SCVSCHET2_KATBANK.MFO2' : PanelInputLine {
        Origin_Y = 122;
      } // i_SCVSCHET2_KATBANK.MFO2 : PanelInputLine
      object 'i_SCVSCHET2_KATBANK.SCHET2' : PanelInputLine {
        Origin_Y = 122;
      } // i_SCVSCHET2_KATBANK.SCHET2 : PanelInputLine
      object 'L_SCVSCHET2_Стоимость_позиций' : Label {
        Origin_Y = 142;
      } // L_SCVSCHET2_Стоимость_позиций : Label
      object i_SCVSCHET2_TOTALSUMMATOV : PanelInputLine {
        Origin_Y = 142;
      } // i_SCVSCHET2_TOTALSUMMATOV : PanelInputLine
      object 'L_SCVSCHET2_Предоплата' : Label {
        Origin_Y = 142;
      } // L_SCVSCHET2_Предоплата : Label
      object 'i_SCVSCHET2_BASEDOC.PROCOPL' : PanelInputLine {
        Origin_Y = 142;
      } // i_SCVSCHET2_BASEDOC.PROCOPL : PanelInputLine
      object 'T_SCVSCHET2_%' : StaticText {
        Origin_X = 511;
        Origin_Y = 142;
      } // T_SCVSCHET2_% : StaticText
      object 'L_SCVSCHET2_с_учетом_скидок' : Label {
        Origin_Y = 162;
      } // L_SCVSCHET2_с_учетом_скидок : Label
      object 'i_SCVSCHET2_BASEDOC.SUMMA' : PanelInputLine {
        Origin_Y = 162;
      } // i_SCVSCHET2_BASEDOC.SUMMA : PanelInputLine
      object 'L_SCVSCHET2_Скидка_к_сумме' : Label {
        Origin_Y = 162;
      } // L_SCVSCHET2_Скидка_к_сумме : Label
      object 'i_SCVSCHET2_BASEDOC.SKIDKA' : PanelInputLine {
        Origin_X = 415;
        Origin_Y = 162;
      } // i_SCVSCHET2_BASEDOC.SKIDKA : PanelInputLine
      object i_SCVSCHET2_SKIDVAR : PanelInputLine {
        Origin_X = 507;
        Origin_Y = 162;
      } // i_SCVSCHET2_SKIDVAR : PanelInputLine
      object 'L_SCVSCHET2_Сумма_налогов' : Label {
        Origin_Y = 182;
      } // L_SCVSCHET2_Сумма_налогов : Label
      object 'i_SCVSCHET2_BASEDOC.NDS' : PanelInputLine {
        Origin_Y = 182;
      } // i_SCVSCHET2_BASEDOC.NDS : PanelInputLine
      object 'L_SCVSCHET2_Налоги' : Label {
        Origin_X = 14;
        Origin_Y = 240;
      } // L_SCVSCHET2_Налоги : Label
      object 'i_SCVSCHET2_BASEDOC.VHODNAL' : PanelInputLine {
        Origin_X = 163;
        Origin_Y = 242;
      } // i_SCVSCHET2_BASEDOC.VHODNAL : PanelInputLine
      object 'L_SCVSCHET2_Сумма_к_оплате' : Label {
        Origin_Y = 202;
      } // L_SCVSCHET2_Сумма_к_оплате : Label
      object 'i_SCVSCHET2_BASEDOC.TOTAL' : PanelInputLine {
        Origin_Y = 202;
      } // i_SCVSCHET2_BASEDOC.TOTAL : PanelInputLine
      object 'L_SCVSCHET2_в' : Label {
        Origin_Y = 202;
      } // L_SCVSCHET2_в : Label
      object i_SCVSCHET2_SIMVOLB : PanelInputLine {
        Origin_Y = 202;
      } // i_SCVSCHET2_SIMVOLB : PanelInputLine
      object i_SCVSCHET2_NAKFIN2 : PanelInputLine {
        Origin_Y = 202;
      } // i_SCVSCHET2_NAKFIN2 : PanelInputLine
      object 'L_SCVSCHET2_%_к_курсу_на_день_платежа' : Label {
        Origin_X = 848;
        Origin_Y = 181;
        Size_X = 143;
      } // L_SCVSCHET2_%_к_курсу_на_день_платежа : Label
      object 'i_SCVSCHET2_BASEDOC.DOPPROC' : PanelInputLine {
        Origin_X = 998;
        Origin_Y = 181;
      } // i_SCVSCHET2_BASEDOC.DOPPROC : PanelInputLine
      object 'L_SCVSCHET2_Форма_расчета' : Label {
        Origin_Y = 262;
      } // L_SCVSCHET2_Форма_расчета : Label
      object 'i_SCVSCHET2_KATPAYMENT.NAME' : PanelInputLine {
        Origin_Y = 262;
        Size_X = 178;
      } // i_SCVSCHET2_KATPAYMENT.NAME : PanelInputLine
      object 'L_SCVSCHET2_Спецификация' : Label {
        Origin_X = 14;
        Origin_Y = 282;
      } // L_SCVSCHET2_Спецификация : Label
      object 'i_SCVSCHET2_BASEDOC.SPECYES' : PanelInputLine {
        Origin_X = 163;
        Origin_Y = 282;
        Size_X = 178;
      } // i_SCVSCHET2_BASEDOC.SPECYES : PanelInputLine
      // Информация: объект "'ExtAttr: BASEDOC,281474976710797'" типа PanelInputLine не найден в базовой конфигурации!
      object 'ExtAttr: BASEDOC,281474976710797' : PanelInputLine {
        Original = False;
        Visible = True;
        Hidden = False;
        Protect = True;
        Skip = False;
        StatusCtx = 151;
        FieldName = 'ExtAttr: BASEDOC,281474976710797,5,8512,10008,1,Аванс/ок. расчет';
        Origin_X = 163;
        Origin_Y = 222;
        Size_X = 115;
        Size_Y = 14;
        ButtonType = 16;
      } // ExtAttr: BASEDOC,281474976710797 : PanelInputLine
      // Информация: объект "'LbExtAttr: BASEDOC,281474976710797'" типа Label не найден в базовой конфигурации!
      object 'LbExtAttr: BASEDOC,281474976710797' : Label {
        Original = False;
        Title = 'Аванс/ок. расчет';
        Visible = True;
        Hidden = False;
        HelpLine = '';
        Origin_X = 14;
        Origin_Y = 222;
        Size_X = 105;
        Size_Y = 14;
      } // LbExtAttr: BASEDOC,281474976710797 : Label
      // Информация: объект "'ExtAttr: BASEDOC,281474976710747#1'" типа PanelInputLine не найден в базовой конфигурации!
      object 'ExtAttr: BASEDOC,281474976710747#1' : PanelInputLine {
        Original = False;
        Visible = True;
        Hidden = False;
        Protect = True;
        Skip = False;
        StatusCtx = 151;
        FieldName = 'ExtAttr: BASEDOC,281474976710747,5,1413,2,0,Исполнитель договора';
        Origin_X = 500;
        Origin_Y = 222;
        Size_X = 197;
        Size_Y = 14;
        TextAlign = 0;
        ButtonType = 16;
      } // ExtAttr: BASEDOC,281474976710747#1 : PanelInputLine
      // Информация: объект "'LbExtAttr: BASEDOC,281474976710747#1'" типа Label не найден в базовой конфигурации!
      object 'LbExtAttr: BASEDOC,281474976710747#1' : Label {
        Original = False;
        Title = 'Исполнитель договора';
        Visible = True;
        Hidden = False;
        HelpLine = '';
        Origin_X = 371;
        Origin_Y = 222;
        Size_X = 119;
        Size_Y = 14;
      } // LbExtAttr: BASEDOC,281474976710747#1 : Label
      // Информация: объект "'ExtAttr: BASEDOC,281474976710798'" типа PanelInputLine не найден в базовой конфигурации!
      object 'ExtAttr: BASEDOC,281474976710798' : PanelInputLine {
        Original = False;
        Visible = True;
        Hidden = False;
        Protect = True;
        Skip = False;
        StatusCtx = 151;
        FieldName = 'ExtAttr: BASEDOC,281474976710798,5,8512,10007,1,По БДДС/вне бюджета';
        Origin_X = 500;
        Origin_Y = 242;
        Size_X = 197;
        Size_Y = 14;
        TextAlign = 0;
        ButtonType = 16;
      } // ExtAttr: BASEDOC,281474976710798 : PanelInputLine
      // Информация: объект "'LbExtAttr: BASEDOC,281474976710798'" типа Label не найден в базовой конфигурации!
      object 'LbExtAttr: BASEDOC,281474976710798' : Label {
        Original = False;
        Title = 'По БДДС/вне бюджета';
        Visible = True;
        Hidden = False;
        HelpLine = '';
        Origin_X = 373;
        Origin_Y = 242;
        Size_X = 117;
        Size_Y = 14;
      } // LbExtAttr: BASEDOC,281474976710798 : Label
      // Информация: объект "'ExtAttr: BASEDOC,281474976710799#1'" типа PanelInputLine не найден в базовой конфигурации!
      object 'ExtAttr: BASEDOC,281474976710799#1' : PanelInputLine {
        Original = False;
        Visible = True;
        Hidden = False;
        Protect = True;
        Skip = False;
        StatusCtx = 151;
        FieldName = 'ExtAttr: BASEDOC,281474976710799,5,8512,10009,1,Статья ДДС';
        Origin_X = 500;
        Origin_Y = 262;
        Size_X = 197;
        Size_Y = 14;
        ButtonType = 16;
      } // ExtAttr: BASEDOC,281474976710799#1 : PanelInputLine
      // Информация: объект "'LbExtAttr: BASEDOC,281474976710799#1'" типа Label не найден в базовой конфигурации!
      object 'LbExtAttr: BASEDOC,281474976710799#1' : Label {
        Original = False;
        Title = 'Статья БДДС';
        Visible = True;
        Hidden = False;
        HelpLine = '';
        Origin_X = 420;
        Origin_Y = 262;
        Size_X = 70;
        Size_Y = 14;
      } // LbExtAttr: BASEDOC,281474976710799#1 : Label
      // Информация: объект "'ExtAttr: BASEDOC,281474976710803'" типа PanelInputLine не найден в базовой конфигурации!
      object 'ExtAttr: BASEDOC,281474976710803' : PanelInputLine {
        Original = False;
        Visible = True;
        Hidden = False;
        Protect = True;
        Skip = False;
        StatusCtx = 151;
        FieldName = 'ExtAttr: BASEDOC,281474976710803,5,8512,10010,1,Статья БДР';
        Origin_X = 500;
        Origin_Y = 288;
        Size_X = 197;
        Size_Y = 14;
        ButtonType = 16;
      } // ExtAttr: BASEDOC,281474976710803 : PanelInputLine
      // Информация: объект "'LbExtAttr: BASEDOC,281474976710803'" типа Label не найден в базовой конфигурации!
      object 'LbExtAttr: BASEDOC,281474976710803' : Label {
        Original = False;
        Title = 'Статья БДР';
        Visible = True;
        Hidden = False;
        HelpLine = '';
        Origin_X = 427;
        Origin_Y = 288;
        Size_X = 63;
        Size_Y = 14;
      } // LbExtAttr: BASEDOC,281474976710803 : Label
      // Информация: объект "'ExtAttr: BASEDOC,281474976710804'" типа PanelInputLine не найден в базовой конфигурации!
      object 'ExtAttr: BASEDOC,281474976710804' : PanelInputLine {
        Original = False;
        Visible = True;
        Hidden = False;
        Protect = True;
        Skip = False;
        StatusCtx = 151;
        FieldName = 'ExtAttr: BASEDOC,281474976710804,5,1502,1502,100,Номер балансового счета';
        Origin_X = 500;
        Origin_Y = 308;
        Size_X = 197;
        Size_Y = 14;
        TextAlign = 0;
        ButtonType = 16;
      } // ExtAttr: BASEDOC,281474976710804 : PanelInputLine
      // Информация: объект "'LbExtAttr: BASEDOC,281474976710804'" типа Label не найден в базовой конфигурации!
      object 'LbExtAttr: BASEDOC,281474976710804' : Label {
        Original = False;
        Title = '№ балансового счета';
        Visible = True;
        Hidden = False;
        HelpLine = '';
        Origin_X = 375;
        Origin_Y = 308;
        Size_X = 115;
        Size_Y = 14;
      } // LbExtAttr: BASEDOC,281474976710804 : Label
      // Информация: объект "'ExtAttr: BASEDOC,281474976710795#1'" типа PanelInputLine не найден в базовой конфигурации!
      object 'ExtAttr: BASEDOC,281474976710795#1' : PanelInputLine {
        Original = False;
        Visible = True;
        Hidden = False;
        Protect = False;
        Skip = False;
        FieldName = 'ExtAttr: BASEDOC,281474976710795,0,0,0,0,Готов к согласованию';
        Origin_X = 1060;
        Origin_Y = 42;
        Size_X = 23;
        Size_Y = 14;
      } // ExtAttr: BASEDOC,281474976710795#1 : PanelInputLine
      // Информация: объект "'LbExtAttr: BASEDOC,281474976710795#1'" типа Label не найден в базовой конфигурации!
      object 'LbExtAttr: BASEDOC,281474976710795#1' : Label {
        Original = False;
        Title = 'На согласование';
        Visible = True;
        Hidden = False;
        HelpLine = '';
        Origin_X = 930;
        Origin_Y = 42;
        Size_X = 90;
        Size_Y = 14;
      } // LbExtAttr: BASEDOC,281474976710795#1 : Label
      // Информация: объект "'ExtAttr: BASEDOC,281474976710791#1'" типа PanelInputLine не найден в базовой конфигурации!
      object 'ExtAttr: BASEDOC,281474976710791#1' : PanelInputLine {
        Original = False;
        Visible = True;
        Hidden = False;
        Protect = True;
        Skip = False;
        StatusCtx = 151;
        FieldName = 'ExtAttr: BASEDOC,281474976710791,5,8512,10005,1,Виза казначейства';
        Origin_X = 1060;
        Origin_Y = 62;
        Size_X = 101;
        Size_Y = 14;
        ButtonType = 16;
      } // ExtAttr: BASEDOC,281474976710791#1 : PanelInputLine
      // Информация: объект "'LbExtAttr: BASEDOC,281474976710791#1'" типа Label не найден в базовой конфигурации!
      object 'LbExtAttr: BASEDOC,281474976710791#1' : Label {
        Original = False;
        Title = 'Виза казначейства';
        Visible = True;
        Hidden = False;
        HelpLine = '';
        Origin_X = 930;
        Origin_Y = 60;
        Size_X = 112;
        Size_Y = 14;
      } // LbExtAttr: BASEDOC,281474976710791#1 : Label
      // Информация: объект "'ExtAttr: BASEDOC,281474976710793#1'" типа PanelInputLine не найден в базовой конфигурации!
      object 'ExtAttr: BASEDOC,281474976710793#1' : PanelInputLine {
        Original = False;
        Visible = True;
        Hidden = False;
        Protect = True;
        Skip = False;
        StatusCtx = 151;
        FieldName = 'ExtAttr: BASEDOC,281474976710793,5,8512,10005,1,Виза бухгалтерии';
        Origin_X = 1060;
        Origin_Y = 82;
        Size_X = 101;
        Size_Y = 14;
        ButtonType = 16;
      } // ExtAttr: BASEDOC,281474976710793#1 : PanelInputLine
      // Информация: объект "'LbExtAttr: BASEDOC,281474976710793#1'" типа Label не найден в базовой конфигурации!
      object 'LbExtAttr: BASEDOC,281474976710793#1' : Label {
        Original = False;
        Title = 'Виза бухгалтерии';
        Visible = True;
        Hidden = False;
        HelpLine = '';
        Origin_X = 930;
        Origin_Y = 82;
        Size_X = 105;
        Size_Y = 14;
      } // LbExtAttr: BASEDOC,281474976710793#1 : Label
      // Информация: объект "'ExtAttr: BASEDOC,281474976710792#1'" типа PanelInputLine не найден в базовой конфигурации!
      object 'ExtAttr: BASEDOC,281474976710792#1' : PanelInputLine {
        Original = False;
        Visible = True;
        Hidden = False;
        Protect = True;
        Skip = False;
        StatusCtx = 151;
        FieldName = 'ExtAttr: BASEDOC,281474976710792,5,8512,10005,1,Виза ПЭУ';
        Origin_X = 1060;
        Origin_Y = 102;
        Size_X = 101;
        Size_Y = 14;
        ButtonType = 16;
      } // ExtAttr: BASEDOC,281474976710792#1 : PanelInputLine
      // Информация: объект "'LbExtAttr: BASEDOC,281474976710792#1'" типа Label не найден в базовой конфигурации!
      object 'LbExtAttr: BASEDOC,281474976710792#1' : Label {
        Original = False;
        Title = 'Виза ПЭУ';
        Visible = True;
        Hidden = False;
        HelpLine = '';
        Origin_X = 930;
        Origin_Y = 102;
        Size_X = 49;
        Size_Y = 14;
      } // LbExtAttr: BASEDOC,281474976710792#1 : Label
      // Информация: объект "'ExtAttr: BASEDOC,281474976710794#1'" типа PanelInputLine не найден в базовой конфигурации!
      object 'ExtAttr: BASEDOC,281474976710794#1' : PanelInputLine {
        Original = False;
        Visible = True;
        Hidden = False;
        Protect = True;
        Skip = False;
        StatusCtx = 151;
        FieldName = 'ExtAttr: BASEDOC,281474976710794,5,8512,10005,1,Виза комерческой дирекции';
        Origin_X = 1060;
        Origin_Y = 122;
        Size_X = 101;
        Size_Y = 14;
        ButtonType = 16;
      } // ExtAttr: BASEDOC,281474976710794#1 : PanelInputLine
      // Информация: объект "'LbExtAttr: BASEDOC,281474976710794#1'" типа Label не найден в базовой конфигурации!
      object 'LbExtAttr: BASEDOC,281474976710794#1' : Label {
        Original = False;
        Title = 'Виза комм. дирекции';
        Visible = True;
        Hidden = False;
        HelpLine = '';
        Origin_X = 930;
        Origin_Y = 122;
        Size_X = 120;
        Size_Y = 14;
      } // LbExtAttr: BASEDOC,281474976710794#1 : Label
      // Информация: объект "'ExtAttr: BASEDOC,281474976710808'" типа PanelInputLine не найден в базовой конфигурации!
      object 'ExtAttr: BASEDOC,281474976710808' : PanelInputLine {
        Original = False;
        Visible = True;
        Hidden = False;
        Protect = False;
        Skip = False;
        FieldName = 'ExtAttr: BASEDOC,281474976710808,0,0,0,0,Примечание казначейства';
        Origin_X = 1170;
        Origin_Y = 62;
        Size_X = 180;
        Size_Y = 14;
      } // ExtAttr: BASEDOC,281474976710808 : PanelInputLine
      // Информация: объект "'ExtAttr: BASEDOC,281474976710807'" типа PanelInputLine не найден в базовой конфигурации!
      object 'ExtAttr: BASEDOC,281474976710807' : PanelInputLine {
        Original = False;
        Visible = True;
        Hidden = False;
        Protect = False;
        Skip = False;
        FieldName = 'ExtAttr: BASEDOC,281474976710807,0,0,0,0,Примечание бухгалтерии';
        Origin_X = 1170;
        Origin_Y = 82;
        Size_X = 180;
        Size_Y = 14;
      } // ExtAttr: BASEDOC,281474976710807 : PanelInputLine
      // Информация: объект "'ExtAttr: BASEDOC,281474976710809'" типа PanelInputLine не найден в базовой конфигурации!
      object 'ExtAttr: BASEDOC,281474976710809' : PanelInputLine {
        Original = False;
        Visible = True;
        Hidden = False;
        Protect = False;
        Skip = False;
        FieldName = 'ExtAttr: BASEDOC,281474976710809,0,0,0,0,Примечание ПЭУ';
        Origin_X = 1170;
        Origin_Y = 102;
        Size_X = 180;
        Size_Y = 14;
      } // ExtAttr: BASEDOC,281474976710809 : PanelInputLine
      // Информация: объект "'ExtAttr: BASEDOC,281474976710810'" типа PanelInputLine не найден в базовой конфигурации!
      object 'ExtAttr: BASEDOC,281474976710810' : PanelInputLine {
        Original = False;
        Visible = True;
        Hidden = False;
        Protect = False;
        Skip = False;
        FieldName = 'ExtAttr: BASEDOC,281474976710810,0,0,0,0,Примечание коммерческой дирекции';
        Origin_X = 1170;
        Origin_Y = 122;
        Size_X = 180;
        Size_Y = 14;
      } // ExtAttr: BASEDOC,281474976710810 : PanelInputLine
      // Информация: объект "'Field: KATORG.UNN'" типа PanelInputLine не найден в базовой конфигурации!
      object 'Field: KATORG.UNN' : PanelInputLine {
        Original = False;
        Visible = True;
        Hidden = False;
        Protect = True;
        Skip = False;
        FieldName = 'Field: KATORG.UNN';
        Origin_X = 115;
        Origin_Y = 122;
        Size_X = 140;
        Size_Y = 14;
        MaxLen = 20;
      } // Field: KATORG.UNN : PanelInputLine
      // Информация: объект "'LbField: KATORG.UNN'" типа Label не найден в базовой конфигурации!
      object 'LbField: KATORG.UNN' : Label {
        Original = False;
        Title = 'ИНН';
        Visible = True;
        Hidden = False;
        HelpLine = '';
        Origin_X = 14;
        Origin_Y = 122;
        Size_X = 23;
        Size_Y = 14;
      } // LbField: KATORG.UNN : Label
      object avNaznpl_vstring : PanelInputLine {
        Original = False;
        Visible = True;
        Hidden = False;
        Protect = False;
        Skip = False;
        PickButton = True;
        FieldName = 'avNaznpl.vstring';
        Origin_X = 163;
        Origin_Y = 302;
        Size_X = 178;
        Size_Y = 14;
      } // AGATNAZNPL : PanelInputLine
      // Информация: объект "LbAGATNAZNPL" типа Label не найден в базовой конфигурации!
      object LbAGATNAZNPL : Label {
        Original = False;
        Title = 'Назначение платежа';
        Visible = True;
        Hidden = False;
        HelpLine = '';
        Origin_X = 14;
        Origin_Y = 302;
        Size_X = 119;
        Size_Y = 14;
      } // LbAGATNAZNPL : Label
      object 'ExtAttr: BASEDOC,281474976712379' : PanelInputLine {
        Original = False;
        Visible = True;
        Hidden = False;
        Protect = True;
        Skip = False;
        StatusCtx = 151;
        FieldName = 'ExtAttr: BASEDOC,281474976712379';
        Origin_X = 998;
        Origin_Y = 182;
        Size_X = 160;
        Size_Y = 14;
        ButtonType = 16;
      }
      object 'LbExtAttr: BASEDOC,281474976712379' : Label {
        Original = False;
        Title = 'Исключение';
        Visible = True;
        Hidden = False;
        HelpLine = '';
        Origin_X = 925;
        Origin_Y = 182;
        Size_X = 64;
        Size_Y = 14;
      }
      object 'ExtAttr: BASEDOC,281474976712380' : PanelInputLine {
        Original = False;
        Visible = True;
        Hidden = False;
        Protect = True;
        Skip = False;
        StatusCtx = 151;
        FieldName = 'ExtAttr: BASEDOC,281474976712380,5,8512,10689,1,ПКБ. СМП и субподрядчики';
        Origin_X = 1046;
        Origin_Y = 202;
        Size_X = 112;
        Size_Y = 14;
        ButtonType = 16;
      }
      object 'LbExtAttr: BASEDOC,281474976712380' : Label {
        Original = False;
        Title = 'СМП и субподрядчики';
        Visible = True;
        Hidden = False;
        HelpLine = '';
        Origin_X = 925;
        Origin_Y = 202;
        Size_X = 114;
        Size_Y = 14;
      }
      object 'ExtAttr: BASEDOC,281474976712381' : PanelInputLine {
        Original = False;
        Visible = True;
        Hidden = False;
        Protect = True;
        Skip = False;
        FieldName = 'ExtAttr: BASEDOC,281474976712381,0,0,0,0,ПКБ. Общее количество договоров';
        Origin_X = 1136;
        Origin_Y = 222;
        Size_X = 22;
        Size_Y = 14;
      }
      object 'LbExtAttr: BASEDOC,281474976712381' : Label {
        Original = False;
        Title = 'Общее количество договоров';
        Visible = True;
        Hidden = False;
        HelpLine = '';
        Origin_X = 925;
        Origin_Y = 222;
        Size_X = 175;
        Size_Y = 14;
      }
      object DaysDeferredPay : PanelInputLine {
        Original = False;
        Visible = True;
        Hidden = False;
        Skip = True;
        FieldName = 'DaysDeferredPay';
        Origin_X = 1140;
        Origin_Y = 270;
        Size_X = 20;
        Size_Y = 14;
      }
      object 'DaysDeferredPayLabel' : Label {
        Original = False;
        Title = 'Количество дней отложенного платежа';
        Visible = True;
        Hidden = False;
        HelpLine = '';
        Origin_X = 925;
        Origin_Y = 270;
        Size_X = 205;
        Size_Y = 14;
      }
      //19.12.17 Переместили вниз, т.к. пересекается с нашими полями
      object i_SCVSCHET2_HOZOPERVIEWNAME: PanelInputLine {
        Origin_Y = 345;
      }
    } // SCVSCHET2 : Screen
  } // WVSCHET : InterfaceWindow
} // L_BASEDOC::VSCHETPB : InterfaceWindow
