object 'L_BASEDOC::VSCHETB' : InterfaceWindow {
  object BRVSCHET : Browser {
    object c_BRVSCHET : Column {
      NoAutoSize = True;
    } // c_BRVSCHET : Column
    object 'c_BRVSCHET_KATORG.NAME_Контрагент' : Column {
      Title = ^C'Плательщик';
      DefaultWidth = 23;
    } // c_BRVSCHET_KATORG.NAME_Контрагент : Column
    object 'c_BRVSCHET_BASEDOC.TOTAL_Сумма_по_документу' : Column {
      DefaultWidth = 13;
    } // c_BRVSCHET_BASEDOC.TOTAL_Сумма_по_документу : Column
    object 'c_BRVSCHET_BATENTRYINGROUP_Г' : Column {
      Visible = False;
      Index = 27;
    } // c_BRVSCHET_BATENTRYINGROUP_Г : Column
    object 'c_BRVSCHET_IMAGEONARCHIVE_А' : Column {
      Visible = False;
      Index = 28;
    } // c_BRVSCHET_IMAGEONARCHIVE_А : Column
  } // BRVSCHET : Browser

//------------------------------------------------------------------------------
  object WVSCHET : InterfaceWindow {

    object BRSPSCHET : Browser {
      object 'AG_Obozn' : Column {
        Original = False;
        Visible = True;
        Hidden = False;
        Protect = True;
        Skip = False;
        StatusCtx = 0;
        Title = 'Конструкторское обозначение';
        HelpLine = '';
        FieldName = 'AG_Obozn';
        DefaultValue = '';
        StringsNull = 0;
        Index = 5;
        DefaultWidth = 17;
      }
      object 'c_BRSPSCHET_SPSTEP.NETTO_Нетто' : Column {
        Hidden = True;
      } // c_BRSPSCHET_SPSTEP.NETTO_Нетто : Column
      object 'c_BRSPSCHET_SPSTEP.MTARA_Тара' : Column {
        Hidden = True;
      } // c_BRSPSCHET_SPSTEP.MTARA_Тара : Column
      object 'c_BRSPSCHET_TTN_MASSA_ALL_Брутто' : Column {
        Hidden = True;
      } // c_BRSPSCHET_TTN_MASSA_ALL_Брутто : Column
      object 'c_BRSPSCHET_SPSTEP.KOLGRM_Кол.мест' : Column {
        Hidden = True;
      } // c_BRSPSCHET_SPSTEP.KOLGRM_Кол.мест : Column
      object 'c_BRSPSCHET_SPSTEP.NVAGON_Номер_вагона' : Column {
        Hidden = True;
      } // c_BRSPSCHET_SPSTEP.NVAGON_Номер_вагона : Column
      object 'c_BRSPSCHET_SPSTEP.NKVIT_Ж/д_квитанция' : Column {
        Hidden = True;
      } // c_BRSPSCHET_SPSTEP.NKVIT_Ж/д_квитанция : Column
      object 'c_BRSPSCHET_SPSTEP.NSERTIF_Марка' : Column {
        Hidden = True;
      } // c_BRSPSCHET_SPSTEP.NSERTIF_Марка : Column
      object 'c_BRSPSCHET_KATPARTY.KOD_Партия_код' : Column {
        Hidden = True;
      } // c_BRSPSCHET_KATPARTY.KOD_Партия_код : Column
      object 'c_BRSPSCHET_SALDTUNE.NAME_Объект_ЦУ' : Column {
        Index = 26;
        DefaultWidth = 13;
      } // c_BRSPSCHET_SALDTUNE.NAME_Объект_ЦУ : Column
      object 'c_BRSPSCHET_VSKAU2_КАУ_2' : Column {
        Title = 'Статья затрат';
        Index = 27;
      } // c_BRSPSCHET_VSKAU2_КАУ_2 : Column
      object 'AG_RasSt' : Column {
        Original = False;
        Visible = True;
        Hidden = False;
        Protect = True;
        Skip = False;
        StatusCtx = 6902;
        Title = 'Расшифровка статьи затрат';
        FieldName = 'AG_RasSt';
        Index = 28;
        ButtonType = 16;
        DefaultWidth = 11;
      }
      object 'c_BRSPSCHET_VSKAU1_КАУ_1' : Column {
        Title = 'Заказ';
        Index = 19;
        DefaultWidth = 22;
      } // c_BRSPSCHET_VSKAU1_КАУ_1 : Column
      object 'AG_RSSpis' : Column {
        Original = False;
        Visible = True;
        Hidden = False;
        Protect = True;
        Skip = False;
        StatusCtx = 6902;
        Title = 'Р/счет списания ДС';
        FieldName = 'AG_RSSpis';
        Index = 29;
        ButtonType = 16;
        DefaultWidth = 11;
      }
      object 'AG_ZakVib' : Column {
        Original = False;
        Visible = True;
        Hidden = False;
        Protect = True;
        Skip = False;
        StatusCtx = 6902;
        Title = 'Заказ выбытия ДС';
        FieldName = 'AG_ZakVib';
        Index = 29;
        ButtonType = 16;
        DefaultWidth = 11;
      }
      object 'AG_Rejim' : Column {
        Original = False;
        Visible = True;
        Hidden = False;
        Protect = True;
        Skip = False;
        StatusCtx = 6902;
        Title = 'Режим использования счета';
        FieldName = 'AG_Rejim';
        Index = 29;
        ButtonType = 16;
        DefaultWidth = 11;
      }
      object 'AG_StVib' : Column {
        Original = False;
        Visible = True;
        Hidden = False;
        Protect = True;
        Skip = False;
        StatusCtx = 6902;
        Title = 'Статья структуры цены по заказу выбытия';
        FieldName = 'AG_StVib';
        Index = 29;
        ButtonType = 16;
        DefaultWidth = 11;
      }
      object contractid : Column {
        Original = False;
        Visible = True;
        Hidden = False;
        Protect = True;
        Skip = False;
        Title = 'Идентификатор контракта';
        FieldName = 'contractid';
        Index = 29;
        DefaultWidth = 14;
      }
      object 'c_BRSPSCHET_VSKAU3_КАУ_3' : Column {
        Title = 'Подразделение';
        Index = 20;
        DefaultWidth = 11;
      } // c_BRSPSCHET_VSKAU3_КАУ_3 : Column
      object 'c_BRSPSCHET_KATPARTY.NAME_Партия_наименование' : Column {
        Title = 'Партия';
        Index = 30;
        DefaultWidth = 13;
      } // c_BRSPSCHET_KATPARTY.NAME_Партия_наименование : Column
      object 'c_BRSPSCHET_VSKAU4_КАУ_4' : Column {
        Title = 'Сотрудник';
      } // c_BRSPSCHET_VSKAU4_КАУ_4 : Column
      object 'AG_VidLic' : Column {
        Original = False;
        Visible = True;
        Hidden = False;
        Protect = True;
        Skip = False;
        StatusCtx = 6902;
        Title = 'Вид лицензий';
        FieldName = 'AG_VidLic';
        Index = 32;
        ButtonType = 16;
        DefaultWidth = 11;
      }
      object 'AG_SrLic' : Column {
        Original = False;
        Visible = True;
        Hidden = False;
        Protect = True;
        Skip = False;
        StatusCtx = 6902;
        Title = 'Срочная/бессрочная лицензия';
        FieldName = 'AG_SrLic';
        Index = 33;
        ButtonType = 16;
        DefaultWidth = 11;
      }
      object LinkedRashdoc : Column {
        Original = False;
        Visible = True;
        Hidden = False;
        Protect = True;
        Skip = False;
        Title = 'Приказ на командировку';
        FieldName = 'LinkedRashdoc';
        Index = 34;
        DefaultWidth = 14;
      }
      object 'c_BRSPSCHET_VSKAU5_КАУ_5' : Column {
        Hidden = True;
      } // c_BRSPSCHET_VSKAU5_КАУ_5 : Column
      object 'c_BRSPSCHET_VSKAU6_КАУ_6' : Column {
        Hidden = True;
      } // c_BRSPSCHET_VSKAU6_КАУ_6 : Column
      object 'c_BRSPSCHET_VSKAU7_КАУ_7' : Column {
        Hidden = True;
      } // c_BRSPSCHET_VSKAU7_КАУ_7 : Column
      object 'c_BRSPSCHET_VSKAU8_КАУ_8' : Column {
        Hidden = True;
      } // c_BRSPSCHET_VSKAU8_КАУ_8 : Column
      object 'c_BRSPSCHET_VSKAU9_КАУ_9' : Column {
        Hidden = True;
      } // c_BRSPSCHET_VSKAU9_КАУ_9 : Column
      object 'c_BRSPSCHET_VSKAU10_КАУ_10' : Column {
        Hidden = True;
      } // c_BRSPSCHET_VSKAU10_КАУ_10 : Column
      object 'c_BRSPSCHET_PLJOBNAME_План_работ' : Column {
        Hidden = True;
      } // c_BRSPSCHET_PLJOBNAME_План_работ : Column
    } // BRSPSCHET : Browser

    object SCVSCHET : Screen {
      object 'i_SCVSCHET_BASEDOC.TIPMONEY' : PanelInputLine {
        Skip = True;
      } // i_SCVSCHET_BASEDOC.TIPMONEY : PanelInputLine
      object 'i_SCVSCHET_BASEDOC.NAME' : PanelInputLine {
        Origin_X = 143;
        Size_X = 555;
      } // i_SCVSCHET_BASEDOC.NAME : PanelInputLine
      object i_SCVSCHET_LKATORGDOGNAME : PanelInputLine {
        Origin_X = 11;
        Origin_Y = 82;
      } // i_SCVSCHET_KATORGDOGNAME : PanelInputLine
      object 'L_SCVSCHET_Поставщик' : Label {
        Origin_Y = 62;
      } // L_SCVSCHET_Поставщик : Label
      object 'i_SCVSCHET_KATORG.NAME' : PanelInputLine {
        Origin_X = 143;
        Origin_Y = 62;
        Size_X = 555;
      } // i_SCVSCHET_KATORG.NAME : PanelInputLine
      object 'i_SCVSCHET_KATBANK.NAME' : PanelInputLine {
        Origin_X = 143;
      } // i_SCVSCHET_KATBANK.NAME : PanelInputLine
      object 'i_SCVSCHET_KATBANK.MFO1' : PanelInputLine {
        Origin_X = 425;
      } // i_SCVSCHET_KATBANK.MFO1 : PanelInputLine
      object i_SCVSCHET_KATBANKDOGROLE : PanelInputLine {
        Hidden = True;
      } // i_SCVSCHET_KATBANKDOGROLE : PanelInputLine
      object 'i_SCVSCHET_KATBANK.MFO2' : PanelInputLine {
        Origin_X = 425;
      } // i_SCVSCHET_KATBANK.MFO2 : PanelInputLine
      object 'i_SCVSCHET_BASEDOC.VHODNAL' : PanelInputLine {
        Origin_X = 422;
        Origin_Y = 184;
      } // i_SCVSCHET_BASEDOC.VHODNAL : PanelInputLine
      object 'L_SCVSCHET_%_к_курсу_на_день_платежа' : Label {
        Origin_X = 925;
        Origin_Y = 163;
      } // L_SCVSCHET_%_к_курсу_на_день_платежа : Label
      object 'i_SCVSCHET_BASEDOC.DOPPROC' : PanelInputLine {
        Origin_X = 1107;
        Origin_Y = 162;
      } // i_SCVSCHET_BASEDOC.DOPPROC : PanelInputLine
      object 'L_SCVSCHET_Форма_расчета' : Label {
        Origin_Y = 242;
      } // L_SCVSCHET_Форма_расчета : Label
      object 'i_SCVSCHET_KATPAYMENT.NAME' : PanelInputLine {
        Origin_Y = 242;
        Size_X = 178;
      } // i_SCVSCHET_KATPAYMENT.NAME : PanelInputLine
      object 'L_SCVSCHET_Тара' : Label {
        Origin_Y = 242;
      } // L_SCVSCHET_Тара : Label
      object 'i_SCVSCHET_BASEDOC.TARAVOZ' : PanelInputLine {
        Origin_Y = 242;
      } // i_SCVSCHET_BASEDOC.TARAVOZ : PanelInputLine
      object 'L_SCVSCHET_Транспортировка' : Label {
        Hidden = True;
      } // L_SCVSCHET_Транспортировка : Label
      object 'i_SCVSCHET_BASEDOC.TYPEDOC' : PanelInputLine {
        Hidden = True;
      } // i_SCVSCHET_BASEDOC.TYPEDOC : PanelInputLine
      object 'L_SCVSCHET_Операция' : Label {
        Visible = False;
      } // L_SCVSCHET_Операция : Label
      object i_SCVSCHET_HOZOPERVIEWNAME : PanelInputLine {
        Visible = False;
      } // i_SCVSCHET_HOZOPERVIEWNAME : PanelInputLine
      object 'Field: KATORG.UNN' : PanelInputLine {
        Original = False;
        Visible = True;
        Hidden = False;
        Protect = False;
        Skip = False;
        FieldName = 'Field: KATORG.UNN';
        Origin_X = 143;
        Origin_Y = 122;
        Size_X = 198;
        Size_Y = 14;
        MaxLen = 20;
      }
      object 'LbField: KATORG.UNN' : Label {
        Original = False;
        Title = 'ИНН';
        Visible = True;
        Hidden = False;
        HelpLine = '';
        Origin_X = 14;
        Origin_Y = 122;
        Size_X = 23;
        Size_Y = 14;
      }
      object 'AG_Avans' : PanelInputLine {
        Original = False;
        Visible = True;
        Hidden = False;
        Protect = True;
        StatusCtx = 6902;
        FieldName = 'AG_Avans';
        Origin_X = 163;
        Origin_Y = 262;
        Size_X = 180;
        Size_Y = 14;
        TextAlign = 0;
        ButtonType = 16;
      }
      object 'LbAG_Avans' : Label {
        Original = False;
        Title = 'Аванс/ок. расчет';
        Visible = True;
        Hidden = False;
        HelpLine = '';
        Origin_X = 14;
        Origin_Y = 262;
        Size_X = 105;
        Size_Y = 14;
      }
      object 'AG_BDR' : PanelInputLine {
        Original = False;
        Visible = True;
        Hidden = False;
        Protect = True;
        StatusCtx = 6902;
        FieldName = 'AG_BDR';
        Origin_X = 163;
        Origin_Y = 282;
        Size_X = 180;
        Size_Y = 14;
        TextAlign = 0;
        ButtonType = 16;
      }
      object 'LbAG_BDR' : Label {
        Original = False;
        Title = 'Статья БДР';
        Visible = True;
        Hidden = False;
        Origin_X = 14;
        Origin_Y = 282;
        Size_X = 100;
        Size_Y = 14;
      }
      object 'AG_BuhSch' : PanelInputLine {
        Original = False;
        Visible = True;
        Hidden = False;
        Protect = True;
        StatusCtx = 6902;
        FieldName = 'AG_BuhSch';
        Origin_X = 163;
        Origin_Y = 302;
        Size_X = 180;
        Size_Y = 14;
        TextAlign = 0;
        ButtonType = 16;
      }
      object 'LbAG_BuhSch' : Label {
        Original = False;
        Title = '№ балансового счета';
        Visible = True;
        Hidden = False;
        Origin_X = 14;
        Origin_Y = 302;
        Size_X = 126;
        Size_Y = 14;
      }
      object 'AG_Ispoln' : PanelInputLine {
        Original = False;
        Visible = True;
        Hidden = False;
        Protect = True;
        StatusCtx = 6902;
        FieldName = 'AG_Ispoln';
        Origin_X = 515;
        Origin_Y = 262;
        Size_X = 180;
        Size_Y = 14;
        ButtonType = 16;
      }
      object 'LbAG_Ispoln' : Label {
        Original = False;
        Title = 'Исполнитель договора';
        Visible = True;
        Hidden = False;
        Origin_X = 370;
        Origin_Y = 262;
        Size_X = 133;
        Size_Y = 14;
      }
      object 'AG_DDS' : PanelInputLine {
        Original = False;
        Visible = True;
        Hidden = False;
        Protect = True;
        StatusCtx = 6902;
        FieldName = 'AG_DDS';
        Origin_X = 515;
        Origin_Y = 282;
        Size_X = 180;
        Size_Y = 14;
        ButtonType = 16;
      }
      object 'LbAG_DDS' : Label {
        Original = False;
        Title = 'Статья ДДС';
        Visible = True;
        Hidden = False;
        HelpLine = '';
        Origin_X = 370;
        Origin_Y = 282;
        Size_X = 63;
        Size_Y = 14;
      }
      object 'AG_BDDS' : PanelInputLine {
        Original = False;
        Visible = True;
        Hidden = False;
        Protect = True;
        StatusCtx = 6902;
        FieldName = 'AG_BDDS';
        Origin_X = 515;
        Origin_Y = 302;
        Size_X = 180;
        Size_Y = 14;
        ButtonType = 16;
      }
      object 'LbAG_BDDS' : Label {
        Original = False;
        Title = 'По БДДС/вне бюджета';
        Visible = True;
        Hidden = False;
        Origin_X = 370;
        Origin_Y = 302;
        Size_X = 126;
        Size_Y = 14;
      }
      object 'AG_Sogl' : PanelInputLine {
        Original = False;
        Visible = True;
        Hidden = False;
        Protect = False;
        FieldName = 'AG_Sogl';
        Origin_X = 1050;
        Origin_Y = 42;
        Size_X = 20;
        Size_Y = 14;
      }
      object 'LbAG_Sogl' : Label {
        Original = False;
        Title = 'На согласование';
        Visible = True;
        Hidden = False;
        Origin_X = 925;
        Origin_Y = 42;
        Size_X = 98;
        Size_Y = 14;
      }
      object 'AG_Kazn' : PanelInputLine {
        Original = False;
        Visible = True;
        Hidden = False;
        Protect = True;
        StatusCtx = 6902;
        FieldName = 'AG_Kazn';
        Origin_X = 1050;
        Origin_Y = 62;
        Size_X = 101;
        Size_Y = 14;
        ButtonType = 16;
      }
      object 'LbAG_Kazn' : Label {
        Original = False;
        Title = 'Виза казначейства';
        Visible = True;
        Hidden = False;
        Origin_X = 925;
        Origin_Y = 62;
        Size_X = 112;
        Size_Y = 14;
      }
      object 'AG_Buh' : PanelInputLine {
        Original = False;
        Visible = True;
        Hidden = False;
        Protect = True;
        StatusCtx = 6902;
        FieldName = 'AG_Buh';
        Origin_X = 1050;
        Origin_Y = 82;
        Size_X = 101;
        Size_Y = 14;
        ButtonType = 16;
      }
      object 'LbAG_Buh' : Label {
        Original = False;
        Title = 'Виза бухгалтерии';
        Visible = True;
        Hidden = False;
        Origin_X = 925;
        Origin_Y = 82;
        Size_X = 105;
        Size_Y = 14;
      }
      object 'AG_PKazn' : PanelInputLine {
        Original = False;
        Visible = True;
        Hidden = False;
        Protect = False;
        FieldName = 'AG_PKazn';
        Origin_X = 1165;
        Origin_Y = 62;
        Size_X = 180;
        Size_Y = 14;
      }
      object 'AG_PBuh' : PanelInputLine {
        Original = False;
        Visible = True;
        Hidden = False;
        Protect = False;
        Skip = False;
        FieldName = 'AG_PBuh';
        Origin_X = 1165;
        Origin_Y = 82;
        Size_X = 180;
        Size_Y = 14;
      }
      object 'AG_Peu' : PanelInputLine {
        Original = False;
        Visible = True;
        Hidden = False;
        Protect = True;
        StatusCtx = 6902;
        FieldName = 'AG_Peu';
        Origin_X = 1050;
        Origin_Y = 102;
        Size_X = 101;
        Size_Y = 14;
        ButtonType = 16;
      }
      object 'LbAG_Peu' : Label {
        Original = False;
        Title = 'Виза ПЭУ';
        Visible = True;
        Hidden = False;
        Origin_X = 925;
        Origin_Y = 102;
        Size_X = 49;
        Size_Y = 14;
      }
      object 'AG_PPeu' : PanelInputLine {
        Original = False;
        Visible = True;
        Hidden = False;
        Protect = False;
        FieldName = 'AG_PPeu';
        Origin_X = 1165;
        Origin_Y = 102;
        Size_X = 180;
        Size_Y = 14;
      }
      object 'AG_Dir' : PanelInputLine {
        Original = False;
        Visible = True;
        Hidden = False;
        Protect = True;
        StatusCtx = 6902;
        FieldName = 'AG_Dir';
        Origin_X = 1050;
        Origin_Y = 122;
        Size_X = 101;
        Size_Y = 14;
        ButtonType = 16;
      }
      object 'LbAG_Dir' : Label {
        Original = False;
        Title = 'Виза комм. дирекции';
        Visible = True;
        Hidden = False;
        Origin_X = 925;
        Origin_Y = 122;
        Size_X = 114;
        Size_Y = 14;
      }
      object 'AG_PDir' : PanelInputLine {
        Original = False;
        Visible = True;
        Hidden = False;
        Protect = False;
        FieldName = 'AG_PDir';
        Origin_X = 1165;
        Origin_Y = 122;
        Size_X = 180;
        Size_Y = 14;
        TextAlign = 0;
      }
      object AG_NaznPl : PanelInputLine {
        Original = False;
        Visible = True;
        Hidden = False;
        Protect = False;
        StatusCtx = 6902;
        PickButton = True;
        FieldName = 'AG_NaznPl';
        Origin_X = 163;
        Origin_Y = 222;
        Size_X = 346;
        Size_Y = 14;
      }
      object 'LbAG_NaznPl' : Label {
        Original = False;
        Title = 'Назначение платежа';
        Visible = True;
        Hidden = False;
        Origin_X = 14;
        Origin_Y = 222;
        Size_X = 119;
        Size_Y = 14;
      }
      object 'AG_ISK' : PanelInputLine {
        Original = False;
        Visible = True;
        Hidden = False;
        Protect = True;
        StatusCtx = 6902;
        FieldName = 'AG_ISK';
        Origin_X = 998;
        Origin_Y = 182;
        Size_X = 160;
        Size_Y = 14;
        ButtonType = 16;
      }
      object 'LbAG_ISK' : Label {
        Original = False;
        Title = 'Исключение';
        Visible = True;
        Hidden = False;
        Origin_X = 925;
        Origin_Y = 182;
        Size_X = 64;
        Size_Y = 14;
      }
      object 'AG_SMP' : PanelInputLine {
        Original = False;
        Visible = True;
        Hidden = False;
        Protect = True;
        StatusCtx = 6902;
        FieldName = 'AG_SMP';
        Origin_X = 1046;
        Origin_Y = 202;
        Size_X = 112;
        Size_Y = 14;
        ButtonType = 16;
      }
      object 'LbAG_SMP' : Label {
        Original = False;
        Title = 'СМП и субподрядчики';
        Visible = True;
        Hidden = False;
        Origin_X = 925;
        Origin_Y = 202;
        Size_X = 114;
        Size_Y = 14;
      }
      object 'AG_KolDog' : PanelInputLine {
        Original = False;
        Visible = True;
        Hidden = False;
        Protect = True;
        FieldName = 'AG_KolDog';
        Origin_X = 1136;
        Origin_Y = 222;
        Size_X = 22;
        Size_Y = 14;
      }
      object 'LbAG_KolDog' : Label {
        Original = False;
        Title = 'Общее количество договоров';
        Visible = True;
        Hidden = False;
        Origin_X = 925;
        Origin_Y = 222;
        Size_X = 175;
        Size_Y = 14;
      }
      object DaysDeferredPay : PanelInputLine {
        Original = False;
        Visible = True;
        Hidden = False;
        Skip = True;
        FieldName = 'DaysDeferredPay';
        Origin_X = 1140;
        Origin_Y = 270;
        Size_X = 20;
        Size_Y = 14;
      }
      object 'lbDaysDeferredPay' : Label {
        Original = False;
        Title = 'Количество дней отложенного платежа';
        Visible = True;
        Hidden = False;
        HelpLine = '';
        Origin_X = 925;
        Origin_Y = 270;
        Size_X = 205;
        Size_Y = 14;
      }
    } // SCVSCHET : Screen

  } // WVSCHET : InterfaceWindow


} // L_BASEDOC::VSCHETB : InterfaceWindow
