object 'L_BASEDOC::VSCHET' : InterfaceWindow {
  object BRVSCHET : Browser {
    object 'Field: BASEDOC.NAME' : Column {
      Original = False;
      Visible = True;
      Hidden = False;
      Protect = True;
      Skip = False;
      Title = 'Примечание';
      FieldName = 'Field: BASEDOC.NAME';
      Index = 7;
      DefaultWidth = 26;
    } // Field: BASEDOC.NAME : Column
    object vskau1 : Column {
      Original = False;
      Visible = True;
      Hidden = False;
      Protect = True;
      Skip = False;
      UpCase = False;
      Password = False;
      NoValidCheck = True;
      StatusCtx = 16;
      Title = 'ЗАКАЗ';
      HelpLine = '';
      FieldName = 'vskau1';
      StringsNull = 0;
      Index = 20;
      DefaultWidth = 26;
      TextAlign = 0;
      ButtonType = 0;
      DefaultPickButton = False;
      HeaderAlign = 3;
    } // vskau1 : Column
  } // BRVSCHET : Browser
  object WVSCHET : InterfaceWindow {
    object BRSPSCHET : Browser {
      StatusCtx = 6901;
      object 'c_BRSPSCHET_VSKAU1_КАУ_1' : Column {
        Title = 'Заказ';
        Index = 21;
      } // c_BRSPSCHET_VSKAU1_КАУ_1 : Column
      object 'c_BRSPSCHET_VSKAU3_КАУ_3' : Column {
        Title = 'Подразделение';
        Index = 22;
      } // c_BRSPSCHET_VSKAU3_КАУ_3 : Column
      object 'c_BRSPSCHET_SALDTUNE.NAME_Объект_ЦУ' : Column {
        Index = 23;
      } // c_BRSPSCHET_SALDTUNE.NAME_Объект_ЦУ : Column
      object 'c_BRSPSCHET_VSKAU2_КАУ_2' : Column {
        Title = 'Статья затрат';
        Index = 24;
      } // c_BRSPSCHET_VSKAU2_КАУ_2 : Column
      object contractid : Column {
        Original = False;
        Visible = True;
        Hidden = False;
        Protect = True;
        Skip = False;
        Title = 'Идентификатор контракта';
        FieldName = 'contractid';
        Index = 29;
        DefaultWidth = 14;
      }
      object 'if(SpStep.PrMc = 2, KatUsl.Obozn, KatMc.Obozn)' : Column {
        Original = False;
        Visible = True;
        Hidden = False;
        Protect = True;
        Skip = False;
        UpCase = False;
        Password = False;
        NoValidCheck = True;
        StatusCtx = 0;
        Title = 'Конструкторское обозначение';
        HelpLine = '';
        FieldName = 'if(SpStep.PrMc = 2, KatUsl.Obozn, KatMc.Obozn)';
        DefaultValue = '';
        StringsNull = 0;
        Index = 5;
        DefaultWidth = 17;
        TextAlign = 0;
        ButtonType = 0;
        DefaultPickButton = False;
        SpinInc = 0.0;
        SpinMin = 0.0;
        SpinMax = 0.0;
        NoAutoSize = False;
        PassiveFormat = '';
        Points = 0;
        MaxLen = 150;
        PrecisionVarName = '';
        HistoryID = 0;
        DropTarget = False;
        DropSource = False;
        FixedState = 0;
        EditButton = False;
      }
      object 'c_BRSPSCHET_VSKAU4_КАУ_4' : Column {
        Hidden = True;
      } // c_BRSPSCHET_VSKAU4_КАУ_4 : Column
      object 'c_BRSPSCHET_VSKAU5_КАУ_5' : Column {
        Hidden = True;
      } // c_BRSPSCHET_VSKAU5_КАУ_5 : Column
      object 'c_BRSPSCHET_VSKAU6_КАУ_6' : Column {
        Hidden = True;
      } // c_BRSPSCHET_VSKAU6_КАУ_6 : Column
      object 'c_BRSPSCHET_VSKAU7_КАУ_7' : Column {
        Hidden = True;
      } // c_BRSPSCHET_VSKAU7_КАУ_7 : Column
      object 'c_BRSPSCHET_VSKAU8_КАУ_8' : Column {
        Hidden = True;
      } // c_BRSPSCHET_VSKAU8_КАУ_8 : Column
      object 'c_BRSPSCHET_VSKAU9_КАУ_9' : Column {
        Hidden = True;
      } // c_BRSPSCHET_VSKAU9_КАУ_9 : Column
      object 'c_BRSPSCHET_VSKAU10_КАУ_10' : Column {
        Hidden = True;
      } // c_BRSPSCHET_VSKAU10_КАУ_10 : Column
      object 'c_BRSPSCHET_PLJOBNAME_План_работ' : Column {
        Hidden = True;
      } // c_BRSPSCHET_PLJOBNAME_План_работ : Column
    } // BRSPSCHET : Browser
    object SCVSCHET : Screen {
      object 'L_SCVSCHET_Транспортировка' : Label {
        Hidden = True;
        Origin_X = 13;
      } // L_SCVSCHET_Транспортировка : Label
      object 'i_SCVSCHET_BASEDOC.TYPEDOC' : PanelInputLine {
        Hidden = True;
      } // i_SCVSCHET_BASEDOC.TYPEDOC : PanelInputLine
      object 'i_SCVSCHET_HOZOPERVIEWNAME' : PanelInputLine {
        Visible = False;
      } // i_SCVSCHET_HOZOPERVIEWNAME : PanelInputLine
      // Информация: объект "'ExtAttr: BASEDOC,281474976710747'" типа PanelInputLine не найден в базовой конфигурации!
      object 'ExtAttr: BASEDOC,281474976710747' : PanelInputLine {
        Original = False;
        Visible = True;
        Hidden = False;
        Protect = True;
        NoValidCheck = True;
        StatusCtx = 151;
        FieldName = 'ExtAttr: BASEDOC,281474976710747,5,1413,2,0,Исполнитель договора';
        Origin_X = 515;
        Origin_Y = 282;
        Size_X = 183;
        Size_Y = 14;
        TextAlign = 0;
        ButtonType = 16;
      } // ExtAttr: BASEDOC,281474976710747 : PanelInputLine
      // Информация: объект "'LbExtAttr: BASEDOC,281474976710747'" типа Label не найден в базовой конфигурации!
      object 'LbExtAttr: BASEDOC,281474976710747' : Label {
        Original = False;
        Title = 'Исполнитель договора';
        Visible = True;
        Hidden = False;
        HelpLine = '';
        Origin_X = 370;
        Origin_Y = 282;
        Size_X = 133;
        Size_Y = 14;
      } // LbExtAttr: BASEDOC,281474976710747 : Label
      // Информация: объект "'ExtAttr: BASEDOC,281474976710799'" типа PanelInputLine не найден в базовой конфигурации!
      object 'ExtAttr: BASEDOC,281474976710799' : PanelInputLine {
        Original = False;
        Visible = True;
        Hidden = False;
        Protect = True;
        Skip = False;
        StatusCtx = 151;
        FieldName = 'ExtAttr: BASEDOC,281474976710799,5,8512,10009,1,Статья ДДС';
        Origin_X = 515;
        Origin_Y = 302;
        Size_X = 183;
        Size_Y = 14;
        TextAlign = 0;
        ButtonType = 16;
      } // ExtAttr: BASEDOC,281474976710799 : PanelInputLine
      // Информация: объект "'LbExtAttr: BASEDOC,281474976710799'" типа Label не найден в базовой конфигурации!
      object 'LbExtAttr: BASEDOC,281474976710799' : Label {
        Original = False;
        Title = 'Статья ДДС';
        Visible = True;
        Hidden = False;
        HelpLine = '';
        Origin_X = 370;
        Origin_Y = 302;
        Size_X = 63;
        Size_Y = 14;
      } // LbExtAttr: BASEDOC,281474976710799 : Label
    } // SCVSCHET : Screen
  } // WVSCHET : InterfaceWindow
} // L_BASEDOC::VSCHET : InterfaceWindow
