object 'Z_SREDN::ZBLISNET1' : InterfaceWindow {
  object BRBLISNET1_ALL : Browser {
    ViewFlags = 6;
    RowColorDark = 10;
    VerDelimiterWidth = 2;
    object 'c_BRBLISNET1_ALL_ICONELN1_Э' : Column {
      NoAutoSize = True;
    } // c_BRBLISNET1_ALL_ICONELN1_Э : Column
    object 'c_BRBLISNET1_ALL_BLISNET.STRTABN_Таб._номер' : Column {
      Visible = False;
    } // c_BRBLISNET1_ALL_BLISNET.STRTABN_Таб._номер : Column
    object 'c_BRBLISNET1_ALL_PERSONS.FIO_Фамилия_имя_отчество' : Column {
      Visible = False;
    } // c_BRBLISNET1_ALL_PERSONS.FIO_Фамилия_имя_отчество : Column
    object 'c_BRBLISNET1_ALL_BLANKBLN.DATEEND_Окончание' : Column {
      Hidden = True;
    } // c_BRBLISNET1_ALL_BLANKBLN.DATEEND_Окончание : Column
    // Информация: объект "'BLISNET.DATOK'" типа Column не найден в базовой конфигурации!
    object 'BLISNET.DATOK' : Column {
      Original = False;
      Visible = True;
      Hidden = False;
      Protect = True;
      Skip = True;
      UpCase = False;
      Password = False;
      NoValidCheck = True;
      StatusCtx = 16;
      Title = 'Окончание ';
      HelpLine = 'Дата окончания больничного ';
      FieldName = 'BLISNET.DATOK';
      DefaultValue = '';
      Strings = ( // Список строк
      )
      StringsNull = 0;
      Index = 11;
      DefaultWidth = 11;
      TextAlign = 0;
      ButtonType = 256;
      DefaultPickButton = False;
      SpinInc = 0.0;
      SpinMin = 0.0;
      SpinMax = 0.0;
      NoAutoSize = False;
      EnumValues = ( // Список целых
      )
      PassiveFormat = '';
      Points = 0;
      MaxLen = 10;
      PrecisionVarName = '';
      HistoryID = 0;
      DropTarget = False;
      DropSource = False;
      FontBold = 'Значение не определено или не известно.';
      FontItalic = 'Значение не определено или не известно.';
      FontUnderline = 'Значение не определено или не известно.';
      FontStrikeout = 'Значение не определено или не известно.';
      FontColor = 'Значение не определено или не известно.';
      FontBackColor = 'Значение не определено или не известно.';
      InputMask = 'Значение не определено или не известно.';
      FixedState = 0;
      EditButton = False;
      Hyperlink = False;
      LessValue = False;
      HeaderImageName = '';
      CurRowFontBold = 'Значение не определено или не известно.';
      CurRowFontItalic = 'Значение не определено или не известно.';
      CurRowFontUnderline = 'Значение не определено или не известно.';
      CurRowFontStrikeout = 'Значение не определено или не известно.';
      CurRowFontColor = 'Значение не определено или не известно.';
      CurRowFontBackColor = 'Значение не определено или не известно.';
      HeaderAlign = 3;
    } // BLISNET.DATOK : Column
  } // BRBLISNET1_ALL : Browser
  object BRBLANKBLN : Browser {
    ViewFlags = 6;
    RowColorDark = 10;
    VerDelimiterWidth = 2;
    object c_BRBLANKBLN_FBLISNETREPFR : Column {
      NoAutoSize = True;
    } // c_BRBLANKBLN_FBLISNETREPFR : Column
    object 'c_BRBLANKBLN_IMAGEONARCHIVE_А' : Column {
      Visible = False;
    } // c_BRBLANKBLN_IMAGEONARCHIVE_А : Column
  } // BRBLANKBLN : Browser
} // Z_SREDN::ZBLISNET1 : InterfaceWindow
//- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

//-----------------------------------------------------------------------------
