object 'F_FPOBOROT::EDITFPOBOROT' : InterfaceWindow {
  object MYBROW : Browser {
    object 'if(getanykau(0, KATH.WANDOC[1], KATH.CANDOC[1]), givenanname(1),'''')' : Column {
      Original = False;
      Visible = True;
      Hidden = False;
      Protect = True;
      Skip = False;
      Title = 'Аналитика 1';
      FieldName = 'if(getanykau(0, KATH.WANDOC[1], KATH.CANDOC[1]), givenanname(1),'''')';
      Index = 13;
      DefaultWidth = 7;
    }
    object 'if(getanykau(0, KATH.WANDOC[2], KATH.CANDOC[2]), givenanname(1),'''')' : Column {
      Original = False;
      Visible = True;
      Hidden = False;
      Protect = True;
      Skip = False;
      Title = 'Аналитика 2';
      FieldName = 'if(getanykau(0, KATH.WANDOC[2], KATH.CANDOC[2]), givenanname(1),'''')';
      Index = 14;
      DefaultWidth = 7;
    }
    object 'if(getanykau(0, KATH.WANDOC[3], KATH.CANDOC[3]), givenanname(1),'''')' : Column {
      Original = False;
      Visible = True;
      Hidden = False;
      Protect = True;
      Skip = False;
      Title = 'Аналитика 3';
      FieldName = 'if(getanykau(0, KATH.WANDOC[3], KATH.CANDOC[3]), givenanname(1),'''')';
      Index = 15;
      DefaultWidth = 7;
    }
  } // MYBROW : Browser
} // F_FPOBOROT::EDITFPOBOROT : InterfaceWindow
//-----------------------------------------------------------------------------
