object 'F_GETAN::GTCGKAU_OS' : InterfaceWindow {
  Title = 'Основные средства ';
  Centered = True;
  object BRGETKAU : Browser {
    StatusCtx = 6936;
    object c_BRGETKAU_PICKED_V : Column {
      Visible = False;
    } // c_BRGETKAU_PICKED_V : Column
    // Информация: объект "'Field: KATOS.REGNUM'" типа Column не найден в базовой конфигурации!
    object 'Field: KATOS.REGNUM' : Column {
      Original = False;
      Visible = True;
      Hidden = False;
      Protect = True;
      Skip = False;
      UpCase = False;
      Password = False;
      NoValidCheck = True;
      StatusCtx = 0;
      Title = 'Регистр.номер';
      HelpLine = '';
      FieldName = 'Field: KATOS.REGNUM';
      DefaultValue = '';
      Strings = ( // Список строк
      )
      StringsNull = 0;
      Index = 4;
      DefaultWidth = 16;
    } // Field: KATOS.REGNUM : Column
  } // BRGETKAU : Browser
  object TRGETKAU : TreeBrowser {
    object c_TRGETKAU_PICKED_V : TreeColumn {
      Visible = False;
    } // c_TRGETKAU_PICKED_V : TreeColumn
    // Информация: объект "'Field: KATOS.REGNUM#1'" типа TreeColumn не найден в базовой конфигурации!
    object 'Field: KATOS.REGNUM#1' : TreeColumn {
      Original = False;
      Visible = True;
      Hidden = False;
      Protect = True;
      Skip = False;
      UpCase = False;
      Password = False;
      NoValidCheck = True;
      StatusCtx = 0;
      Title = 'Регистр.номер';
      HelpLine = '';
      FieldName = 'Field: KATOS.REGNUM';
      DefaultValue = '';
      Strings = ( // Список строк
      )
      StringsNull = 0;
      Size_X = 105;
      Index = 4;
      DefaultWidth = 16;
      MaxLen = 15;
    } // Field: KATOS.REGNUM#1 : TreeColumn
    // Информация: объект "'GETKAUREFFNAME('KATOS',KATOS.NREC,10004)         '" типа TreeColumn не найден в базовой конфигурации!
    object 'GETKAUREFFNAME(''KATOS'',KATOS.NREC,10004)         ' : TreeColumn {
      Original = False;
      Visible = True;
      Hidden = False;
      Protect = True;
      Skip = False;
      UpCase = False;
      Password = False;
      NoValidCheck = True;
      StatusCtx = 16;
      Title = 'Место хранения';
      HelpLine = '';
      FieldName = 'GETKAUREFFNAME(''KATOS'',KATOS.NREC,10004)         ';
      DefaultValue = '';
      Strings = ( // Список строк
      )
      StringsNull = 0;
      Size_X = 171;
      Index = 5;
      DefaultWidth = 26;
      TextAlign = 0;
      ButtonType = 0;
      DefaultPickButton = False;
      SpinInc = 0.0;
      SpinMin = 0.0;
      SpinMax = 0.0;
      NoAutoSize = False;
      EnumValues = ( // Список целых
      )
      PassiveFormat = '';
      Points = 0;
      MaxLen = 255;
      PrecisionVarName = '';
      HistoryID = 0;
      DropTarget = False;
      DropSource = False;
      FixedState = 0;
      EditButton = False;
      FontBold = 'Значение не определено или не известно.';
      FontItalic = 'Значение не определено или не известно.';
      FontUnderline = 'Значение не определено или не известно.';
      FontStrikeout = 'Значение не определено или не известно.';
      FontColor = 'Значение не определено или не известно.';
      FontBackColor = 'Значение не определено или не известно.';
      Hyperlink = False;
      HeaderImageName = '';
      CurRowFontBold = 'Значение не определено или не известно.';
      CurRowFontItalic = 'Значение не определено или не известно.';
      CurRowFontUnderline = 'Значение не определено или не известно.';
      CurRowFontStrikeout = 'Значение не определено или не известно.';
      CurRowFontColor = 'Значение не определено или не известно.';
      CurRowFontBackColor = 'Значение не определено или не известно.';
      HeaderAlign = 3;
    } // GETKAUREFFNAME('KATOS',KATOS.NREC,10004)          : TreeColumn
  } // TRGETKAU : TreeBrowser
} // F_GETAN::GTCGKAU_OS : InterfaceWindow
//-----------------------------------------------------------------------------
object 'F_MBP::CART_MBP' : InterfaceWindow {
  Centered = True;
  object WORKEDITMBPWINDOW : InterfaceWindow {
    Centered = True;
    object MBPINBROWSE : Browser {
      object 'c_MBPINBROWSE_MBPIN.DIN_Дата' : Column {
        TextAlign = 3;
      } // c_MBPINBROWSE_MBPIN.DIN_Дата : Column
      object 'c_MBPINBROWSE_KATPODR.NAME_Подразделение' : Column {
        DefaultWidth = 5;
      } // c_MBPINBROWSE_KATPODR.NAME_Подразделение : Column
      object 'c_MBPINBROWSE_KATMOL.NAME_МОЛ' : Column {
        DefaultWidth = 5;
      } // c_MBPINBROWSE_KATMOL.NAME_МОЛ : Column
      object 'c_MBPINBROWSE_BRPERSONS.FIO_Работник' : Column {
        Visible = False;
      } // c_MBPINBROWSE_BRPERSONS.FIO_Работник : Column
      // Информация: объект "'ExtAttr: MBPIN,281474976710922'" типа Column не найден в базовой конфигурации!
      object 'ExtAttr: MBPIN,281474976710922' : Column {
        Original = False;
        Visible = True;
        Hidden = False;
        Protect = False;
        Skip = False;
        UpCase = False;
        Password = False;
        NoValidCheck = True;
        StatusCtx = 150;
        Title = 'Заказ*';
        HelpLine = '';
        FieldName = 'ExtAttr: MBPIN,281474976710922,5,2101,40,0,Заказ';
        DefaultValue = '';
        Strings = ( // Список строк
        )
        StringsNull = 0;
        Index = 8;
        DefaultWidth = 26;
      } // ExtAttr: MBPIN,281474976710922 : Column
      // Информация: объект "'ExtAttr: MBPIN,281474976710760'" типа Column не найден в базовой конфигурации!
      object 'ExtAttr: MBPIN,281474976710760' : Column {
        Original = False;
        Visible = True;
        Hidden = False;
        Protect = False;
        Skip = False;
        UpCase = False;
        Password = False;
        NoValidCheck = True;
        StatusCtx = 145;
        Title = 'Штрихкод';
        HelpLine = '';
        FieldName = 'ExtAttr: MBPIN,281474976710760,0,0,0,0,Инвентарный номер';
        DefaultValue = '';
        Strings = ( // Список строк
        )
        StringsNull = 0;
        Index = 9;
        DefaultWidth = 17;
        TextAlign = 3;
        ButtonType = 16;
        DefaultPickButton = True;
      } // ExtAttr: MBPIN,281474976710760 : Column
      // Информация: объект "'ExtAttr: MBPIN,281474976710761'" типа Column не найден в базовой конфигурации!
      object 'ExtAttr: MBPIN,281474976710761' : Column {
        Original = False;
        Visible = True;
        Hidden = False;
        Protect = True;
        Skip = False;
        UpCase = False;
        Password = False;
        NoValidCheck = True;
        StatusCtx = 150;
        Title = 'Место хранения';
        HelpLine = '';
        FieldName = 'ExtAttr: MBPIN,281474976710761,5,8512,10004,1,Место хранения';
        DefaultValue = '';
        Strings = ( // Список строк
        )
        StringsNull = 0;
        Index = 10;
        DefaultWidth = 26;
        TextAlign = 0;
        ButtonType = 16;
        DefaultPickButton = True;
      } // ExtAttr: MBPIN,281474976710761 : Column
      // Информация: объект "'ExtAttr: MBPIN,281474976710764'" типа Column не найден в базовой конфигурации!
      object 'ExtAttr: MBPIN,281474976710764' : Column {
        Original = False;
        Visible = True;
        Hidden = False;
        Protect = True;
        Skip = False;
        UpCase = False;
        Password = False;
        NoValidCheck = True;
        StatusCtx = 150;
        Title = 'Место хранения новое';
        HelpLine = '';
        FieldName = 'ExtAttr: MBPIN,281474976710764,5,8512,10004,1,Место хранения новое';
        DefaultValue = '';
        Strings = ( // Список строк
        )
        StringsNull = 0;
        Index = 11;
        DefaultWidth = 26;
        TextAlign = 0;
        ButtonType = 16;
        DefaultPickButton = True;
      } // ExtAttr: MBPIN,281474976710764 : Column
      // Информация: объект "'ExtAttr: MBPIN,281474976710765'" типа Column не найден в базовой конфигурации!
      object 'ExtAttr: MBPIN,281474976710765' : Column {
        Original = False;
        Visible = True;
        Hidden = False;
        Protect = True;
        Skip = False;
        UpCase = False;
        Password = False;
        NoValidCheck = True;
        StatusCtx = 145;
        Title = 'Инв-ция, опред. место хранения';
        HelpLine = '';
        FieldName = 'ExtAttr: MBPIN,281474976710765,0,0,0,0,Место хранения инвентаризация';
        DefaultValue = '';
        Strings = ( // Список строк
        )
        StringsNull = 0;
        Index = 12;
        DefaultWidth = 26;
      } // ExtAttr: MBPIN,281474976710765 : Column
    } // MBPINBROWSE : Browser
      // Информация: объект "'ExtAttr: MBPIN,281474976710760#1'" типа PanelInputLine не найден в базовой конфигурации!
    object MBPINPODRSCREEN : Screen {
      object 'ExtAttr: MBPIN,281474976710760#1' : PanelInputLine {
        Original = False;
        Visible = True;
        Hidden = False;
        Protect = False;
        Skip = False;
        UpCase = False;
        Password = False;
        NoValidCheck = True;
        LessNull = False;
        StatusCtx = 145;
        Strings = ( // Список строк
        )
        StringsNull = 0;
        HelpLine = '';
        FieldName = 'ExtAttr: MBPIN,281474976710760,0,0,0,0,Инвентарный номер';
        DefaultValue = '';
        Origin_X = 943;
        Origin_Y = 6;
        Size_X = 189;
        Size_Y = 14;
      } // ExtAttr: MBPIN,281474976710760#1 : PanelInputLine
      // Информация: объект "'LbExtAttr: MBPIN,281474976710760#1'" типа Label не найден в базовой конфигурации!
      object 'LbExtAttr: MBPIN,281474976710760#1' : Label {
        Original = False;
        Title = 'Инв. номер прихода';
        Visible = True;
        Hidden = False;
        HelpLine = '';
        Origin_X = 816;
        Origin_Y = 4;
        Size_X = 119;
        Size_Y = 14;
      } // LbExtAttr: MBPIN,281474976710760#1 : Label
      // Информация: объект "'ExtAttr: MBPIN,281474976710761#1'" типа PanelInputLine не найден в базовой конфигурации!
      object 'ExtAttr: MBPIN,281474976710761#1' : PanelInputLine {
        Original = False;
        Visible = True;
        Hidden = False;
        Protect = True;
        Skip = False;
        UpCase = False;
        Password = False;
        NoValidCheck = True;
        LessNull = False;
        StatusCtx = 150;
        Strings = ( // Список строк
        )
        StringsNull = 0;
        HelpLine = '';
        FieldName = 'ExtAttr: MBPIN,281474976710761,5,8512,10004,1,Место хранения';
        DefaultValue = '';
        Origin_X = 943;
        Origin_Y = 28;
        Size_X = 191;
        Size_Y = 14;
        TextAlign = 0;
        ButtonType = 16;
      } // ExtAttr: MBPIN,281474976710761#1 : PanelInputLine
      // Информация: объект "'LbExtAttr: MBPIN,281474976710761#1'" типа Label не найден в базовой конфигурации!
      object 'LbExtAttr: MBPIN,281474976710761#1' : Label {
        Original = False;
        Title = 'Место хранения';
        Visible = True;
        Hidden = False;
        HelpLine = '';
        Origin_X = 816;
        Origin_Y = 23;
        Size_X = 91;
        Size_Y = 14;
      } // LbExtAttr: MBPIN,281474976710761#1 : Label
      // Информация: объект "'ExtAttr: MBPIN,281474976710764#1'" типа PanelInputLine не найден в базовой конфигурации!
      object 'ExtAttr: MBPIN,281474976710764#1' : PanelInputLine {
        Original = False;
        Visible = True;
        Hidden = False;
        Protect = True;
        Skip = False;
        UpCase = False;
        Password = False;
        NoValidCheck = True;
        LessNull = False;
        StatusCtx = 150;
        Strings = ( // Список строк
        )
        StringsNull = 0;
        HelpLine = '';
        FieldName = 'ExtAttr: MBPIN,281474976710764,5,8512,10004,1,Место хранения новое';
        DefaultValue = '';
        Origin_X = 958;
        Origin_Y = 47;
        Size_X = 176;
        Size_Y = 14;
        TextAlign = 0;
        ButtonType = 16;
      } // ExtAttr: MBPIN,281474976710764#1 : PanelInputLine
      // Информация: объект "'LbExtAttr: MBPIN,281474976710764#1'" типа Label не найден в базовой конфигурации!
      object 'LbExtAttr: MBPIN,281474976710764#1' : Label {
        Original = False;
        Title = 'Место хранения новое';
        Visible = True;
        Hidden = False;
        HelpLine = '';
        Origin_X = 815;
        Origin_Y = 45;
        Size_X = 133;
        Size_Y = 14;
      } // LbExtAttr: MBPIN,281474976710764#1 : Label
      // Информация: объект "'ExtAttr: MBPIN,281474976710765#1'" типа PanelInputLine не найден в базовой конфигурации!
      object 'ExtAttr: MBPIN,281474976710765#1' : PanelInputLine {
        Original = False;
        Visible = True;
        Hidden = False;
        Protect = True;
        Skip = False;
        UpCase = False;
        Password = False;
        NoValidCheck = True;
        LessNull = False;
        StatusCtx = 145;
        Strings = ( // Список строк
        )
        StringsNull = 0;
        HelpLine = '';
        FieldName = 'ExtAttr: MBPIN,281474976710765,0,0,0,0,Место хранения инвентаризация';
        DefaultValue = '';
        Origin_X = 817;
        Origin_Y = 84;
        Size_X = 315;
        Size_Y = 14;
      } // ExtAttr: MBPIN,281474976710765#1 : PanelInputLine
      // Информация: объект "'LbExtAttr: MBPIN,281474976710765#1'" типа Label не найден в базовой конфигурации!
      object 'LbExtAttr: MBPIN,281474976710765#1' : Label {
        Original = False;
        Title = 'Инв-ция, опред. новое место хранения';
        Visible = True;
        Hidden = False;
        HelpLine = '';
        Origin_X = 816;
        Origin_Y = 67;
        Size_X = 245;
        Size_Y = 14;
      } // LbExtAttr: MBPIN,281474976710765#1 : Label
    } // MBPINPODRSCREEN : Screen
  } // WORKEDITMBPWINDOW : InterfaceWindow
} // F_MBP::CART_MBP : InterfaceWindow
//-----------------------------------------------------------------------------
object 'F_MBP::LINE_MBP' : InterfaceWindow {
  Title = 'Выбор предметов (по всем карточкам, по всем работникам)';
  Centered = True;
  object BROWSEMBPIN : Browser {
    object c_BROWSEMBPIN_TOCALLCOUNT : Column {
      Visible = False;
    } // c_BROWSEMBPIN_TOCALLCOUNT : Column
    // Информация: объект "'ExtAttr: MBPIN,281474976710760'" типа Column не найден в базовой конфигурации!
    object 'ExtAttr: MBPIN,281474976710760' : Column {
      Original = False;
      Visible = True;
      Hidden = False;
      Protect = True;
      Skip = False;
      UpCase = False;
      Password = False;
      NoValidCheck = True;
      StatusCtx = 145;
      Title = 'Штрихкод';
      HelpLine = '';
      FieldName = 'ExtAttr: MBPIN,281474976710760,0,0,0,0,Инвентарный номер';
      DefaultValue = '';
      Strings = ( // Список строк
      )
      StringsNull = 0;
      Index = 12;
      DefaultWidth = 26;
    } // ExtAttr: MBPIN,281474976710760 : Column
    // Информация: объект "'ExtAttr: MBPIN,281474976710761'" типа Column не найден в базовой конфигурации!
    object 'ExtAttr: MBPIN,281474976710761' : Column {
      Original = False;
      Visible = True;
      Hidden = False;
      Protect = True;
      Skip = False;
      UpCase = False;
      Password = False;
      NoValidCheck = True;
      StatusCtx = 150;
      Title = 'Место хранения';
      HelpLine = '';
      FieldName = 'ExtAttr: MBPIN,281474976710761,5,8512,10004,1,Место хранения';
      DefaultValue = '';
      Strings = ( // Список строк
      )
      StringsNull = 0;
      Index = 13;
      DefaultWidth = 26;
    } // ExtAttr: MBPIN,281474976710761 : Column
  } // BROWSEMBPIN : Browser
} // F_MBP::LINE_MBP : InterfaceWindow
//-----------------------------------------------------------------------------
object 'F_MBP::MOVE_MBP' : InterfaceWindow {
  Title = 'Внутреннее перемещение';
  Centered = True;
  object GETMBPMOVEMOVE : Browser {
    object 'c_GETMBPMOVEMOVE_SUMOFDOC_Сумма' : Column {
      Title = ^C'Сумма(руб.)';
    } // c_GETMBPMOVEMOVE_SUMOFDOC_Сумма : Column
  } // GETMBPMOVEMOVE : Browser
  object GETMBPMOVEEXPL : Browser {
    object 'c_GETMBPMOVEEXPL_SUMOFDOC_Сумма' : Column {
      Title = ^C'Сумма(руб.)';
    } // c_GETMBPMOVEEXPL_SUMOFDOC_Сумма : Column
  } // GETMBPMOVEEXPL : Browser
  object GETMBPMOVEPRICE : Browser {
    object 'c_GETMBPMOVEPRICE_SUMOFDOC_Сумма' : Column {
      Title = ^C'Сумма(руб.)';
    } // c_GETMBPMOVEPRICE_SUMOFDOC_Сумма : Column
  } // GETMBPMOVEPRICE : Browser
  object GETMBPMOVERET : Browser {
    object 'c_GETMBPMOVERET_SUMOFDOC_Сумма' : Column {
      Title = ^C'Сумма(руб.)';
    } // c_GETMBPMOVERET_SUMOFDOC_Сумма : Column
  } // GETMBPMOVERET : Browser
  object WORKMOVEMBPWINDOW : InterfaceWindow {
    Title = 'Документ на внутреннее перемещение (полн)';
    Centered = True;
      // Информация: объект "'ExtAttr: MBPIN,281474976710760'" типа Column не найден в базовой конфигурации!
    object BROWSEOUTM : Browser {
      object 'ExtAttr: MBPIN,281474976710760' : Column {
        Original = False;
        Visible = True;
        Hidden = False;
        Protect = True;
        Skip = False;
        UpCase = False;
        Password = False;
        NoValidCheck = True;
        StatusCtx = 145;
        Title = 'Штрихкод';
        HelpLine = '';
        FieldName = 'ExtAttr: MBPIN,281474976710760,0,0,0,0,Инвентарный номер';
        DefaultValue = '';
        Strings = ( // Список строк
        )
        StringsNull = 0;
        Index = 7;
        DefaultWidth = 26;
        TextAlign = 3;
      } // ExtAttr: MBPIN,281474976710760 : Column
      // Информация: объект "'ExtAttr: MBPIN,281474976710761'" типа Column не найден в базовой конфигурации!
      object 'ExtAttr: MBPIN,281474976710761' : Column {
        Original = False;
        Visible = True;
        Hidden = False;
        Protect = True;
        Skip = False;
        UpCase = False;
        Password = False;
        NoValidCheck = True;
        StatusCtx = 150;
        Title = 'Место хранения';
        HelpLine = '';
        FieldName = 'ExtAttr: MBPIN,281474976710761,5,8512,10004,1,Место хранения';
        DefaultValue = '';
        Strings = ( // Список строк
        )
        StringsNull = 0;
        Index = 8;
        DefaultWidth = 26;
        TextAlign = 0;
        ButtonType = 0;
        DefaultPickButton = False;
        SpinInc = 0.0;
        SpinMin = 0.0;
        SpinMax = 0.0;
        NoAutoSize = False;
        EnumValues = ( // Список целых
        )
        PassiveFormat = '';
        Points = 0;
        MaxLen = 255;
        PrecisionVarName = '';
        HistoryID = 0;
        DropTarget = False;
        DropSource = False;
        FontBold = 'Значение не определено или не известно.';
        FontItalic = 'Значение не определено или не известно.';
        FontColor = 'Значение не определено или не известно.';
        FontBackColor = 'Значение не определено или не известно.';
        InputMask = 'Значение не определено или не известно.';
        FixedState = 0;
      } // ExtAttr: MBPIN,281474976710761 : Column
    } // BROWSEOUTM : Browser
  } // WORKMOVEMBPWINDOW : InterfaceWindow
} // F_MBP::MOVE_MBP : InterfaceWindow
//-----------------------------------------------------------------------------
object 'F_OS::KATOSS' : InterfaceWindow {
  object PDOCUMENT : Browser {
    object 'Field: KATOS.REGNUM' : Column {
      Original = False;
      Visible = True;
      Hidden = False;
      Protect = True;
      Skip = False;
      Title = 'Регистр.номер';
      FieldName = 'Field: KATOS.REGNUM';
      Index = 5;
      DefaultWidth = 16;
    } // Field: KATOS.REGNUM : Column
  } // PDOCUMENT : Browser
    // Информация: объект "'Field: KATOS.DOPINNUM'" типа TreeColumn не найден в базовой конфигурации!
  object TRDOCUMENT : TreeBrowser {
    object 'Field: KATOS.DOPINNUM' : TreeColumn {
      Original = False;
      Visible = True;
      Hidden = False;
      Protect = True;
      Skip = False;
      StatusCtx = 0;
      Title = 'Штрихкод';
      FieldName = 'Field: KATOS.DOPINNUM';
      Size_X = 91;
      Index = 3;
      DefaultWidth = 16;
      TextAlign = 3;
    } // Field: KATOS.DOPINNUM : TreeColumn
    object 'Field: KATOS.REGNUM#1' : TreeColumn {
      Original = False;
      Visible = True;
      Hidden = False;
      Protect = True;
      Skip = False;
      StatusCtx = 0;
      Title = 'Регистр.номер';
      FieldName = 'Field: KATOS.REGNUM';
      Size_X = 91;
      Index = 6;
      DefaultWidth = 16;
    } // Field: KATOS.REGNUM#1 : TreeColumn
  } // TRDOCUMENT : TreeBrowser
  object WIEDITKATOS : InterfaceWindow {
    object KATOSSCR : Screen {
      object 'i_KATOSSCR_KATOS.ZAVNOM' : PanelInputLine {
        Size_X = 199;
      } // i_KATOSSCR_KATOS.ZAVNOM : PanelInputLine
      object 'L_KATOSSCR_N_паспорта' : Label {
        Origin_X = 590;
      } // L_KATOSSCR_N_паспорта : Label
      object 'i_KATOSSCR_KATOS.PSNUM' : PanelInputLine {
        Origin_X = 670;
        Size_X = 196;
      } // i_KATOSSCR_KATOS.PSNUM : PanelInputLine
      object 'Field: KATOS.DOPINNUM#1' : PanelInputLine {
        Original = False;
        Visible = True;
        Hidden = False;
        Protect = False;
        Skip = False;
        StatusCtx = 0;
        FieldName = 'Field: KATOS.DOPINNUM';
        Origin_X = 420;
        Origin_Y = 23;
        Size_X = 155;
        Size_Y = 14;
        TextAlign = 0;
        ButtonType = 16;
      } // Field: KATOS.DOPINNUM#1 : PanelInputLine
      object 'LbField: KATOS.DOPINNUM#1' : Label {
        Original = False;
        Title = 'Штрихкод';
        Visible = True;
        Hidden = False;
        HelpLine = '';
        Origin_X = 364;
        Origin_Y = 23;
        Size_X = 53;
        Size_Y = 14;
      } // LbField: KATOS.DOPINNUM#1 : Label
      object 'i_KATOSSCR_KATOS.NAMEOS' : PanelInputLine {
        Size_X = 420;
      }
      object 'Field: KATOS.REGNUM#2' : PanelInputLine {
        Original = False;
        Visible = True;
        Hidden = False;
        Protect = False;
        Skip = False;
        StatusCtx = 0;
        FieldName = 'Field: KATOS.REGNUM';
        Origin_X = 670;
        Origin_Y = 43;
        Size_X = 196;
        Size_Y = 14;
      } // Field: KATOS.REGNUM#2 : PanelInputLine
      object 'LbField: KATOS.REGNUM#2' : Label {
        Original = False;
        Title = 'Рег.номер';
        Visible = True;
        Hidden = False;
        HelpLine = '';
        Origin_X = 590;
        Origin_Y = 43;
        Size_X = 60;
        Size_Y = 14;
      } // LbField: KATOS.REGNUM#2 : Label
    } // KATOSSCR : Screen
    object KATOSSCRCOMMONCOST : Screen {
      object 'i_KATOSSCRCOMMONCOST_KATOS.ZAVNOM' : PanelInputLine {
        Size_X = 199;
      } // i_KATOSSCRCOMMONCOST_KATOS.ZAVNOM : PanelInputLine
      object 'L_KATOSSCRCOMMONCOST_N_паспорта' : Label {
        Origin_X = 590;
      } // L_KATOSSCR_N_паспорта : Label
      object 'i_KATOSSCRCOMMONCOST_KATOS.PSNUM' : PanelInputLine {
        Origin_X = 670;
        Size_X = 196;
      } // i_KATOSSCRCOMMONCOST_KATOS.PSNUM : PanelInputLine
      object 'Field: KATOS.DOPINNUM#2' : PanelInputLine {
        Original = False;
        Visible = True;
        Hidden = False;
        Protect = False;
        Skip = False;
        StatusCtx = 0;
        FieldName = 'Field: KATOS.DOPINNUM';
        Origin_X = 420;
        Origin_Y = 23;
        Size_X = 155;
        Size_Y = 14;
        TextAlign = 0;
        ButtonType = 16;
      } // Field: KATOS.DOPINNUM#2 : PanelInputLine
      object 'LbField: KATOS.DOPINNUM#2' : Label {
        Original = False;
        Title = 'Штрихкод';
        Visible = True;
        Hidden = False;
        HelpLine = '';
        Origin_X = 364;
        Origin_Y = 23;
        Size_X = 53;
        Size_Y = 14;
      } // LbField: KATOS.DOPINNUM#2 : Label
      object 'i_KATOSSCRCOMMONCOST_KATOS.NAMEOS' : PanelInputLine {
        Size_X = 420;
      }
      object 'Field: KATOS.REGNUM#3' : PanelInputLine {
        Original = False;
        Visible = True;
        Hidden = False;
        Protect = False;
        Skip = False;
        StatusCtx = 0;
        FieldName = 'Field: KATOS.REGNUM';
        Origin_X = 670;
        Origin_Y = 43;
        Size_X = 196;
        Size_Y = 14;
      } // Field: KATOS.REGNUM#3 : PanelInputLine
      object 'LbField: KATOS.REGNUM#3' : Label {
        Original = False;
        Title = 'Рег.номер';
        Visible = True;
        Hidden = False;
        HelpLine = '';
        Origin_X = 590;
        Origin_Y = 43;
        Size_X = 60;
        Size_Y = 14;
      } // LbField: KATOS.REGNUM#3 : Label
    } // KATOSSCRCOMMONCOST : Screen
    object KATOSBUT : Screen {
      object 'ExtClass: KATOS,4612137821422228606' : PanelInputLine {
        Original = False;
        Visible = True;
        Hidden = False;
        Protect = True;
        Skip = False;
        StatusCtx = 16;
        HelpLine = 'Адрес';
        FieldName = 'ExtClass: KATOS,4612137821422228606,0,117,1,Адрес';
        Origin_X = 170;
        Origin_Y = 143;
        Size_X = 549;
        Size_Y = 15;
        ButtonType = 16;
      } // ExtClass: KATOS,4612137821422228606 : PanelInputLine
      object 'LbExtClass: KATOS,4612137821422228606' : Label {
        Original = False;
        Title = 'Адрес';
        Visible = True;
        Hidden = False;
        Origin_X = 6;
        Origin_Y = 143;
        Size_X = 38;
        Size_Y = 15;
      } // LbExtClass: KATOS,4612137821422228606 : Label
      object 'ExtClass: KATOS,281474976710673' : PanelInputLine {
        Original = False;
        Visible = True;
        Hidden = False;
        Protect = True;
        Skip = False;
        StatusCtx = 16;
        HelpLine = 'Страна-производитель';
        FieldName = 'ExtClass: KATOS,281474976710673,0,162,1,Страна-производитель';
        Origin_X = 170;
        Origin_Y = 164;
        Size_X = 549;
        Size_Y = 15;
        ButtonType = 16;
      } // ExtClass: KATOS,281474976710673 : PanelInputLine
      object 'LbExtClass: KATOS,281474976710673' : Label {
        Original = False;
        Title = 'Страна-производитель';
        Visible = True;
        Hidden = False;
        Origin_X = 5;
        Origin_Y = 164;
        Size_X = 152;
        Size_Y = 15;
      } // LbExtClass: KATOS,281474976710673 : Label
      object 'ExtAttr: KATOS,281474976710763' : PanelInputLine {
        Original = False;
        Visible = True;
        Hidden = False;
        Protect = True;
        Skip = False;
        StatusCtx = 145;
        FieldName = 'ExtAttr: KATOS,281474976710763,0,0,0,0,Место хранения инвентаризация';
        Origin_X = 310;
        Origin_Y = 185;
        Size_X = 410;
        Size_Y = 15;
      } // ExtAttr: KATOS,281474976710763 : PanelInputLine
      object 'LbExtAttr: KATOS,281474976710763' : Label {
        Original = False;
        Title = 'Инвентаризация, определяющая новое место хранения';
        Visible = True;
        Hidden = False;
        HelpLine = '';
        Origin_X = 6;
        Origin_Y = 183;
        Size_X = 290;
        Size_Y = 15;
      } // LbExtAttr: KATOS,281474976710763 : Label
      object 'ExtAttr: KATOS,281474976710762' : PanelInputLine {
        Original = False;
        Visible = True;
        Hidden = False;
        Protect = True;
        StatusCtx = 150;
        FieldName = 'ExtAttr: KATOS,281474976710762,5,8512,10004,1,Место хранения новое';
        Origin_X = 170;
        Origin_Y = 205;
        Size_X = 549;
        Size_Y = 15;
        ButtonType = 16;
      } // ExtAttr: KATOS,281474976710762 : PanelInputLine
      object 'LbExtAttr: KATOS,281474976710762' : Label {
        Original = False;
        Title = 'Новое место хранения';
        Visible = True;
        Hidden = False;
        Origin_X = 6;
        Origin_Y = 205;
        Size_X = 152;
        Size_Y = 15;
      } // LbExtAttr: KATOS,281474976710762 : Label
    } // KATOSBUT : Screen
  } // WIEDITKATOS : InterfaceWindow
} // F_OS::KATOSS : InterfaceWindow
//-----------------------------------------------------------------------------
