object 'F_NALOGREG::NALOGREGDOC' : InterfaceWindow {
  object NALREGWIN : InterfaceWindow {
    object SCRASHFUTUR : Screen {
      object 'ExtAttr: NALREGDC,281474976713349' : PanelInputLine {
        Original = False;
        Visible = True;
        Hidden = False;
        Protect = False;
        StatusCtx = 146;
        FieldName = 'ExtAttr: NALREGDC,281474976713349,1,0,0,0,Количество лицензий';
        Origin_X = 145;
        Origin_Y = 245;
        Size_X = 46;
        Size_Y = 15;
        TextAlign = 0;
        ButtonType = 0;
        DefaultPickButton = False;
        Points = 0;
        MaxLen = 22;
      } // ExtAttr: NALREGDC,281474976713349 : PanelInputLine
      object 'LbExtAttr: NALREGDC,281474976713349' : Label {
        Original = False;
        Title = 'Количество лицензий';
        Visible = True;
        Hidden = False;
        HelpLine = '';
        Origin_X = 8;
        Origin_Y = 245;
        Size_X = 131;
        Size_Y = 15;
      } // LbExtAttr: NALREGDC,281474976713349 : Label
      object 'ExtAttr: NALREGDC,281474976713290' : PanelInputLine {
        Original = False;
        Visible = True;
        Hidden = False;
        Protect = True;
        StatusCtx = 150;
        FieldName = 'ExtAttr: NALREGDC,281474976713290,5,8512,10753,1,Срочная/бессрочная лицензия';
        Origin_X = 376;
        Origin_Y = 245;
        Size_X = 117;
        Size_Y = 15;
        TextAlign = 0;
        ButtonType = 16;
      } // ExtAttr: NALREGDC,281474976713290 : PanelInputLine
      object 'LbExtAttr: NALREGDC,281474976713290' : Label {
        Original = False;
        Title = 'Срочная/бессрочная';
        Visible = True;
        Hidden = False;
        HelpLine = '';
        Origin_X = 235;
        Origin_Y = 244;
        Size_X = 136;
        Size_Y = 15;
      } // LbExtAttr: NALREGDC,281474976713290 : Label
    } // SCRASHFUTUR : Screen
  } // NALREGWIN : InterfaceWindow
} // F_NALOGREG::NALOGREGDOC : InterfaceWindow
//-----------------------------------------------------------------------------
