object 'F_SOPRHOZ::GETDBASE' : InterfaceWindow {
  object BRBASEDOCZ : Browser {
    object 'basedocKatnotes.Name' : Column {
      Original = False;
      Visible = True;
      Hidden = False;
      Protect = True;
      Skip = False;
      Title = 'Статус';
      FieldName = 'basedocKatnotes.Name';
      Index = 12;
      DefaultWidth = 14;
    }
  }
  object BRBASEDOCV : Browser {
    object 'basedocKatnotes.Name#1' : Column {
      Original = False;
      Visible = True;
      Hidden = False;
      Protect = True;
      Skip = False;
      Title = 'Статус';
      FieldName = 'basedocKatnotes.Name';
      Index = 12;
      DefaultWidth = 14;
    }
  }
  object BRBASEDOCP : Browser {
    object 'basedocKatnotes.Name#2' : Column {
      Original = False;
      Visible = True;
      Hidden = False;
      Protect = True;
      Skip = False;
      Title = 'Статус';
      FieldName = 'basedocKatnotes.Name';
      Index = 12;
      DefaultWidth = 14;
    }
  }
}
