object 'L_SKLAD::F_GETPRIH' : InterfaceWindow {
  object BRWPRIH : Browser {
    object KATSOPRNAME : Column {
      Original = False;
      Protect = True;
      Title = 'Накладная';
      FieldName = 'KATSOPRNAME';
      Index = 1;
      DefaultWidth = 45;
      TextAlign = 0;
      ButtonType = 16;
    } // KATSOPRNAME : Column
  } // BRWPRIH : Browser
} // L_SKLAD::F_GETPRIH : InterfaceWindow
//-----------------------------------------------------------------------------
