object 'L_UKS::KATSTROY' : InterfaceWindow {

  object TROBJ : TreeBrowser {
    object 'ExtAttr: KATSTROY1,281474976711884#1' : TreeColumn {
      Original = False;
      Visible = True;
      Hidden = False;
      Protect = True;
      Skip = False;
      Title = 'Идентификатор гос.контракта';
      FieldName = 'ExtAttr: KATSTROY1,281474976711884,5,8512,10527,1,Идентификатор гос.контракта';
      Index = 3;
      DefaultWidth = 19;
      ButtonType = 16;
    }
  }

  object BROBJ : Browser {
    object 'ExtAttr: KATSTROY1,281474976711884' : Column {
      Original = False;
      Visible = True;
      Hidden = False;
      Protect = True;
      Skip = False;
      Title = 'Идентификатор гос.контракта';
      FieldName = 'ExtAttr: KATSTROY1,281474976711884,5,8512,10527,1,Идентификатор гос.контракта';
      Index = 3;
      DefaultWidth = 19;
      ButtonType = 16;
    }
  }

} //object 'L_UKS::KATSTROY' : InterfaceWindow

object 'L_UKS::KARTOBJNEW' : InterfaceWindow {
  EmbName = 'L_UKS::KATSTROY->L_UKS::KARTOBJ->';
  object SCOBJECT1 : Screen {
    object 'ExtAttr: KATSTROY,281474976711884' : PanelInputLine {
      Original = False;
      Visible = True;
      Hidden = False;
      Protect = True;
      Skip = False;
      FieldName = 'ExtAttr: KATSTROY,281474976711884,5,8512,10527,1,Идентификатор гос.контракта';
      Origin_X = 191;
      Origin_Y = 83;
      Size_X = 318;
      Size_Y = 14;
      ButtonType = 16;
    } // ExtAttr: KATSTROY,281474976711884 : PanelInputLine
    object 'LbExtAttr: KATSTROY,281474976711884' : Label {
      Original = False;
      Title = 'Идентификатор гос.контракта';
      Visible = True;
      Hidden = False;
      Origin_X = 6;
      Origin_Y = 85;
      Size_X = 161;
      Size_Y = 14;
    } // LbExtAttr: KATSTROY,281474976711884 : Label

    object 'ExtAttr: KATSTROY,281474976711615' : PanelInputLine {
      Original = False;
      Visible = True;
      Hidden = False;
      Protect = True;
      Skip = False;
      PickButton = True;
      FieldName = 'ExtAttr: KATSTROY,281474976711615';
      Origin_X = 191;
      Origin_Y = 362;
      Size_X = 162;
      Size_Y = 14;
    }
    object 'LbExtAttr: KATSTROY,281474976711615' : Label {
      Original = False;
      Title = 'Номер проекта';
      Visible = True;
      Hidden = False;
      Origin_X = 84;
      Origin_Y = 362;
      Size_X = 93;
      Size_Y = 14;
    }
    object 'ExtAttr: KATSTROY,281474976711616' : PanelInputLine {
      Original = False;
      Visible = True;
      Hidden = False;
      Protect = True;
      Skip = False;
      PickButton = True;
      FieldName = 'ExtAttr: KATSTROY,281474976711616';
      Origin_X = 191;
      Origin_Y = 382;
      Size_X = 162;
      Size_Y = 14;
    }
    object 'LbExtAttr: KATSTROY,281474976711616' : Label {
      Original = False;
      Title = 'Заводской номер';
      Visible = True;
      Hidden = False;
      HelpLine = '';
      Origin_X = 71;
      Origin_Y = 382;
      Size_X = 98;
      Size_Y = 14;
    }
    object 'ExtAttr: KATSTROY,281474976710931' : PanelInputLine {
      Original = False;
      Visible = True;
      Hidden = False;
      Protect = False;
      Skip = False;
      FieldName = 'ExtAttr: KATSTROY,281474976710931';
      Origin_X = 191;
      Origin_Y = 243;
      Size_X = 101;
      Size_Y = 14;
      MaxLen = 22;
    }
    object 'LbExtAttr: KATSTROY,281474976710931' : Label {
      Original = False;
      Title = 'Трудоемкость';
      Visible = True;
      Hidden = False;
      Origin_X = 90;
      Origin_Y = 243;
      Size_X = 77;
      Size_Y = 14;
    }
    object 'ExtAttr: KATSTROY,281474976710932' : PanelInputLine {
      Original = False;
      Visible = True;
      Hidden = False;
      Protect = True;
      Skip = False;
      PickButton = True;
      FieldName = 'ExtAttr: KATSTROY,281474976710932';
      Origin_X = 351;
      Origin_Y = 243;
      Size_X = 60;
      Size_Y = 14;
    }
    object 'LbExtAttr: KATSTROY,281474976710932' : Label {
      Original = False;
      Title = 'Ед.Изм.';
      Visible = True;
      Hidden = False;
      Origin_X = 304;
      Origin_Y = 243;
      Size_X = 39;
      Size_Y = 14;
    }
  }
}

object 'L_UKS::KARTOBJNEW' : InterfaceWindow {
  EmbName = 'L_UKS::KATSTROY->';
  object WNEDIT : InterfaceWindow {
    object SCOBJECT01 : Screen {
      object 'ExtAttr: KATSTROY,281474976711615' : PanelInputLine {
        Original = False;
        Visible = True;
        Hidden = False;
        Protect = True;
        Skip = False;
        PickButton = True;
        FieldName = 'ExtAttr: KATSTROY,281474976711615';
        Origin_X = 191;
        Origin_Y = 362;
        Size_X = 162;
        Size_Y = 14;
      } // ExtAttr: KATSTROY,281474976711615 : PanelInputLine
      // Информация: объект "'LbExtAttr: KATSTROY,281474976711615'" типа Label не найден в базовой конфигурации!
      object 'LbExtAttr: KATSTROY,281474976711615' : Label {
        Original = False;
        Title = 'Номер проекта';
        Visible = True;
        Hidden = False;
        Origin_X = 84;
        Origin_Y = 362;
        Size_X = 93;
        Size_Y = 14;
      } // LbExtAttr: KATSTROY,281474976711615 : Label
      // Информация: объект "'ExtAttr: KATSTROY,281474976711616'" типа PanelInputLine не найден в базовой конфигурации!
      object 'ExtAttr: KATSTROY,281474976711616' : PanelInputLine {
        Original = False;
        Visible = True;
        Hidden = False;
        Protect = True;
        Skip = False;
        PickButton = True;
        FieldName = 'ExtAttr: KATSTROY,281474976711616';
        Origin_X = 191;
        Origin_Y = 382;
        Size_X = 162;
        Size_Y = 14;
      } // ExtAttr: KATSTROY,281474976711616 : PanelInputLine
      // Информация: объект "'LbExtAttr: KATSTROY,281474976711616'" типа Label не найден в базовой конфигурации!
      object 'LbExtAttr: KATSTROY,281474976711616' : Label {
        Original = False;
        Title = 'Заводской номер';
        Visible = True;
        Hidden = False;
        Origin_X = 71;
        Origin_Y = 382;
        Size_X = 98;
        Size_Y = 14;
      } // LbExtAttr: KATSTROY,281474976711616 : Label
      // Информация: объект "'ExtAttr: KATSTROY,281474976710931'" типа PanelInputLine не найден в базовой конфигурации!
      object 'ExtAttr: KATSTROY,281474976710931' : PanelInputLine {
        Original = False;
        Visible = True;
        Hidden = False;
        Protect = False;
        Skip = False;
        FieldName = 'ExtAttr: KATSTROY,281474976710931';
        Origin_X = 191;
        Origin_Y = 243;
        Size_X = 101;
        Size_Y = 14;
      } // ExtAttr: KATSTROY,281474976710931 : PanelInputLine
      // Информация: объект "'LbExtAttr: KATSTROY,281474976710931'" типа Label не найден в базовой конфигурации!
      object 'LbExtAttr: KATSTROY,281474976710931' : Label {
        Original = False;
        Title = 'Трудоемкость';
        Visible = True;
        Hidden = False;
        Origin_X = 90;
        Origin_Y = 243;
        Size_X = 77;
        Size_Y = 14;
      } // LbExtAttr: KATSTROY,281474976710931 : Label
      // Информация: объект "'ExtAttr: KATSTROY,281474976710932'" типа PanelInputLine не найден в базовой конфигурации!
      object 'ExtAttr: KATSTROY,281474976710932' : PanelInputLine {
        Original = False;
        Visible = True;
        Hidden = False;
        Protect = True;
        PickButton = True;
        FieldName = 'ExtAttr: KATSTROY,281474976710932';
        Origin_X = 351;
        Origin_Y = 243;
        Size_X = 60;
        Size_Y = 14;
      } // ExtAttr: KATSTROY,281474976710932 : PanelInputLine
      // Информация: объект "'LbExtAttr: KATSTROY,281474976710932'" типа Label не найден в базовой конфигурации!
      object 'LbExtAttr: KATSTROY,281474976710932' : Label {
        Original = False;
        Title = 'Ед.Изм.';
        Visible = True;
        Hidden = False;
        Origin_X = 304;
        Origin_Y = 243;
        Size_X = 39;
        Size_Y = 14;
      } // LbExtAttr: KATSTROY,281474976710932 : Label
      // Информация: объект "'ExtClass: KATSTROY,281474976710687'" типа PanelInputLine не найден в базовой конфигурации!
      object 'ExtClass: KATSTROY,281474976710687' : PanelInputLine {
        Original = False;
        Visible = True;
        Hidden = False;
        Protect = True;
        Skip = False;
        UpCase = False;
        Password = False;
        NoValidCheck = True;
        LessNull = False;
        StatusCtx = 151;
        Strings = ( // Список строк
        )
        StringsNull = 0;
        HelpLine = '';
        FieldName = 'ExtClass: KATSTROY,281474976710687,0,176,1,Дата закрытия';
        DefaultValue = '';
        Origin_X = 218;
        Origin_Y = 441;
        Size_X = 186;
        Size_Y = 16;
        TextAlign = 0;
        ButtonType = 16;
        DefaultPickButton = False;
        SpinInc = 0.0;
        SpinMin = 0.0;
        SpinMax = 0.0;
        NoStatic = False;
        EnumValues = ( // Список целых
        )
        PassiveFormat = '';
        Points = 0;
        MaxLen = 255;
        PrecisionVarName = '';
        HistoryID = 0;
        DropTarget = False;
        DropSource = False;
        FontBold = 'Значение не определено или не известно.';
        FontItalic = 'Значение не определено или не известно.';
        FontUnderline = 'Значение не определено или не известно.';
        FontStrikeout = 'Значение не определено или не известно.';
        FontColor = 'Значение не определено или не известно.';
        FontBackColor = 'Значение не определено или не известно.';
        InputMask = 'Значение не определено или не известно.';
        EditButton = False;
        Hyperlink = False;
        AnchorLeft = True;
        AnchorTop = True;
        AnchorRight = False;
        AnchorBottom = False;
      } // ExtClass: KATSTROY,281474976710687 : PanelInputLine
      // Информация: объект "'LbExtClass: KATSTROY,281474976710687'" типа Label не найден в базовой конфигурации!
      object 'LbExtClass: KATSTROY,281474976710687' : Label {
        Original = False;
        Title = 'Дата закрытия';
        Visible = True;
        Hidden = False;
        HelpLine = '';
        Origin_X = 98;
        Origin_Y = 439;
        Size_X = 96;
        Size_Y = 16;
        AnchorLeft = True;
        AnchorTop = True;
        AnchorRight = False;
        AnchorBottom = False;
      } // LbExtClass: KATSTROY,281474976710687 : Label
     // Информация: объект "'ExtClass: KATSTROY,281474976710688'" типа PanelInputLine не найден в базовой конфигурации!
      object 'ExtClass: KATSTROY,281474976710688' : PanelInputLine {
        Original = False;
        Visible = True;
        Hidden = False;
        Protect = True;
        Skip = False;
        UpCase = False;
        Password = False;
        NoValidCheck = True;
        LessNull = False;
        StatusCtx = 151;
        Strings = ( // Список строк
        )
        StringsNull = 0;
        HelpLine = '';
        FieldName = 'ExtClass: KATSTROY,281474976710688,0,177,1,Перераспределение статей затрат';
        DefaultValue = '';
        Origin_X = 634;
        Origin_Y = 439;
        Size_X = 139;
        Size_Y = 16;
        TextAlign = 0;
        ButtonType = 16;
        DefaultPickButton = False;
        SpinInc = 0.0;
        SpinMin = 0.0;
        SpinMax = 0.0;
        NoStatic = False;
        EnumValues = ( // Список целых
        )
        PassiveFormat = '';
        Points = 0;
        MaxLen = 255;
        PrecisionVarName = '';
        HistoryID = 0;
        DropTarget = False;
        DropSource = False;
        FontBold = 'Значение не определено или не известно.';
        FontItalic = 'Значение не определено или не известно.';
        FontUnderline = 'Значение не определено или не известно.';
        FontStrikeout = 'Значение не определено или не известно.';
        FontColor = 'Значение не определено или не известно.';
        FontBackColor = 'Значение не определено или не известно.';
        InputMask = 'Значение не определено или не известно.';
        EditButton = False;
        Hyperlink = False;
        AnchorLeft = True;
        AnchorTop = True;
        AnchorRight = False;
        AnchorBottom = False;
      } // ExtClass: KATSTROY,281474976710688 : PanelInputLine
      // Информация: объект "'LbExtClass: KATSTROY,281474976710688'" типа Label не найден в базовой конфигурации!
      object 'LbExtClass: KATSTROY,281474976710688' : Label {
        Original = False;
        Title = 'Перераспределение статей затрат';
        Visible = True;
        Hidden = False;
        HelpLine = '';
        Origin_X = 411;
        Origin_Y = 440;
        Size_X = 211;
        Size_Y = 16;
        AnchorLeft = True;
        AnchorTop = True;
        AnchorRight = False;
        AnchorBottom = False;
      } // LbExtClass: KATSTROY,281474976710688 : Label
    } // SCOBJECT01 : Screen
  } // WNEDIT : InterfaceWindow
} // L_UKS::KARTOBJNEW : InterfaceWindow
