object 'Z_SREDN::VOEDIT' : InterfaceWindow {
  Title = 'Целодневные неявки (отчетные, таб. № 25942, Пичугин В.В.)';
  Centered = True;
  object OTPUSK : Browser {
    ViewFlags = 6;
    RowColorDark = 10;
    VerDelimiterWidth = 2;
    object 'c_OTPUSK_OTPUSK.TABN_Таб._номер' : Column {
      Visible = False;
    } // c_OTPUSK_OTPUSK.TABN_Таб._номер : Column
    object 'c_OTPUSK_OTPUSK.STRTABN_Таб._номер' : Column {
      Visible = False;
    } // c_OTPUSK_OTPUSK.STRTABN_Таб._номер : Column
    object 'c_OTPUSK_PERSONS.FIO_Фамилия,_имя,_отчество' : Column {
      Visible = False;
    } // c_OTPUSK_PERSONS.FIO_Фамилия,_имя,_отчество : Column
    object 'c_OTPUSK_SREDNI_Средний_из_ист.1' : Column {
      Protect = False;
      Title = 'Средний'^M+
              'из ФЗП';
    } // c_OTPUSK_SREDNI_Средний_из_ист.1 : Column
    object 'c_OTPUSK_IMAGEONARCHIVE_А' : Column {
      Visible = False;
    } // c_OTPUSK_IMAGEONARCHIVE_А : Column
  } // OTPUSK : Browser
  object EDITBROWSE1 : Browser {
    Title = 'суммы и коэффициенты из ФЗП';
    ViewFlags = 6;
    RowColorDark = 10;
    VerDelimiterWidth = 2;
  } // EDITBROWSE1 : Browser
  object EDITBROWSE2 : Browser {
    Title = 'суммы и коэффициенты из ФМП';
  } // EDITBROWSE2 : Browser
} // Z_SREDN::VOEDIT : InterfaceWindow
//-----------------------------------------------------------------------------
