object 'L_SKLAD::SOPINMOV' : InterfaceWindow {
  object 'BRSELECTNAKL' : Browser {
    object 'Field: KATSOPR.NAME' : Column {
      Original = False;
      Visible = True;
      Hidden = False;
      Protect = True;
      Skip = False;
      Title = 'Примечание';
      FieldName = 'Field: KATSOPR.NAME';
      Index = 8;
      DefaultWidth = 26;
    }
  }
}
