object 'L_SOPRDOC::SOPRDOC' : InterfaceWindow {
  object BRSELECTNAKL : Browser {
    // Информация: объект "'Field: KATSOPR.NAME'" типа Column не найден в базовой конфигурации!
    object 'Field: KATSOPR.NAME' : Column {
      Original = False;
      Visible = True;
      Hidden = False;
      Protect = True;
      Skip = False;
      Title = 'Примечание';
      FieldName = 'Field: KATSOPR.NAME';
      Index = 11;
      DefaultWidth = 26;
    } // Field: KATSOPR.NAME : Column
    object 'c_BRSELECTNAKL_Номер_вагона' : Column {
      Hidden = True;
      Index = 13;
    } // c_BRSELECTNAKL_Номер_вагона : Column
    object 'c_BRSELECTNAKL_П' : Column {
      Index = 14;
    } // c_BRSELECTNAKL_П : Column
    object 'c_BRSELECTNAKL_BATENTRYINGROUP_Г' : Column {
      Index = 15;
    } // c_BRSELECTNAKL_BATENTRYINGROUP_Г : Column
  } // BRSELECTNAKL : Browser
  object EDITSOPR : InterfaceWindow {
    object BRSPECIF : Browser {
      object 'c_BRSPECIF_VSKAU1_КАУ_1' : Column {
        Title = 'Заказ';
        Index = 33;
      } // c_BRSPECIF_VSKAU1_КАУ_1 : Column
      object 'c_BRSPECIF_VSKAU3_КАУ_3' : Column {
        Title = 'Подразделение';
        Index = 34;
      } // c_BRSPECIF_VSKAU3_КАУ_3 : Column
      object 'c_BRSPECIF_SPSOPR.RPRICE_Цена_в_НДЕ' : Column {
        Index = 35;
      } // c_BRSPECIF_SPSOPR.RPRICE_Цена_в_НДЕ : Column
      object 'c_BRSPECIF_SPSOPR.RVPRICE_Цена_в_валюте' : Column {
        Index = 36;
      } // c_BRSPECIF_SPSOPR.RVPRICE_Цена_в_валюте : Column
      object 'c_BRSPECIF_SPSOPR.NVAGON_Номер_вагона' : Column {
        Hidden = True;
      } // c_BRSPECIF_SPSOPR.NVAGON_Номер_вагона : Column
      object 'c_BRSPECIF_SPSOPR.NETTO_Вес_нетто' : Column {
        Hidden = True;
      } // c_BRSPECIF_SPSOPR.NETTO_Вес_нетто : Column
      object 'c_BRSPECIF_SPSOPR.MTARA_Вес_тары' : Column {
        Hidden = True;
      } // c_BRSPECIF_SPSOPR.MTARA_Вес_тары : Column
      object 'c_BRSPECIF_TTN_MASSA_ALL_Вес_брутто' : Column {
        Hidden = True;
      } // c_BRSPECIF_TTN_MASSA_ALL_Вес_брутто : Column
      object 'c_BRSPECIF_KATPARTY.KOD_Партия_код' : Column {
        Hidden = True;
      } // c_BRSPECIF_KATPARTY.KOD_Партия_код : Column
      object 'c_BRSPECIF_KLVAL.SIMVOLV_Вал' : Column {
        Protect = False;
        Index = 43;
      } // c_BRSPECIF_KLVAL.SIMVOLV_Вал : Column
      object 'c_BRSPECIF_SPSOPR.NKVIT_Номер_ж/д_квитанции' : Column {
        Hidden = True;
      } // c_BRSPECIF_SPSOPR.NKVIT_Номер_ж/д_квитанции : Column
      object 'c_BRSPECIF_KLPRICE2.NAME_Прайс-лист' : Column {
        Index = 49;
      } // c_BRSPECIF_KLPRICE2.NAME_Прайс-лист : Column
      object 'c_BRSPECIF_KATPARTY.NAME_Партия_наименование' : Column {
        Index = 50;
      } // c_BRSPECIF_KATPARTY.NAME_Партия_наименование : Column
      object 'c_BRSPECIF_SALDTUNE.NAME_Объект_ЦУ' : Column {
        Index = 51;
      } // c_BRSPECIF_SALDTUNE.NAME_Объект_ЦУ : Column
      object 'c_BRSPECIF_VSKAU2_КАУ_2' : Column {
        Title = 'Статья затрат';
        Index = 52;
      } // c_BRSPECIF_VSKAU2_КАУ_2 : Column
      object 'c_BRSPECIF_VSKAU4_КАУ_4' : Column {
        Hidden = True;
      } // c_BRSPECIF_VSKAU4_КАУ_4 : Column
      object 'c_BRSPECIF_VSKAU5_КАУ_5' : Column {
        Hidden = True;
      } // c_BRSPECIF_VSKAU5_КАУ_5 : Column
      object 'c_BRSPECIF_VSKAU6_КАУ_6' : Column {
        Hidden = True;
      } // c_BRSPECIF_VSKAU6_КАУ_6 : Column
      object 'c_BRSPECIF_VSKAU7_КАУ_7' : Column {
        Hidden = True;
      } // c_BRSPECIF_VSKAU7_КАУ_7 : Column
      object 'c_BRSPECIF_VSKAU8_КАУ_8' : Column {
        Hidden = True;
      } // c_BRSPECIF_VSKAU8_КАУ_8 : Column
      object 'c_BRSPECIF_VSKAU9_КАУ_9' : Column {
        Hidden = True;
      } // c_BRSPECIF_VSKAU9_КАУ_9 : Column
      object 'c_BRSPECIF_VSKAU10_КАУ_10' : Column {
        Hidden = True;
      } // c_BRSPECIF_VSKAU10_КАУ_10 : Column
      object 'c_BRSPECIF_PLJOBNAME_План_работ' : Column {
        Hidden = True;
      } // c_BRSPECIF_PLJOBNAME_План_работ : Column
    } // BRSPECIF : Browser
  } // EDITSOPR : InterfaceWindow
} // L_SOPRDOC::SOPRDOC : InterfaceWindow
