object 'L_SOPRDOC::AKTUSL' : InterfaceWindow {
  Title = 'Список актов на оказание услуг';
  Centered = True;
  object BRSELECTNAKL : Browser {
    object c_BRSELECTNAKL : Column {
      NoAutoSize = True;
    } // c_BRSELECTNAKL : Column
    // Информация: объект "'Field: KATSOPR.NAME'" типа Column не найден в базовой конфигурации!
    object 'Field: KATSOPR.NAME' : Column {
      Original = False;
      Visible = True;
      Hidden = False;
      Protect = True;
      Skip = False;
      Title = 'Примечание';
      FieldName = 'Field: KATSOPR.NAME';
      Index = 12;
      DefaultWidth = 26;
    } // Field: KATSOPR.NAME : Column
  } // BRSELECTNAKL : Browser
  object EDITSOPR : InterfaceWindow {
    Centered = True;
    object SCRHEADER : Screen {
      object 'L_SCRHEADER_Операция' : Label {
        Visible = False;
      } // L_SCRHEADER_Операция : Label
      object i_SCRHEADER_HOZOPERVIEWNAME : PanelInputLine {
        Visible = False;
      } // i_SCRHEADER_HOZOPERVIEWNAME : PanelInputLine
      object 'L_SCRHEADER_Единица_подв.состава' : Label {
        Visible = False;
      } // L_SCRHEADER_Единица_подв.состава : Label
      object 'i_SCRHEADER_MOVECELLUZBEK.NAME' : PanelInputLine {
        Visible = False;
      } // i_SCRHEADER_MOVECELLUZBEK.NAME : PanelInputLine
      object 'L_SCRHEADER_N_вагона' : Label {
        Visible = False;
      } // L_SCRHEADER_N_вагона : Label
      object 'i_SCRHEADER_KATSOPR.NVAGON' : PanelInputLine {
        Visible = False;
      } // i_SCRHEADER_KATSOPR.NVAGON : PanelInputLine
      object 'L_SCRHEADER_Связь_со_штрих-кодом' : Label {
        Visible = False;
      } // L_SCRHEADER_Связь_со_штрих-кодом : Label
      object i_SCRHEADER_BARKODANDSTATE : PanelInputLine {
        Visible = False;
      } // i_SCRHEADER_BARKODANDSTATE : PanelInputLine
    } // SCRHEADER : Screen
    object BRSPECIF1 : Browser {
      object 'c_BRSPECIF1_VSKAU1_КАУ_1' : Column {
        Title = 'Заказ';
        Index = 22;
      } // c_BRSPECIF1_VSKAU1_КАУ_1 : Column
      object 'c_BRSPECIF1_VSKAU3_КАУ_3' : Column {
        Title = 'Подразделение';
        Index = 23;
      } // c_BRSPECIF1_VSKAU3_КАУ_3 : Column
      object 'c_BRSPECIF1_KATPARTY.KOD_Партия_код' : Column {
        Hidden = True;
        Index = 24;
      } // c_BRSPECIF1_KATPARTY.KOD_Партия_код : Column
      object 'c_BRSPECIF1_KATPARTY.NAME_Партия_наименование' : Column {
        Index = 25;
      } // c_BRSPECIF1_KATPARTY.NAME_Партия_наименование : Column
      object 'c_BRSPECIF1_SALDTUNE.NAME_Объект_ЦУ' : Column {
        Index = 26;
      } // c_BRSPECIF1_SALDTUNE.NAME_Объект_ЦУ : Column
      object 'c_BRSPECIF1_VSKAU2_КАУ_2' : Column {
        Title = 'Статья затрат';
        Index = 27;
      } // c_BRSPECIF1_VSKAU2_КАУ_2 : Column
      object 'c_BRSPECIF1_VSKAU4_КАУ_4' : Column {
        Title = 'Сотрудник';
      } // c_BRSPECIF1_VSKAU4_КАУ_4 : Column
      object 'c_BRSPECIF1_VSKAU5_КАУ_5' : Column {
        Hidden = True;
      } // c_BRSPECIF1_VSKAU5_КАУ_5 : Column
      object 'c_BRSPECIF1_VSKAU6_КАУ_6' : Column {
        Hidden = True;
      } // c_BRSPECIF1_VSKAU6_КАУ_6 : Column
      object 'c_BRSPECIF1_VSKAU7_КАУ_7' : Column {
        Hidden = True;
      } // c_BRSPECIF1_VSKAU7_КАУ_7 : Column
      object 'c_BRSPECIF1_VSKAU8_КАУ_8' : Column {
        Hidden = True;
      } // c_BRSPECIF1_VSKAU8_КАУ_8 : Column
      object 'c_BRSPECIF1_VSKAU9_КАУ_9' : Column {
        Hidden = True;
      } // c_BRSPECIF1_VSKAU9_КАУ_9 : Column
      object 'c_BRSPECIF1_VSKAU10_КАУ_10' : Column {
        Hidden = True;
      } // c_BRSPECIF1_VSKAU10_КАУ_10 : Column
      object 'c_BRSPECIF1_PLJOBNAME_План_работ' : Column {
        Hidden = True;
      } // c_BRSPECIF1_PLJOBNAME_План_работ : Column
    } // BRSPECIF1 : Browser
  } // EDITSOPR : InterfaceWindow
} // L_SOPRDOC::AKTUSL : InterfaceWindow
