object 'L_SOPRDOC::SOPRDOCB' : InterfaceWindow {
  object BRSELECT : Browser {
    object 'c_BRSELECT_Номер_вагона' : Column {
      Hidden = True;
    } // c_BRSELECT_Номер_вагона : Column
    // Информация: объект "'Field: KATSOPR.NAME'" типа Column не найден в базовой конфигурации!
    object 'Field: KATSOPR.NAME' : Column {
      Original = False;
      Visible = True;
      Hidden = False;
      Protect = True;
      Skip = False;
      Title = 'Примечание';
      FieldName = 'Field: KATSOPR.NAME';
      Index = 15;
      DefaultWidth = 26;
    } // Field: KATSOPR.NAME : Column
  } // BRSELECT : Browser
  object EDITSOPR : InterfaceWindow {
    object BRBYNAME : Browser {
      object 'if(SpSopr.PrMc = 2, KatUsl.Obozn, KatMc.Obozn)' : Column {
        Original = False;
        Visible = True;
        Hidden = False;
        Protect = True;
        Skip = False;
        UpCase = False;
        Password = False;
        NoValidCheck = True;
        StatusCtx = 0;
        Title = 'Конструкторское обозначение';
        HelpLine = '';
        FieldName = 'if(SpSopr.PrMc = 2, KatUsl.Obozn, KatMc.Obozn)';
        DefaultValue = '';
        StringsNull = 0;
        Index = 5;
        DefaultWidth = 17;
        TextAlign = 0;
        ButtonType = 0;
        DefaultPickButton = False;
        SpinInc = 0.0;
        SpinMin = 0.0;
        SpinMax = 0.0;
        NoAutoSize = False;
        PassiveFormat = '';
        Points = 0;
        MaxLen = 150;
        PrecisionVarName = '';
        HistoryID = 0;
        DropTarget = False;
        DropSource = False;
        FixedState = 0;
        EditButton = False;
      }
      object 'sTXOGetField(''GROUPMC'',''NAME'',katmc.cgroupmc)#1' : Column {
        Original = False;
        Visible = True;
        Hidden = False;
        Protect = True;
        Skip = False;
        UpCase = False;
        Password = False;
        NoValidCheck = True;
        StatusCtx = 16;
        Title = 'Группа МЦ';
        HelpLine = '';
        FieldName = 'sTXOGetField(''GROUPMC'',''NAME'',katmc.cgroupmc)';
        DefaultValue = '';
        Strings = ( // Список строк
        )
        StringsNull = 0;
        Index = 11;
        DefaultWidth = 26;
        TextAlign = 0;
        ButtonType = 0;
        DefaultPickButton = False;
        SpinInc = 0.0;
        SpinMin = 0.0;
        SpinMax = 0.0;
        NoAutoSize = False;
        EnumValues = ( // Список целых
        )
        PassiveFormat = '';
        Points = 0;
        MaxLen = 255;
        HeaderAlign = 3;
      } // sTXOGetField('GROUPMC','NAME',katmc.cgroupmc)#1 : Column
      object 'c_BRBYNAME_VSKAU1_КАУ_1' : Column {
        Title = 'Заказ';
        Index = 34;
      } // c_BRBYNAME_VSKAU1_КАУ_1 : Column
      object 'c_BRBYNAME_VSKAU3_КАУ_3' : Column {
        Title = 'Подразделение';
        Index = 35;
      } // c_BRBYNAME_VSKAU3_КАУ_3 : Column
      object 'c_BRBYNAME_SPSOPR.RPRICE_Цена_(НДЕ)' : Column {
        Index = 36;
      } // c_BRBYNAME_SPSOPR.RPRICE_Цена_(НДЕ) : Column
      object 'c_BRBYNAME_SPSOPR.RVPRICE_Цена_(вал)' : Column {
        Index = 38;
      } // c_BRBYNAME_SPSOPR.RVPRICE_Цена_(вал) : Column
      object 'c_BRBYNAME_KLVAL.SIMVOLV_Вал' : Column {
        Protect = False;
        Index = 39;
      } // c_BRBYNAME_KLVAL.SIMVOLV_Вал : Column
      object 'c_BRBYNAME_SPSOPR.NVAGON_Номер_вагона' : Column {
        Hidden = True;
        Index = 40;
      } // c_BRBYNAME_SPSOPR.NVAGON_Номер_вагона : Column
      object 'c_BRBYNAME_SPSOPR.NETTO_Вес_нетто' : Column {
        Hidden = True;
        Index = 41;
      } // c_BRBYNAME_SPSOPR.NETTO_Вес_нетто : Column
      object 'c_BRBYNAME_SPSOPR.MTARA_Вес_тары' : Column {
        Hidden = True;
        Index = 42;
      } // c_BRBYNAME_SPSOPR.MTARA_Вес_тары : Column
      object 'c_BRBYNAME_TTN_MASSA_ALL_Вес_брутто' : Column {
        Hidden = True;
        Index = 43;
      } // c_BRBYNAME_TTN_MASSA_ALL_Вес_брутто : Column
      object 'c_BRBYNAME_KATPARTY.KOD_Партия_код' : Column {
        Index = 44;
      } // c_BRBYNAME_KATPARTY.KOD_Партия_код : Column
      object 'c_BRBYNAME_KATPARTY.NAME_Партия_наименование' : Column {
        Index = 49;
      } // c_BRBYNAME_KATPARTY.NAME_Партия_наименование : Column
      object 'c_BRBYNAME_SPSOPR.NKVIT_Номер_ж/д_квитанции' : Column {
        Hidden = True;
        Index = 50;
      } // c_BRBYNAME_SPSOPR.NKVIT_Номер_ж/д_квитанции : Column
      object 'c_BRBYNAME_SALDTUNE.NAME_Объект_ЦУ' : Column {
        Index = 51;
      } // c_BRBYNAME_SALDTUNE.NAME_Объект_ЦУ : Column
      object 'c_BRBYNAME_VSKAU2_КАУ_2' : Column {
        Title = 'Статья затрат';
        Index = 52;
      } // c_BRBYNAME_VSKAU2_КАУ_2 : Column
      object 'c_BRBYNAME_VSKAU4_КАУ_4' : Column {
        Hidden = True;
      } // c_BRBYNAME_VSKAU4_КАУ_4 : Column
      object 'c_BRBYNAME_VSKAU5_КАУ_5' : Column {
        Hidden = True;
      } // c_BRBYNAME_VSKAU5_КАУ_5 : Column
      object 'c_BRBYNAME_VSKAU6_КАУ_6' : Column {
        Hidden = True;
      } // c_BRBYNAME_VSKAU6_КАУ_6 : Column
      object 'c_BRBYNAME_VSKAU7_КАУ_7' : Column {
        Hidden = True;
      } // c_BRBYNAME_VSKAU7_КАУ_7 : Column
      object 'c_BRBYNAME_VSKAU8_КАУ_8' : Column {
        Hidden = True;
      } // c_BRBYNAME_VSKAU8_КАУ_8 : Column
      object 'c_BRBYNAME_VSKAU9_КАУ_9' : Column {
        Hidden = True;
      } // c_BRBYNAME_VSKAU9_КАУ_9 : Column
      object 'c_BRBYNAME_VSKAU10_КАУ_10' : Column {
        Hidden = True;
      } // c_BRBYNAME_VSKAU10_КАУ_10 : Column
      object 'c_BRBYNAME_PLJOBNAME_План_работ' : Column {
        Hidden = True;
      } // c_BRBYNAME_PLJOBNAME_План_работ : Column
    } // BRBYNAME : Browser
    object BRSOPUSL : Browser {
      object 'c_BRSOPUSL_SUMSPUSLNALOG_Налоги' : Column {
        Index = 11;
      } // c_BRSOPUSL_SUMSPUSLNALOG_Налоги : Column
      object 'c_BRSOPUSL_VSKAU1S_КАУ_1' : Column {
        Title = 'Заказ';
        Index = 12;
      } // c_BRSOPUSL_VSKAU1S_КАУ_1 : Column
      object 'c_BRSOPUSL_VSKAU3S_КАУ_3' : Column {
        Title = 'Подразделение';
        Index = 13;
      } // c_BRSOPUSL_VSKAU3S_КАУ_3 : Column
      object 'c_BRSOPUSL_SALDTUNESOP.NAME_Объект_ЦУ' : Column {
        Title = 'Объект ЦУ';
      } // c_BRSOPUSL_SALDTUNESOP.NAME_Объект_ЦУ : Column
      object 'c_BRSOPUSL_VSKAU2S_КАУ_2' : Column {
        Title = 'Статья затрат';
        Index = 27;
      } // c_BRSOPUSL_VSKAU2S_КАУ_2 : Column
      object 'c_BRSOPUSL_SUMVPRICEUSL_Сумма_в_валюте' : Column {
        Index = 28;
      } // c_BRSOPUSL_SUMVPRICEUSL_Сумма_в_валюте : Column
      object 'c_BRSOPUSL_KLVAL.SIMVOLV_Вал' : Column {
        Protect = False;
        Index = 29;
      } // c_BRSOPUSL_KLVAL.SIMVOLV_Вал : Column
      object 'c_BRSOPUSL_VSKAU4S_КАУ_4' : Column {
        Hidden = True;
      } // c_BRSOPUSL_VSKAU4S_КАУ_4 : Column
      object 'c_BRSOPUSL_VSKAU5S_КАУ_5' : Column {
        Hidden = True;
      } // c_BRSOPUSL_VSKAU5S_КАУ_5 : Column
      object 'c_BRSOPUSL_VSKAU6S_КАУ_6' : Column {
        Hidden = True;
      } // c_BRSOPUSL_VSKAU6S_КАУ_6 : Column
      object 'c_BRSOPUSL_VSKAU7S_КАУ_7' : Column {
        Hidden = True;
      } // c_BRSOPUSL_VSKAU7S_КАУ_7 : Column
      object 'c_BRSOPUSL_VSKAU8S_КАУ_8' : Column {
        Hidden = True;
      } // c_BRSOPUSL_VSKAU8S_КАУ_8 : Column
      object 'c_BRSOPUSL_VSKAU9S_КАУ_9' : Column {
        Hidden = True;
      } // c_BRSOPUSL_VSKAU9S_КАУ_9 : Column
      object 'c_BRSOPUSL_VSKAU10S_КАУ_10' : Column {
        Hidden = True;
      } // c_BRSOPUSL_VSKAU10S_КАУ_10 : Column
    } // BRSOPUSL : Browser
  } // EDITSOPR : InterfaceWindow
} // L_SOPRDOC::SOPRDOCB : InterfaceWindow
