object 'M_UP::NAKL501' : InterfaceWindow {
  object EDITSOPR : InterfaceWindow {
    object BRSPECIF : Browser {
      object 'Field: KATMC.OBOZN' : Column {
        Original = False;
        Visible = True;
        Hidden = False;
        Protect = True;
        Skip = False;
        UpCase = False;
        Password = False;
        NoValidCheck = True;
        StatusCtx = 0;
        Title = 'Конструкторское обозначение';
        HelpLine = '';
        FieldName = 'Field: KATMC.OBOZN';
        DefaultValue = '';
        StringsNull = 0;
        Index = 5;
        DefaultWidth = 17;
        TextAlign = 0;
        ButtonType = 0;
        DefaultPickButton = False;
        SpinInc = 0.0;
        SpinMin = 0.0;
        SpinMax = 0.0;
        NoAutoSize = False;
        PassiveFormat = '';
        Points = 0;
        MaxLen = 150;
        PrecisionVarName = '';
        HistoryID = 0;
        DropTarget = False;
        DropSource = False;
        FixedState = 0;
        EditButton = False;
      }
    }
     object BRSPECIF1 : Browser {
      object 'Field: KATMC.OBOZN#1' : Column {
        Original = False;
        Visible = True;
        Hidden = False;
        Protect = True;
        Skip = False;
        UpCase = False;
        Password = False;
        NoValidCheck = True;
        StatusCtx = 0;
        Title = 'Конструкторское обозначение';
        HelpLine = '';
        FieldName = 'Field: KATMC.OBOZN';
        DefaultValue = '';
        StringsNull = 0;
        Index = 5;
        DefaultWidth = 17;
        TextAlign = 0;
        ButtonType = 0;
        DefaultPickButton = False;
        SpinInc = 0.0;
        SpinMin = 0.0;
        SpinMax = 0.0;
        NoAutoSize = False;
        PassiveFormat = '';
        Points = 0;
        MaxLen = 150;
        PrecisionVarName = '';
        HistoryID = 0;
        DropTarget = False;
        DropSource = False;
        FixedState = 0;
        EditButton = False;
      }
    } // BRSPECIF1 : Browser
  } // EDITSOPR : InterfaceWindow
}
