object 'F_PLPOR::PLPOR' : InterfaceWindow {
  object BRPLPORPOL1 : Browser {
    object 'ExtAttr: PLPOR,281474976710800' : Column {
      Original = False;
      Visible = True;
      Hidden = False;
      Protect = True;
      Title = 'Статья ДДС';
      FieldName = 'ExtAttr: PLPOR,281474976710800';
      Index = 11;
      DefaultWidth = 26;
    } // ExtAttr: PLPOR,281474976710800 : Column
    object 'ExtAttr: PLPOR,281474976710746#1' : Column {
      Original = False;
      Visible = True;
      Hidden = False;
      Protect = True;
      Title = 'Исполнитель договора';
      FieldName = 'ExtAttr: PLPOR,281474976710746';
      Index = 12;
      DefaultWidth = 26;
    } // ExtAttr: PLPOR,281474976710746#1 : Column
  } // BRPLPORPOL1 : Browser
  object BRPLPORPLAT2 : Browser {
    object 'ExtAttr: PLPOR,281474976710800#2' : Column {
      Original = False;
      Visible = True;
      Hidden = False;
      Protect = True;
      Title = 'Стятья ДДС';
      FieldName = 'ExtAttr: PLPOR,281474976710800';
      Index = 10;
      DefaultWidth = 26;
    } // ExtAttr: PLPOR,281474976710800#2 : Column
    object 'ExtAttr: PLPOR,281474976710746#2' : Column {
      Original = False;
      Visible = True;
      Hidden = False;
      Protect = True;
      Title = 'Исполнитель договора';
      FieldName = 'ExtAttr: PLPOR,281474976710746';
      Index = 11;
      DefaultWidth = 26;
    } // ExtAttr: PLPOR,281474976710746#2 : Column
  } // BRPLPORPLAT2 : Browser
  object BRPLPORPLAT3 : Browser {
    object 'ExtAttr: PLPOR,281474976710800#3' : Column {
      Original = False;
      Visible = True;
      Hidden = False;
      Protect = True;
      Skip = False;
      Title = 'Стятья ДДС';
      FieldName = 'ExtAttr: PLPOR,281474976710800';
      Index = 10;
      DefaultWidth = 26;
    } // ExtAttr: PLPOR,281474976710800#3 : Column
  } // BRPLPORPLAT3 : Browser
  object BRPLPORFIO1 : Browser {
    object 'ExtAttr: PLPOR,281474976710800#5' : Column {
      Original = False;
      Visible = True;
      Hidden = False;
      Protect = True;
      Title = 'Статья ДДС';
      FieldName = 'ExtAttr: PLPOR,281474976710800';
      Index = 10;
      DefaultWidth = 26;
    } // ExtAttr: PLPOR,281474976710800#5 : Column
  } // BRPLPORFIO1 : Browser
  object WIPLDOCEDIT : InterfaceWindow {
    object SCPLDOCEDITPP_KVO : Screen {
      object i_SCPLDOCEDITPP_KVO_sAppointment : PanelInputLine {
        Size_X = 269;
      } // i_SCPLDOCEDITPP_sAppointment : PanelInputLine
      object 'i_SCPLDOCEDITPP_KVO_KATNOTES.NAME' : PanelInputLine {
        Size_X = 65;
      }
      object 'LbContractID' : Label {
        Original = False;
        Title = 'Ид.№ контракта';
        Visible = True;
        Hidden = False;
        Origin_X = 472;
        Origin_Y = 2;
        Size_X = 86;
        Size_Y = 14;
      } // LbExtAttr: PLPOR,281474976710746 : Label
      object 'ContractID' : PanelInputLine {
        Original = False;
        Visible = True;
        Hidden = False;
        Protect = True;
        Skip = False;
        FieldName = 'ContractID';
        Origin_X = 472;
        Origin_Y = 23;
        Size_X = 156;
        Size_Y = 14;
      }
      object 'AvansOkRasch' : PanelInputLine {
        Original = False;
        Visible = True;
        Skip = True;
        FieldName = 'sTXOGetField(''SPKAU'',''NAME'',coTXOGetExtAttr(''BASEDOC'',''Аванс/ок. расчет'',coTXOGetField(''STEPDOC'',''CBASEDOC'',plpor.cstepdoc)))';
        Origin_X = 499;
        Origin_Y = 2;
        Size_X = 129;
        Size_Y = 13;
        TextAlign = 2;
        FontBold = 'TRUE';
      } // sTXOGetField('SPKAU','NAME',coTXOGetExtAttr('BASEDOC','Аванс/ок. расчет',coTXOGetField('STEPDOC','CBASEDOC',plpor.cstepdoc))) : PanelInputLine
      object 'ExtAttr: PLPOR,281474976710746' : PanelInputLine {
        Original = False;
        Visible = True;
        Hidden = False;
        Protect = True;
        PickButton = True;
        FieldName = 'ExtAttr: PLPOR,281474976710746';
        DefaultValue = '';
        Origin_X = 436;
        Origin_Y = 244;
        Size_X = 191;
        Size_Y = 14;
      } // ExtAttr: PLPOR,281474976710746 : PanelInputLine
      object 'LbExtAttr: PLPOR,281474976710746' : Label {
        Original = False;
        Title = 'Исполнитель договора';
        Visible = True;
        Hidden = False;
        HelpLine = '';
        Origin_X = 279;
        Origin_Y = 242;
        Size_X = 133;
        Size_Y = 14;
      } // LbExtAttr: PLPOR,281474976710746 : Label
      object 'ExtAttr: PLPOR,281474976710800#1' : PanelInputLine {
        Original = False;
        Visible = True;
        Hidden = False;
        Protect = True;
        PickButton = True;
        FieldName = 'ExtAttr: PLPOR,281474976710800';
        DefaultValue = '';
        Origin_X = 436;
        Origin_Y = 225;
        Size_X = 191;
        Size_Y = 14;
        MaxLen = 255;
      } // ExtAttr: PLPOR,281474976710800#1 : PanelInputLine
      object 'LbExtAttr: PLPOR,281474976710800#1' : Label {
        Original = False;
        Title = 'Статья ДДС';
        Visible = True;
        Hidden = False;
        HelpLine = '';
        Origin_X = 436;
        Origin_Y = 208;
        Size_X = 63;
        Size_Y = 14;
      } // LbExtAttr: PLPOR,281474976710800#1 : Label
      object 'i_SCPLDOCEDITPP_KVO_KATORGP.UNN' : PanelInputLine {
        Size_X = 90;
      }
      object 'Field: KATORGP.KODPLATNDS' : PanelInputLine {
        Original = False;
        Visible = True;
        Hidden = False;
        Protect = True;
        FieldName = 'Field: KATORGP.KODPLATNDS';
        DefaultValue = '';
        Origin_X = 223;
        Origin_Y = 163;
        Size_X = 59;
        Size_Y = 14;
      }
      object 'i_SCPLDOCEDITPP_KVO_sMFO#1' : PanelInputLine {
        Origin_X = 291;
        Size_X = 22;
      }
    } // SCPLDOCEDITPP_KVO : Screen
    object SCPLDOCEDITPP : Screen {
      object i_SCPLDOCEDITPP_sAppointment : PanelInputLine {
        Size_X = 269;
      } // i_SCPLDOCEDITPP_sAppointment : PanelInputLine
      object 'sTXOGetField(''SPKAU'',''NAME'',coTXOGetExtAttr(''BASEDOC'',''Аванс/ок. расчет'',coTXOGetField(''STEPDOC'',''CBASEDOC'',plpor.cstepdoc)))' : PanelInputLine {
        Original = False;
        Visible = True;
        Skip = True;
        FieldName = 'sTXOGetField(''SPKAU'',''NAME'',coTXOGetExtAttr(''BASEDOC'',''Аванс/ок. расчет'',coTXOGetField(''STEPDOC'',''CBASEDOC'',plpor.cstepdoc)))';
        Origin_X = 499;
        Origin_Y = 2;
        Size_X = 129;
        Size_Y = 13;
        TextAlign = 2;
        FontBold = 'TRUE';
      } // sTXOGetField('SPKAU','NAME',coTXOGetExtAttr('BASEDOC','Аванс/ок. расчет',coTXOGetField('STEPDOC','CBASEDOC',plpor.cstepdoc))) : PanelInputLine
      object 'ExtAttr: PLPOR,281474976710746#8' : PanelInputLine {
        Original = False;
        Visible = True;
        Hidden = False;
        Protect = True;
        PickButton = True;
        FieldName = 'ExtAttr: PLPOR,281474976710746';
        DefaultValue = '';
        Origin_X = 436;
        Origin_Y = 244;
        Size_X = 191;
        Size_Y = 14;
      } // ExtAttr: PLPOR,281474976710746 : PanelInputLine
      object 'LbExtAttr: PLPOR,281474976710746#8' : Label {
        Original = False;
        Title = 'Исполнитель договора';
        Visible = True;
        Hidden = False;
        HelpLine = '';
        Origin_X = 279;
        Origin_Y = 242;
        Size_X = 133;
        Size_Y = 14;
      } // LbExtAttr: PLPOR,281474976710746 : Label
      object 'ExtAttr: PLPOR,281474976710800#8' : PanelInputLine {
        Original = False;
        Visible = True;
        Hidden = False;
        Protect = True;
        PickButton = True;
        FieldName = 'ExtAttr: PLPOR,281474976710800';
        DefaultValue = '';
        Origin_X = 436;
        Origin_Y = 225;
        Size_X = 191;
        Size_Y = 14;
        MaxLen = 255;
      } // ExtAttr: PLPOR,281474976710800#1 : PanelInputLine
      object 'LbExtAttr: PLPOR,281474976710800#8' : Label {
        Original = False;
        Title = 'Статья ДДС';
        Visible = True;
        Hidden = False;
        HelpLine = '';
        Origin_X = 436;
        Origin_Y = 208;
        Size_X = 63;
        Size_Y = 14;
      } // LbExtAttr: PLPOR,281474976710800#1 : Label
      object 'i_SCPLDOCEDITPP_KATORGP.UNN' : PanelInputLine {
        Size_X = 90;
      }
      object 'Field: KATORGP.KODPLATNDS#1' : PanelInputLine {
        Original = False;
        Visible = True;
        Hidden = False;
        Protect = True;
        FieldName = 'Field: KATORGP.KODPLATNDS';
        DefaultValue = '';
        Origin_X = 223;
        Origin_Y = 163;
        Size_X = 59;
        Size_Y = 14;
      }
      object 'i_SCPLDOCEDITPP_sMFO#1' : PanelInputLine {
        Origin_X = 291;
        Size_X = 22;
      }
    } // SCPLDOCEDITPP : Screen
    object SCPLDOCEDITBS : Screen {
      object 'ExtAttr: PLPOR,281474976710800#4' : PanelInputLine {
        Original = False;
        Visible = True;
        Hidden = False;
        PickButton = True;
        FieldName = 'ExtAttr: PLPOR,281474976710800';
        Origin_X = 90;
        Origin_Y = 313;
        Size_X = 540;
        Size_Y = 14;
      } // ExtAttr: PLPOR,281474976710800#4 : PanelInputLine
      object 'LbExtAttr: PLPOR,281474976710800#4' : Label {
        Original = False;
        Title = 'Статья ДДС';
        Visible = True;
        Hidden = False;
        HelpLine = '';
        Origin_X = 9;
        Origin_Y = 314;
        Size_X = 63;
        Size_Y = 14;
      } // LbExtAttr: PLPOR,281474976710800#4 : Label
    } // SCPLDOCEDITBS : Screen
    object SCPLDOCEDITPKO : Screen {
      object 'ExtAttr: PLPOR,281474976710800#7' : PanelInputLine {
        Original = False;
        Visible = True;
        Hidden = False;
        Protect = True;
        PickButton = True;
        FieldName = 'ExtAttr: PLPOR,281474976710800';
        Origin_X = 98;
        Origin_Y = 311;
        Size_X = 530;
        Size_Y = 14;
      } // ExtAttr: PLPOR,281474976710800#7 : PanelInputLine
      object 'LbExtAttr: PLPOR,281474976710800#7' : Label {
        Original = False;
        Title = 'Статья ДДС';
        Visible = True;
        Hidden = False;
        HelpLine = '';
        Origin_X = 21;
        Origin_Y = 311;
        Size_X = 63;
        Size_Y = 14;
      } // LbExtAttr: PLPOR,281474976710800#7 : Label
    } // SCPLDOCEDITPKO : Screen
    object SCPLDOCEDITRKO : Screen {
      object 'ExtAttr: PLPOR,281474976710800#10' : PanelInputLine {
        Original = False;
        Visible = True;
        Hidden = False;
        Protect = True;
        PickButton = True;
        FieldName = 'ExtAttr: PLPOR,281474976710800';
        Origin_X = 84;
        Origin_Y = 311;
        Size_X = 545;
        Size_Y = 14;
      } // ExtAttr: PLPOR,281474976710800#8 : PanelInputLine
      object 'LbExtAttr: PLPOR,281474976710800#10' : Label {
        Original = False;
        Title = 'Статья ДДС';
        Visible = True;
        Hidden = False;
        Origin_X = 10;
        Origin_Y = 310;
        Size_X = 63;
        Size_Y = 14;
      } // LbExtAttr: PLPOR,281474976710800#8 : Label
    } // SCPLDOCEDITRKO : Screen
    object SCPLDOCEDITAO : Screen {
      object 'ExtAttr: PLPOR,281474976710800#6' : PanelInputLine {
        Original = False;
        Visible = True;
        Hidden = False;
        Protect = True;
        PickButton = True;
        FieldName = 'ExtAttr: PLPOR,281474976710800';
        Origin_X = 96;
        Origin_Y = 318;
        Size_X = 533;
        Size_Y = 14;
      } // ExtAttr: PLPOR,281474976710800#6 : PanelInputLine
      object 'LbExtAttr: PLPOR,281474976710800#6' : Label {
        Original = False;
        Title = 'Статья ДДС';
        Visible = True;
        Hidden = False;
        HelpLine = '';
        Origin_X = 12;
        Origin_Y = 318;
        Size_X = 63;
        Size_Y = 14;
      } // LbExtAttr: PLPOR,281474976710800#6 : Label
    } // SCPLDOCEDITAO : Screen
  } // WIPLDOCEDIT : InterfaceWindow
} // F_PLPOR::PLPOR : InterfaceWindow
//-----------------------------------------------------------------------------
object 'F_VEDOM::PLATVED_KASSA' : InterfaceWindow {
  object BRPLATVED : Browser {
    object 'ExtAttr: VED,281474976710801' : Column {
      Original = False;
      Visible = True;
      Hidden = False;
      Protect = True;
      Title = 'Статья ДДС';
      FieldName = 'ExtAttr: VED,281474976710801';
      Index = 11;
      DefaultWidth = 26;
    } // ExtAttr: VED,281474976710801 : Column
  } // BRPLATVED : Browser
  object WIPLATVED : InterfaceWindow {
    object SSETPLATVED : Screen {
      object 'ExtAttr: VED,281474976710801#1' : PanelInputLine {
        Original = False;
        Visible = True;
        Hidden = False;
        Protect = True;
        PickButton = True;
        FieldName = 'ExtAttr: VED,281474976710801';
        Origin_X = 96;
        Origin_Y = 219;
        Size_X = 446;
        Size_Y = 14;
      } // ExtAttr: VED,281474976710801#1 : PanelInputLine
      object 'LbExtAttr: VED,281474976710801#1' : Label {
        Original = False;
        Title = 'Статья ДДС';
        Visible = True;
        Hidden = False;
        HelpLine = '';
        Origin_X = 12;
        Origin_Y = 218;
        Size_X = 63;
        Size_Y = 14;
      } // LbExtAttr: VED,281474976710801#1 : Label
    } // SSETPLATVED : Screen
  } // WIPLATVED : InterfaceWindow
} // F_VEDOM::PLATVED_KASSA : InterfaceWindow
//-----------------------------------------------------------------------------
