object 'L_SF::SCHFACT' : InterfaceWindow {
  object WSCHFACT : InterfaceWindow {
    Title = 'Документ для учета НДС по продажам';
    Centered = True;
    object SCSCHFACT : Screen {
      object 'i_SCSCHFACT_SCHFACT.DESGR' : PanelInputLine {
        StatusCtx = 7564;
        DefaultPickButton = True;
      } // i_SCSCHFACT_SCHFACT.DESGR : PanelInputLine
      object 'i_SCSCHFACT_SCHFACT.DESCR' : PanelInputLine {
        StatusCtx = 7564;
        DefaultPickButton = True;
      } // i_SCSCHFACT_SCHFACT.DESCR : PanelInputLine
      object i_SCSCHFACT_VALUTA : PanelInputLine {
        StatusCtx = 7564;
        DefaultPickButton = True;
      } // i_SCSCHFACT_VALUTA : PanelInputLine
      object 'L_SCSCHFACT_Дата_курса' : Label {
        Visible = False;
      } // L_SCSCHFACT_Дата_курса : Label
      object 'i_SCSCHFACT_SCHFACT.DS[1]' : PanelInputLine {
        Visible = False;
      // Ошибка: Не могу взять значение свойства "ButtonType"
      } // i_SCSCHFACT_SCHFACT.DS[1] : PanelInputLine
      object 'i_SCSCHFACT_SCHFACT.NUM' : PanelInputLine {
        StatusCtx = 7564;
        DefaultPickButton = True;
      } // i_SCSCHFACT_SCHFACT.NUM : PanelInputLine
      object i_SCSCHFACT_TIPDOC : PanelInputLine {
        StatusCtx = 7564;
        DefaultPickButton = True;
      } // i_SCSCHFACT_TIPDOC : PanelInputLine
      object i_SCSCHFACT_KATORGNAME : PanelInputLine {
        DefaultPickButton = True;
      } // i_SCSCHFACT_KATORGNAME : PanelInputLine
      object i_SCSCHFACT_STRSOPRDOCNO : PanelInputLine {
        DefaultPickButton = True;
      } // i_SCSCHFACT_STRSOPRDOCNO : PanelInputLine
      object i_SCSCHFACT_STRSOPRDOCDAT : PanelInputLine {
        StatusCtx = 7564;
        DefaultPickButton = True;
      } // i_SCSCHFACT_STRSOPRDOCDAT : PanelInputLine
      object 'i_SCSCHFACT_BASEDOC.NODOC' : PanelInputLine {
        DefaultPickButton = True;
      } // i_SCSCHFACT_BASEDOC.NODOC : PanelInputLine
      object 'i_SCSCHFACT_BASEDOC.DDOC' : PanelInputLine {
        StatusCtx = 7564;
        DefaultPickButton = True;
      } // i_SCSCHFACT_BASEDOC.DDOC : PanelInputLine
      object 'i_SCSCHFACT_SCHFACT.DFACT' : PanelInputLine {
        StatusCtx = 7564;
        DefaultPickButton = True;
      } // i_SCSCHFACT_SCHFACT.DFACT : PanelInputLine
      object 'i_SCSCHFACT_SCHFACT.DPOST' : PanelInputLine {
        StatusCtx = 7564;
        DefaultPickButton = True;
      } // i_SCSCHFACT_SCHFACT.DPOST : PanelInputLine
      object 'i_SCSCHFACT_SCHFACT.DREG' : PanelInputLine {
        StatusCtx = 7564;
        DefaultPickButton = True;
      } // i_SCSCHFACT_SCHFACT.DREG : PanelInputLine
      object 'i_SCSCHFACT_SCHFACT.DS[2]' : PanelInputLine {
        StatusCtx = 7564;
        DefaultPickButton = True;
      } // i_SCSCHFACT_SCHFACT.DS[2] : PanelInputLine
      object 'i_SCSCHFACT_SCHFACT.SUM[8]' : PanelInputLine {
        Skip = True;
      } // i_SCSCHFACT_SCHFACT.SUM[8] : PanelInputLine
      object 'L_SCSCHFACT_Связь_со_штрих-кодом:' : Label {
        Visible = False;
      } // L_SCSCHFACT_Связь_со_штрих-кодом: : Label
      object i_SCSCHFACT_BARKODANDSTATE : PanelInputLine {
        Visible = False;
      } // i_SCSCHFACT_BARKODANDSTATE : PanelInputLine
      // Информация: объект "'Field: SCHFACT.TIPUSER'" типа PanelInputLine не найден в базовой конфигурации!
      object 'Field: SCHFACT.TIPUSER' : PanelInputLine {
        Original = False;
        Visible = True;
        Hidden = False;
        Protect = False;
        Skip = False;
        UpCase = False;
        Password = False;
        NoValidCheck = True;
        LessNull = False;
        StatusCtx = 16;
        Strings = ( // Список строк
        )
        StringsNull = 0;
        HelpLine = 'Для изменения типа Корр СФ на 15326';
        FieldName = 'Field: SCHFACT.TIPUSER';
        DefaultValue = '';
        Origin_X = 815;
        Origin_Y = 70;
        Size_X = 42;
        Size_Y = 16;
        TextAlign = 0;
        ButtonType = 0;
        DefaultPickButton = False;
        SpinInc = 0.0;
        SpinMin = 0.0;
        SpinMax = 0.0;
        NoStatic = False;
        EnumValues = ( // Список целых
        )
        PassiveFormat = '';
        Points = 0;
        MaxLen = 5;
        PrecisionVarName = '';
        HistoryID = 0;
        DropTarget = False;
        DropSource = False;
        FontBold = 'Значение не определено или не известно.';
        FontItalic = 'Значение не определено или не известно.';
        FontUnderline = 'Значение не определено или не известно.';
        FontStrikeout = 'Значение не определено или не известно.';
        FontColor = 'Значение не определено или не известно.';
        FontBackColor = 'Значение не определено или не известно.';
        InputMask = 'Значение не определено или не известно.';
        EditButton = False;
        Hyperlink = False;
        AnchorLeft = True;
        AnchorTop = True;
        AnchorRight = False;
        AnchorBottom = False;
      } // Field: SCHFACT.TIPUSER : PanelInputLine
      // Информация: объект "'LbField: SCHFACT.TIPUSER'" типа Label не найден в базовой конфигурации!
      object 'LbField: SCHFACT.TIPUSER' : Label {
        Original = False;
        Title = 'код типа';
        Visible = True;
        Hidden = False;
        HelpLine = '';
        Origin_X = 758;
        Origin_Y = 70;
        Size_X = 55;
        Size_Y = 16;
        AnchorLeft = True;
        AnchorTop = True;
        AnchorRight = False;
        AnchorBottom = False;
      } // LbField: SCHFACT.TIPUSER : Label
   } // WSCHFACT : InterfaceWindow
 } // L_SF::SCHFACT : InterfaceWindow
}
//-----------------------------------------------------------------------------
