object 'Z_STAFF::PICKVACANCY' : InterfaceWindow {
  Title = 'Штатное расписание подразделения "212 Отдел информатизации" на 20/09/2009';
  Centered = True;
  object BRWSTAFFSTRUCT : Browser {
    object 'c_BRWSTAFFSTRUCT_TMPCURRSTAFSTR.CODEPOST_Код' : Column {
      Hidden = True;
    } // c_BRWSTAFFSTRUCT_TMPCURRSTAFSTR.CODEPOST_Код : Column
    object 'Field: STAFFSTRUCT.TAXRATE' : Column {
      Original = False;
      Visible = True;
      Hidden = False;
      Protect = True;
      Skip = False;
      StatusCtx = 16;
      Title = 'Оклад';
      HelpLine = '';
      FieldName = 'Field: STAFFSTRUCT.TAXRATE';
      DefaultValue = '';
      StringsNull = 0;
      Index = 8;
      DefaultWidth = 14;
      TextAlign = 2;
      ButtonType = 0;
      DefaultPickButton = True;
      NoAutoSize = False;
      Points = 2;
      MaxLen = 22;
    } // Field: STAFFSTRUCT.TAXRATE : Column
    object 'IF(STAFFSTRUCT.WORKSTATIONS=0,''БУДЕТ УДАЛЕНА'','''')' : Column {
      Original = False;
      Visible = True;
      Hidden = False;
      Protect = True;
      Skip = False;
      StatusCtx = 16;
      Title = 'Актуальность';
      FieldName = 'IF(STAFFSTRUCT.WORKSTATIONS=0,''БУДЕТ УДАЛЕНА'','''')';
      Index = 9;
      DefaultWidth = 26;
      TextAlign = 0;
      ButtonType = 0;
      DefaultPickButton = True;
    } // IF(STAFFSTRUCT.WORKSTATIONS=0,'БУДЕТ УДАЛЕНА','') : Column
    object 'c_BRWSTAFFSTRUCT_STAFFSTRUCT.DCLOSE_Дата_закрытия' : Column {
      Hidden = True;
      Index = 10;
    } // c_BRWSTAFFSTRUCT_STAFFSTRUCT.DCLOSE_Дата_закрытия : Column
  } // BRWSTAFFSTRUCT : Browser
} // Z_STAFF::PICKVACANCY : InterfaceWindow


//-----------------------------------------------------------------------------
object 'Z_STAFF::RECWIN06' : InterfaceWindow {
  EmbName = 'Z_STAFF::RECEPTIONMAIN->';
  object SCRAPPOINTMENTS1 : Screen {
    object 'APPPOSTCAT.NAME+'' ''' : PanelInputLine {
      Original = False;
      Visible = True;
      Hidden = False;
      Protect = True;
      Skip = False;
      StatusCtx = 0;
      FieldName = 'APPPOSTCAT.NAME+'' ''';
      DefaultValue = '';
      Origin_X = 379;
      Origin_Y = 138;
      Size_X = 192;
      Size_Y = 14;
      TextAlign = 0;
      ButtonType = 0;
      DefaultPickButton = False;
    } // APPPOSTCAT.NAME+' ' : PanelInputLine
    object 'LbAPPPOSTCAT.NAME+'' ''' : Label {
      Original = False;
      Title = 'Должность2';
      Visible = True;
      Hidden = False;
      Origin_X = 285;
      Origin_Y = 138;
      Size_X = 67;
      Size_Y = 14;
    } // LbAPPPOSTCAT.NAME+' ' : Label
  } // SCRAPPOINTMENTS1 : Screen
} // Z_STAFF::RECWIN06 : InterfaceWindow


//-----------------------------------------------------------------------------
object 'Z_STAFFORDERS::RPD_1' : InterfaceWindow {
  EmbName = 'Z_STAFFORDERS::ORDERSLIST->Z_STAFFORDERS::CONTAINEROFORDERS->';
  object FIRSTSCR : Screen {
    object 'ExtAttr: CONTDOC,281474976711586' : PanelInputLine {
      Original = False;
      Visible = True;
      Hidden = False;
      Protect = True;
      Skip = False;
      StatusCtx = 150;
      FieldName = 'ExtAttr: CONTDOC,281474976711586,5,25001,3,0,Руководитель подразделения';
      DefaultValue = '';
      Origin_X = 830;
      Origin_Y = 2;
      Size_X = 194;
      Size_Y = 14;
      TextAlign = 0;
      ButtonType = 16;
      DefaultPickButton = False;
    } // ExtAttr: CONTDOC,281474976711586 : PanelInputLine
    object 'LbExtAttr: CONTDOC,281474976711586' : Label {
      Original = False;
      Title = 'Руководитель подразделения';
      Visible = True;
      Hidden = False;
      HelpLine = '';
      Origin_X = 650;
      Origin_Y = 2;
      Size_X = 175;
      Size_Y = 14;
    } // LbExtAttr: CONTDOC,281474976711586 : Label
    object 'ExtAttr: CONTDOC,281474976711587' : PanelInputLine {
      Original = False;
      Visible = True;
      Hidden = False;
      Protect = True;
      Skip = False;
      StatusCtx = 150;
      HelpLine = 'Руководитель отдела';
      FieldName = 'ExtAttr: CONTDOC,281474976711587,5,25001,3,0,Руководитель отдела';
      DefaultValue = '';
      Origin_X = 830;
      Origin_Y = 42;
      Size_X = 194;
      Size_Y = 14;
      TextAlign = 0;
      ButtonType = 16;
      DefaultPickButton = False;
    } // ExtAttr: CONTDOC,281474976711587 : PanelInputLine
    object 'LbExtAttr: CONTDOC,281474976711587' : Label {
      Original = False;
      Title = 'Руководитель отдела';
      Visible = True;
      Hidden = False;
      HelpLine = '';
      Origin_X = 650;
      Origin_Y = 42;
      Size_X = 126;
      Size_Y = 14;
    } // LbExtAttr: CONTDOC,281474976711587 : Label
    object 'ExtAttr: CONTDOC,281474976711610' : PanelInputLine {
      Original = False;
      Visible = True;
      Hidden = False;
      Protect = True;
      Skip = False;
      StatusCtx = 150;
      FieldName = 'ExtAttr: CONTDOC,281474976711610,5,25001,3,0,Руководитель сектора';
      Origin_X = 830;
      Origin_Y = 82;
      Size_X = 194;
      Size_Y = 14;
      TextAlign = 0;
      ButtonType = 16;
      DefaultPickButton = False;
    } // ExtAttr: CONTDOC,281474976711610 : PanelInputLine
    object 'LbExtAttr: CONTDOC,281474976711610' : Label {
      Original = False;
      Title = 'Руководитель сектора';
      Visible = True;
      Hidden = False;
      HelpLine = '';
      Origin_X = 650;
      Origin_Y = 82;
      Size_X = 133;
      Size_Y = 14;
    } // LbExtAttr: CONTDOC,281474976711610 : Label
  } // FIRSTSCR : Screen
  object SCRDOC : Screen {

    object 'ExtAttr: APPPOSTCAT,281474976715793' : PanelInputLine {
      Original = False;
      Visible = True;
      Hidden = False;
      Protect = True;
      NoValidCheck = True;
      StatusCtx = 150;
      FieldName = 'ExtAttr: APPPOSTCAT,281474976715793,5,8512,10997,1,ЕТКС';
      DefaultValue = '';
      Origin_X = 707;
      Origin_Y = 82;
      Size_X = 101;
      Size_Y = 14;
      ButtonType = 16;
    } // ExtAttr: APPPOSTCAT,281474976715793 : PanelInputLine

    object 'LbExtAttr: APPPOSTCAT,281474976715793' : Label {
      Original = False;
      Title = 'ЕТКС';
      Visible = True;
      Hidden = False;
      Origin_X = 663;
      Origin_Y = 82;
      Size_X = 26;
      Size_Y = 14;
    } // LbExtAttr: APPPOSTCAT,281474976715793 : Label

  } // SCRDOC : Screen
} // Z_STAFFORDERS::RPD_1 : InterfaceWindow


//-----------------------------------------------------------------------------
object 'Z_STAFFORDERS::RPD_5' : InterfaceWindow {
  EmbName = 'Z_STAFFORDERS::ORDERSLIST->Z_STAFFORDERS::CONTAINEROFORDERS->';
  object SCRDET5 : Screen {
    // Информация: объект "'ExtAttr: CONTDOC,281474976711586'" типа PanelInputLine не найден в базовой конфигурации!
    object 'ExtAttr: CONTDOC,281474976711586' : PanelInputLine {
      Original = False;
      Visible = True;
      Hidden = False;
      Protect = True;
      Skip = False;
      StatusCtx = 150;
      FieldName = 'ExtAttr: CONTDOC,281474976711586,5,25001,3,0,Руководитель подразделения';
      Origin_X = 850;
      Origin_Y = 2;
      Size_X = 194;
      Size_Y = 14;
      ButtonType = 16;
      DefaultPickButton = False;
    } // ExtAttr: CONTDOC,281474976711586 : PanelInputLine
    object 'LbExtAttr: CONTDOC,281474976711586' : Label {
      Original = False;
      Title = 'Руководитель подразделения';
      Visible = True;
      Hidden = False;
      HelpLine = '';
      Origin_X = 650;
      Origin_Y = 2;
      Size_X = 175;
      Size_Y = 14;
    } // LbExtAttr: CONTDOC,281474976711586 : Label
    object 'ExtAttr: CONTDOC,281474976711587' : PanelInputLine {
      Original = False;
      Visible = True;
      Hidden = False;
      Protect = True;
      Skip = False;
      StatusCtx = 150;
      FieldName = 'ExtAttr: CONTDOC,281474976711587,5,25001,3,0,Руководитель отдела';
      Origin_X = 850;
      Origin_Y = 42;
      Size_X = 194;
      Size_Y = 14;
      TextAlign = 0;
      ButtonType = 16;
      DefaultPickButton = False;
    } // ExtAttr: CONTDOC,281474976711587 : PanelInputLine
    object 'LbExtAttr: CONTDOC,281474976711587' : Label {
      Original = False;
      Title = 'Руководитель отдела';
      Visible = True;
      Hidden = False;
      HelpLine = '';
      Origin_X = 650;
      Origin_Y = 42;
      Size_X = 126;
      Size_Y = 14;
    } // LbExtAttr: CONTDOC,281474976711587 : Label
    object 'ExtAttr: CONTDOC,281474976711610' : PanelInputLine {
      Original = False;
      Visible = True;
      Hidden = False;
      Protect = True;
      Skip = False;
      StatusCtx = 150;
      FieldName = 'ExtAttr: CONTDOC,281474976711610,5,25001,3,0,Руководитель сектора';
      Origin_X = 850;
      Origin_Y = 82;
      Size_X = 194;
      Size_Y = 14;
      TextAlign = 0;
      ButtonType = 16;
      DefaultPickButton = False;
    } // ExtAttr: CONTDOC,281474976711610 : PanelInputLine
    object 'LbExtAttr: CONTDOC,281474976711610' : Label {
      Original = False;
      Title = 'Руководитель сектора';
      Visible = True;
      Hidden = False;
      HelpLine = '';
      Origin_X = 650;
      Origin_Y = 82;
      Size_X = 133;
      Size_Y = 14;
    } // LbExtAttr: CONTDOC,281474976711610 : Label
    object 'ExtAttr: NEWPOSTCAT,281474976715793' : PanelInputLine {
      Original = False;
      Visible = True;
      Hidden = False;
      Protect = True;
      Skip = False;
      StatusCtx = 150;
      FieldName = 'ExtAttr: NEWPOSTCAT,281474976715793,5,8512,10997,1,ЕТКС';
      Origin_X = 653;
      Origin_Y = 122;
      Size_X = 101;
      Size_Y = 14;
      TextAlign = 0;
      ButtonType = 16;
      DefaultPickButton = False;
    } // ExtAttr: NEWPOSTCAT,281474976715793 : PanelInputLine
    object 'LbExtAttr: NEWPOSTCAT,281474976715793' : Label {
      Original = False;
      Title = 'ЕТКС';
      Visible = True;
      Hidden = False;
      HelpLine = '';
      Origin_X = 601;
      Origin_Y = 122;
      Size_X = 26;
      Size_Y = 14;
    } // LbExtAttr: NEWPOSTCAT,281474976715793 : Label
  } // SCRDET5 : Screen
} // Z_STAFFORDERS::RPD_5 : InterfaceWindow


//-----------------------------------------------------------------------------
object 'Z_STAFFORDERS::RPD_6' : InterfaceWindow {
  EmbName = 'Z_STAFFORDERS::ORDERSLIST->Z_STAFFORDERS::CONTAINEROFORDERS->';
  object SCRDET6 : Screen {
    object 'ExtAttr: CONTDOC,281474976711586' : PanelInputLine {
      Original = False;
      Visible = True;
      Hidden = False;
      Protect = True;
      Skip = False;
      NoValidCheck = True;
      StatusCtx = 150;
      FieldName = 'ExtAttr: CONTDOC,281474976711586,5,25001,3,0,Руководитель подразделения';
      Origin_X = 790;
      Origin_Y = 22;
      Size_X = 225;
      Size_Y = 14;
      ButtonType = 16;
      MaxLen = 255;
      PrecisionVarName = '';
    }
    object 'LbExtAttr: CONTDOC,281474976711586' : Label {
      Original = False;
      Title = 'Руководитель подразделения';
      Visible = True;
      Hidden = False;
      HelpLine = '';
      Origin_X = 620;
      Origin_Y = 22;
      Size_X = 165;
      Size_Y = 14;
    }
    object 'ExtAttr: CONTDOC,281474976711587' : PanelInputLine {
      Original = False;
      Visible = True;
      Hidden = False;
      Protect = True;
      Skip = False;
      StatusCtx = 150;
      FieldName = 'ExtAttr: CONTDOC,281474976711587,5,25001,3,0,Руководитель отдела';
      DefaultValue = '';
      Origin_X = 790;
      Origin_Y = 42;
      Size_X = 225;
      Size_Y = 14;
      TextAlign = 0;
      ButtonType = 16;
      DefaultPickButton = False;
    } // ExtAttr: CONTDOC,281474976711587 : PanelInputLine
    object 'LbExtAttr: CONTDOC,281474976711587' : Label {
      Original = False;
      Title = 'Руководитель отдела';
      Visible = True;
      Hidden = False;
      HelpLine = '';
      Origin_X = 620;
      Origin_Y = 42;
      Size_X = 165;
      Size_Y = 14;
    } // LbExtAttr: CONTDOC,281474976711587 : Label
    object 'ExtAttr: CONTDOC,281474976711610' : PanelInputLine {
      Original = False;
      Visible = True;
      Hidden = False;
      Protect = True;
      Skip = False;
      StatusCtx = 150;
      FieldName = 'ExtAttr: CONTDOC,281474976711610,5,25001,3,0,Руководитель сектора';
      DefaultValue = '';
      Origin_X = 790;
      Origin_Y = 62;
      Size_X = 225;
      Size_Y = 14;
      TextAlign = 0;
      ButtonType = 16;
      DefaultPickButton = False;
    } // ExtAttr: CONTDOC,281474976711610 : PanelInputLine
    object 'LbExtAttr: CONTDOC,281474976711610' : Label {
      Original = False;
      Title = 'Руководитель сектора';
      Visible = True;
      Hidden = False;
      HelpLine = '';
      Origin_X = 620;
      Origin_Y = 62;
      Size_X = 165;
      Size_Y = 14;
    } // LbExtAttr: CONTDOC,281474976711610 : Label
    object 'ExtAttr: CONTDOC,281474976712993' : PanelInputLine {
      Original = False;
      Visible = True;
      Hidden = False;
      Protect = True;
      Skip = False;
      NoValidCheck = True;
      StatusCtx = 150;
      FieldName = 'ExtAttr: CONTDOC,281474976712993';
      Origin_X = 790;
      Origin_Y = 82;
      Size_X = 225;
      Size_Y = 14;
      ButtonType = 16;
      MaxLen = 255;
    }
    object 'LbExtAttr: CONTDOC,281474976712993' : Label {
      Original = False;
      Title = 'Заказ(этап)';
      Visible = True;
      Hidden = False;
      HelpLine = '';
      Origin_X = 620;
      Origin_Y = 82;
      Size_X = 165;
      Size_Y = 14;
    }
    object 'ExtAttr: CONTDOC,281474976712992' : PanelInputLine {
      Original = False;
      Visible = True;
      Hidden = False;
      Protect = True;
      Skip = False;
      NoValidCheck = True;
      StatusCtx = 150;
      FieldName = 'ExtAttr: CONTDOC,281474976712992';
      Origin_X = 790;
      Origin_Y = 102;
      Size_X = 225;
      Size_Y = 14;
      ButtonType = 16;
      MaxLen = 255;
    }
    object 'LbExtAttr: CONTDOC,281474976712992' : Label {
      Original = False;
      Title = 'Расчетный счет';
      Visible = True;
      Hidden = False;
      HelpLine = '';
      Origin_X = 620;
      Origin_Y = 102;
      Size_X = 165;
      Size_Y = 14;
    }
  } // SCRDET6 : Screen
} // Z_STAFFORDERS::RPD_6 : InterfaceWindow


//-----------------------------------------------------------------------------
object 'Z_STAFFORDERS::RPD_8' : InterfaceWindow {
  EmbName = 'Z_STAFFORDERS::ORDERSLIST->Z_STAFFORDERS::CONTAINEROFORDERS->';
  object SCRDOC : Screen {
    object 'ExtAttr: CONTDOC,281474976711586' : PanelInputLine {
      Original = False;
      Visible = True;
      Hidden = False;
      Protect = True;
      Skip = False;
      FieldName = 'ExtAttr: CONTDOC,281474976711586,5,25001,3,0,Руководитель подразделения';
      DefaultValue = '';
      Origin_X = 915;
      Origin_Y = 2;
      Size_X = 194;
      Size_Y = 14;
      TextAlign = 0;
      ButtonType = 16;
      DefaultPickButton = False;
    } // ExtAttr: CONTDOC,281474976711586 : PanelInputLine
    object 'LbExtAttr: CONTDOC,281474976711586' : Label {
      Original = False;
      Title = 'Руководитель подразделения';
      Visible = True;
      Hidden = False;
      HelpLine = '';
      Origin_X = 730;
      Origin_Y = 2;
      Size_X = 175;
      Size_Y = 14;
    } // LbExtAttr: CONTDOC,281474976711586 : Label
    object 'ExtAttr: CONTDOC,281474976711587' : PanelInputLine {
      Original = False;
      Visible = True;
      Hidden = False;
      Protect = True;
      Skip = False;
      FieldName = 'ExtAttr: CONTDOC,281474976711587,5,25001,3,0,Руководитель отдела';
      DefaultValue = '';
      Origin_X = 915;
      Origin_Y = 42;
      Size_X = 194;
      Size_Y = 14;
      TextAlign = 0;
      ButtonType = 16;
      DefaultPickButton = False;
    } // ExtAttr: CONTDOC,281474976711587 : PanelInputLine
    object 'LbExtAttr: CONTDOC,281474976711587' : Label {
      Original = False;
      Title = 'Руководитель отдела';
      Visible = True;
      Hidden = False;
      HelpLine = '';
      Origin_X = 730;
      Origin_Y = 42;
      Size_X = 126;
      Size_Y = 14;
    } // LbExtAttr: CONTDOC,281474976711587 : Label
    object 'ExtAttr: CONTDOC,281474976711610' : PanelInputLine {
      Original = False;
      Visible = True;
      Hidden = False;
      Protect = True;
      Skip = False;
      StatusCtx = 150;
      FieldName = 'ExtAttr: CONTDOC,281474976711610,5,25001,3,0,Руководитель сектора';
      DefaultValue = '';
      Origin_X = 915;
      Origin_Y = 82;
      Size_X = 194;
      Size_Y = 14;
      TextAlign = 0;
      ButtonType = 16;
      DefaultPickButton = False;
    } // ExtAttr: CONTDOC,281474976711610 : PanelInputLine
    object 'LbExtAttr: CONTDOC,281474976711610' : Label {
      Original = False;
      Title = 'Руководитель сектора';
      Visible = True;
      Hidden = False;
      HelpLine = '';
      Origin_X = 730;
      Origin_Y = 82;
      Size_X = 133;
      Size_Y = 14;
    } // LbExtAttr: CONTDOC,281474976711610 : Label
  } // SCRDOC : Screen
} // Z_STAFFORDERS::RPD_8 : InterfaceWindow


//-----------------------------------------------------------------------------
object 'Z_STAFFSHR::STAFFSTRUCT' : InterfaceWindow {
  object BRWSTAFFSTRUCT : Browser {
    object 'Field: STAFFSTRUCT.TAXRATE' : Column {
      Original = False;
      Visible = True;
      Hidden = False;
      Protect = True;
      Skip = False;
      UpCase = False;
      Password = False;
      NoValidCheck = True;
      StatusCtx = 16;
      Title = 'Оклад';
      HelpLine = 'Оклад';
      FieldName = 'Field: STAFFSTRUCT.TAXRATE';
      DefaultValue = '';
      StringsNull = 0;
      Index = 8;
      DefaultWidth = 14;
      TextAlign = 2;
      ButtonType = 0;
      DefaultPickButton = True;
      Points = 2;
      MaxLen = 22;
      EditButton = False;
    } // Field: STAFFSTRUCT.TAXRATE : Column
    object 'IF(STAFFSTRUCT.WORKSTATIONS=STAFFSTRUCT.WORKERS,''НЕ ЗАНЯТА'',STAFFSTRUCT.WORKSTATIONS-STAFFSTRUCT.WORKERS)' : Column {
      Original = False;
      Visible = True;
      Hidden = False;
      Protect = True;
      Skip = False;
      UpCase = False;
      Password = False;
      NoValidCheck = True;
      StatusCtx = 16;
      Title = 'Занято ставок';
      HelpLine = '';
      FieldName = 'IF(STAFFSTRUCT.WORKSTATIONS=STAFFSTRUCT.WORKERS,''НЕ ЗАНЯТА'',STAFFSTRUCT.WORKSTATIONS-STAFFSTRUCT.WORKERS)';
      DefaultValue = '';
      Strings = ( // Список строк
      )
      StringsNull = 0;
      Index = 9;
      DefaultWidth = 14;
      TextAlign = 2;
      ButtonType = 0;
      DefaultPickButton = True;
      Points = 2;
      MaxLen = 255;
      EditButton = False;
    }
    object 'Field: STAFFSTRUCT.ATL_LASTDATE' : Column {
      Original = False;
      Visible = True;
      Hidden = False;
      Protect = True;
      Skip = False;
      UpCase = False;
      Password = False;
      NoValidCheck = True;
      StatusCtx = 16;
      Title = 'Изменено';
      HelpLine = '';
      FieldName = 'Field: STAFFSTRUCT.ATL_LASTDATE';
      DefaultValue = '';
      Strings = ( // Список строк
      )
      StringsNull = 0;
      Index = 10;
      DefaultWidth = 11;
      TextAlign = 2;
      ButtonType = 0;
      DefaultPickButton = True;
      MaxLen = 10;
      EditButton = False;
    }
    object 'IF(STAFFSTRUCT.WORKSTATIONS=0,''V'','''')' : Column {
      Original = False;
      Visible = True;
      Hidden = False;
      Protect = True;
      Skip = False;
      UpCase = False;
      Password = False;
      NoValidCheck = True;
      StatusCtx = 16;
      Title = 'К удалению';
      HelpLine = '';
      FieldName = 'IF(STAFFSTRUCT.WORKSTATIONS=0,''V'','''')';
      DefaultValue = '';
      Strings = ( // Список строк
      )
      StringsNull = 0;
      Index = 11;
      DefaultWidth = 12;
      TextAlign = 3;
      ButtonType = 0;
      DefaultPickButton = True;
    }
    object 'IF(STAFFSTRUCT.WORKSTATIONS=0,IF(STAFFSTRUCT.WORKERS<>0,''ПЕРЕМЕСТИТЬ'',''УДАЛИТЬ''),'''')' : Column {
      Original = False;
      Visible = True;
      Hidden = False;
      Protect = True;
      Skip = False;
      UpCase = False;
      Password = False;
      NoValidCheck = True;
      StatusCtx = 16;
      Title = 'Действие';
      HelpLine = '';
      FieldName = 'IF(STAFFSTRUCT.WORKSTATIONS=0,IF(STAFFSTRUCT.WORKERS<>0,''ПЕРЕМЕСТИТЬ'',''УДАЛИТЬ''),'''')';
      DefaultValue = '';
      Strings = ( // Список строк
      )
      StringsNull = 0;
      Index = 12;
      DefaultWidth = 26;
      TextAlign = 0;
      ButtonType = 0;
      DefaultPickButton = True;
    }
  } // BRWSTAFFSTRUCT : Browser
} // Z_STAFFSHR::STAFFSTRUCT : InterfaceWindow


//-----------------------------------------------------------------------------
object 'Z_STAFFORDERS::RPD_41' : InterfaceWindow {
  object SCRDET41 : Screen {
    object 'ExtAttr: CONTDOC,281474976712993' : PanelInputLine {
      Original = False;
      Visible = True;
      Hidden = False;
      Protect = True;
      Skip = False;
      NoValidCheck = True;
      StatusCtx = 150;
      FieldName = 'ExtAttr: CONTDOC,281474976712993';
      Origin_X = 790;
      Origin_Y = 82;
      Size_X = 225;
      Size_Y = 14;
      ButtonType = 16;
      MaxLen = 255;
    }
    object 'LbExtAttr: CONTDOC,281474976712993' : Label {
      Original = False;
      Title = 'Заказ(этап)';
      Visible = True;
      Hidden = False;
      HelpLine = '';
      Origin_X = 620;
      Origin_Y = 82;
      Size_X = 165;
      Size_Y = 14;
    }
    object 'ExtAttr: CONTDOC,281474976712992' : PanelInputLine {
      Original = False;
      Visible = True;
      Hidden = False;
      Protect = True;
      Skip = False;
      NoValidCheck = True;
      StatusCtx = 150;
      FieldName = 'ExtAttr: CONTDOC,281474976712992';
      Origin_X = 790;
      Origin_Y = 102;
      Size_X = 225;
      Size_Y = 14;
      ButtonType = 16;
      MaxLen = 255;
    }
    object 'LbExtAttr: CONTDOC,281474976712992' : Label {
      Original = False;
      Title = 'Расчетный счет';
      Visible = True;
      Hidden = False;
      HelpLine = '';
      Origin_X = 620;
      Origin_Y = 102;
      Size_X = 165;
      Size_Y = 14;
    }
  }
}
