object 'Z_STAFF::GRAFOTPUSK' : InterfaceWindow {
  object EDITPLANOTPUSK : InterfaceWindow {
    object PLANOTPUSKBROWSEEDIT : Browser {
      object 'Field: PLANOTPUSK.YEAR_VAC' : Column {
        Original = False;
        Visible = True;
        Hidden = False;
        Protect = False;
        Title = 'Год, в котором планируется';
        FieldName = 'Field: PLANOTPUSK.YEAR_VAC';
        Index = 2;
        DefaultWidth = 6;
        MaxLen = 5;
      } // Field: PLANOTPUSK.YEAR_VAC : Column
    } // PLANOTPUSKBROWSEEDIT : Browser
  } // EDITPLANOTPUSK : InterfaceWindow
} // Z_STAFF::GRAFOTPUSK : InterfaceWindow
