object 'L_MCU::GETGRMCSK' : InterfaceWindow {
  object BRW2 : TreeBrowser {
    object 'ExtAttr: GROUPMC,281474976710669' : TreeColumn {
      Original = False;
      Visible = True;
      Hidden = False;
      Protect = True;
      StatusCtx = 150;
      Title = 'Статья структуры цены';
      FieldName = 'ExtAttr: GROUPMC,281474976710669';
      Index = 3;
      DefaultWidth = 26;
      ButtonType = 16;
    }
  }
  object BRW1 : Browser {
    object 'ExtAttr: GROUPMC,281474976710669#1' : Column {
      Original = False;
      Visible = True;
      Hidden = False;
      Protect = True;
      StatusCtx = 150;
      Title = 'Статья структуры цены';
      FieldName = 'ExtAttr: GROUPMC,281474976710669';
      Index = 3;
      DefaultWidth = 26;
      ButtonType = 16;
    }
  }
}
