object 'Z_ZAR::FIXEDADDITIONALPAYMENTS' : InterfaceWindow {
  object DOPLATABROWSE : Browser {
    object 'DOPLATA.CSCHETD+if(DOPLATA.CSUBSCHD<>'''',''.'','''')+DOPLATA.CSUBSCHD' : Column {
      Original = False;
      Visible = True;
      Hidden = False;
      Protect = True;
      Skip = False;
      UpCase = False;
      Password = False;
      NoValidCheck = True;
      StatusCtx = 0;
      PickButton = False;
      CalcButton = False;
      Calendar = False;
      Title = 'Счет';
      HelpLine = '';
      FieldName = 'DOPLATA.CSCHETD+if(DOPLATA.CSUBSCHD<>'''',''.'','''')+DOPLATA.CSUBSCHD';
      DefaultValue = '';
      Strings = ( // Список строк
      )
      StringsNull = 0;
      Index = 10;
      DefaultWidth = 26;
      TextAlign = 0;
      SpinButton = False;
      SpinInc = 0.0;
      SpinMin = 0.0;
      SpinMax = 0.0;
      NoAutoSize = False;
      EnumValues = ( // Список целых
      )
      PassiveFormat = '';
      Points = 0;
      MaxLen = 255;
      PrecisionVarName = '';
      HistoryID = 0;
      DropTarget = False;
      DropSource = False;
      FontBold = 'Значение не определено или не известно.';
      FontItalic = 'Значение не определено или не известно.';
      FontColor = 'Значение не определено или не известно.';
      FontBackColor = 'Значение не определено или не известно.';
      InputMask = 'Значение не определено или не известно.';
    }
    object 'if(getanykau(0, doplata.tbld[1], doplata.ckaud[1]),givenanname(1),'''')' : Column {
      Original = False;
      Visible = True;
      Hidden = False;
      Protect = True;
      Skip = False;
      UpCase = False;
      Password = False;
      NoValidCheck = True;
      StatusCtx = 0;
      PickButton = False;
      CalcButton = False;
      Calendar = False;
      Title = 'КАУ1';
      HelpLine = '';
      FieldName = 'if(getanykau(0, doplata.tbld[1], doplata.ckaud[1]),givenanname(1),'''')';
      DefaultValue = '';
      Strings = ( // Список строк
      )
      StringsNull = 0;
      Index = 11;
      DefaultWidth = 26;
      TextAlign = 0;
      SpinButton = False;
      SpinInc = 0.0;
      SpinMin = 0.0;
      SpinMax = 0.0;
      NoAutoSize = False;
      EnumValues = ( // Список целых
      )
      PassiveFormat = '';
      Points = 0;
      MaxLen = 255;
      PrecisionVarName = '';
      HistoryID = 0;
      DropTarget = False;
      DropSource = False;
      FontBold = 'Значение не определено или не известно.';
      FontItalic = 'Значение не определено или не известно.';
      FontColor = 'Значение не определено или не известно.';
      FontBackColor = 'Значение не определено или не известно.';
      InputMask = 'Значение не определено или не известно.';
    }
    object 'if(getanykau(0, doplata.tbld[2], doplata.ckaud[2]),givenanname(1),'''')' : Column {
      Original = False;
      Visible = True;
      Hidden = False;
      Protect = True;
      Skip = False;
      UpCase = False;
      Password = False;
      NoValidCheck = True;
      StatusCtx = 0;
      PickButton = False;
      CalcButton = False;
      Calendar = False;
      Title = 'КАУ2';
      HelpLine = '';
      FieldName = 'if(getanykau(0, doplata.tbld[2], doplata.ckaud[2]),givenanname(1),'''')';
      DefaultValue = '';
      Strings = ( // Список строк
      )
      StringsNull = 0;
      Index = 12;
      DefaultWidth = 26;
      TextAlign = 0;
      SpinButton = False;
      SpinInc = 0.0;
      SpinMin = 0.0;
      SpinMax = 0.0;
      NoAutoSize = False;
      EnumValues = ( // Список целых
      )
      PassiveFormat = '';
      Points = 0;
      MaxLen = 255;
      PrecisionVarName = '';
      HistoryID = 0;
      DropTarget = False;
      DropSource = False;
      FontBold = 'Значение не определено или не известно.';
      FontItalic = 'Значение не определено или не известно.';
      FontColor = 'Значение не определено или не известно.';
      FontBackColor = 'Значение не определено или не известно.';
      InputMask = 'Значение не определено или не известно.';
    }
    object 'if(getanykau(0, doplata.tbld[3], doplata.ckaud[3]),givenanname(1),'''')' : Column {
      Original = False;
      Visible = True;
      Hidden = False;
      Protect = True;
      Skip = False;
      UpCase = False;
      Password = False;
      NoValidCheck = True;
      StatusCtx = 0;
      PickButton = False;
      CalcButton = False;
      Calendar = False;
      Title = 'КАУ3';
      HelpLine = '';
      FieldName = 'if(getanykau(0, doplata.tbld[3], doplata.ckaud[3]),givenanname(1),'''')';
      DefaultValue = '';
      Strings = ( // Список строк
      )
      StringsNull = 0;
      Index = 13;
      DefaultWidth = 26;
      TextAlign = 0;
      SpinButton = False;
      SpinInc = 0.0;
      SpinMin = 0.0;
      SpinMax = 0.0;
      NoAutoSize = False;
      EnumValues = ( // Список целых
      )
      PassiveFormat = '';
      Points = 0;
      MaxLen = 255;
      PrecisionVarName = '';
      HistoryID = 0;
      DropTarget = False;
      DropSource = False;
      FontBold = 'Значение не определено или не известно.';
      FontItalic = 'Значение не определено или не известно.';
      FontColor = 'Значение не определено или не известно.';
      FontBackColor = 'Значение не определено или не известно.';
      InputMask = 'Значение не определено или не известно.';
    }
    object 'if(getanykau(0, doplata.tbld[4], doplata.ckaud[4]),givenanname(1),'''')' : Column {
      Original = False;
      Visible = True;
      Hidden = False;
      Protect = True;
      Skip = False;
      UpCase = False;
      Password = False;
      NoValidCheck = True;
      StatusCtx = 0;
      PickButton = False;
      CalcButton = False;
      Calendar = False;
      Title = 'КАУ4';
      HelpLine = '';
      FieldName = 'if(getanykau(0, doplata.tbld[4], doplata.ckaud[4]),givenanname(1),'''')';
      DefaultValue = '';
      Strings = ( // Список строк
      )
      StringsNull = 0;
      Index = 14;
      DefaultWidth = 26;
      TextAlign = 0;
      SpinButton = False;
      SpinInc = 0.0;
      SpinMin = 0.0;
      SpinMax = 0.0;
      NoAutoSize = False;
      EnumValues = ( // Список целых
      )
      PassiveFormat = '';
      Points = 0;
      MaxLen = 255;
      PrecisionVarName = '';
      HistoryID = 0;
      DropTarget = False;
      DropSource = False;
      FontBold = 'Значение не определено или не известно.';
      FontItalic = 'Значение не определено или не известно.';
      FontColor = 'Значение не определено или не известно.';
      FontBackColor = 'Значение не определено или не известно.';
      InputMask = 'Значение не определено или не известно.';
    }
    object 'if(getanykau(0, doplata.tbld[5], doplata.ckaud[5]),givenanname(1),'''')' : Column {
      Original = False;
      Visible = True;
      Hidden = False;
      Protect = True;
      Skip = False;
      UpCase = False;
      Password = False;
      NoValidCheck = True;
      StatusCtx = 0;
      PickButton = False;
      CalcButton = False;
      Calendar = False;
      Title = 'КАУ5';
      HelpLine = '';
      FieldName = 'if(getanykau(0, doplata.tbld[5], doplata.ckaud[5]),givenanname(1),'''')';
      DefaultValue = '';
      Strings = ( // Список строк
      )
      StringsNull = 0;
      Index = 15;
      DefaultWidth = 26;
      TextAlign = 0;
      SpinButton = False;
      SpinInc = 0.0;
      SpinMin = 0.0;
      SpinMax = 0.0;
      NoAutoSize = False;
      EnumValues = ( // Список целых
      )
      PassiveFormat = '';
      Points = 0;
      MaxLen = 255;
      PrecisionVarName = '';
      HistoryID = 0;
      DropTarget = False;
      DropSource = False;
      FontBold = 'Значение не определено или не известно.';
      FontItalic = 'Значение не определено или не известно.';
      FontColor = 'Значение не определено или не известно.';
      FontBackColor = 'Значение не определено или не известно.';
      InputMask = 'Значение не определено или не известно.';
    }
  }
}
