object 'M_MNPLAN::BOOKINGS' : InterfaceWindow {
  object MAINBOOKINGTR : TreeBrowser {
    object 'c_MAINBOOKINGTR_FANAL1_Аналитика_1' : TreeColumn {
      Title = 'Виза комм.дир.';
      DefaultWidth = 19;
    } // c_MAINBOOKINGTR_FANAL1_Аналитика_1 : TreeColumn
    object 'c_MAINBOOKINGTR_FANAL2_Аналитика_2' : TreeColumn {
      Title = 'Виза нач. ОМТСК';
      DefaultWidth = 24;
    } // c_MAINBOOKINGTR_FANAL2_Аналитика_2 : TreeColumn
    object 'c_MAINBOOKINGTR_FANAL3_Аналитика_3' : TreeColumn {
      Title = 'Виза ПЭУ';
      DefaultWidth = 32;
    } // c_MAINBOOKINGTR_FANAL3_Аналитика_3 : TreeColumn
  } // MAINBOOKINGTR : TreeBrowser
  object WIN1 : InterfaceWindow {
    object CLAIMTREE : TreeBrowser {
      object 'ExtAttr: CLAIM,281474976711713' : TreeColumn {
        Original = False;
        Visible = True;
        Hidden = False;
        StatusCtx = 145;
        Title = 'Технические условия';
        FieldName = 'ExtAttr: CLAIM,281474976711713,0,8512,10414,1,Технические условия';
        Size_X = 227;
        Index = 6;
        DefaultWidth = 26;
      } // ExtAttr: CLAIM,281474976711713 : TreeColumn
      object 'ExtAttr: CLAIM,281474976711712' : TreeColumn {
        Original = False;
        Visible = True;
        Hidden = False;
        StatusCtx = 145;
        Title = 'Примечание';
        FieldName = 'ExtAttr: CLAIM,281474976711712,0,0,0,0,Примечание';
        Size_X = 227;
        Index = 18;
        DefaultWidth = 26;
      } // ExtAttr: CLAIM,281474976711712 : TreeColumn
    } //CLAIMTREE : TreeBrowser
    object SCR01 : Screen {
      object 'T_SCR01_Прием' : StaticText {
        Title = 'Дата';
      } // T_SCR01_Прием : StaticText
    } // SCR01 : Screen
    object SCR03 : Screen {
      object 'ExtAttr: INDENT,281474976711659' : PanelInputLine {
        Original = False;
        Visible = True;
        Hidden = False;
        Protect = False;
        Skip = False;
        FieldName = 'ExtAttr: INDENT,281474976711659';
        DefaultValue = '';
        Origin_X = 568;
        Origin_Y = 43;
        Size_X = 580;
        Size_Y = 14;
        MaxLen = 255;
      } // ExtAttr: INDENT,281474976711659 : PanelInputLine
      // Информация: объект "'ExtAttr: INDENT,281474976711660'" типа PanelInputLine не найден в базовой конфигурации!
      object 'ExtAttr: INDENT,281474976711660' : PanelInputLine {
        Original = False;
        Visible = True;
        Hidden = False;
        Protect = False;
        Skip = False;
        FieldName = 'ExtAttr: INDENT,281474976711660';
        DefaultValue = '';
        Origin_X = 568;
        Origin_Y = 63;
        Size_X = 580;
        Size_Y = 14;
        MaxLen = 255;
      } // ExtAttr: INDENT,281474976711660 : PanelInputLine
      // Информация: объект "'ExtAttr: INDENT,281474976711661'" типа PanelInputLine не найден в базовой конфигурации!
      object 'ExtAttr: INDENT,281474976711661' : PanelInputLine {
        Original = False;
        Visible = True;
        Hidden = False;
        Protect = False;
        Skip = False;
        FieldName = 'ExtAttr: INDENT,281474976711661';
        DefaultValue = '';
        Origin_X = 568;
        Origin_Y = 83;
        Size_X = 580;
        Size_Y = 14;
        MaxLen = 255;
      } // ExtAttr: INDENT,281474976711661 : PanelInputLine
    } // SCR03 : Screen
  } // WIN1 : InterfaceWindow
} // M_MNPLAN::BOOKINGS : InterfaceWindow
//-----------------------------------------------------------------------------
