object 'F_DISTPL::PLDOCDISTR' : InterfaceWindow {
  Centered = True;
 // SCRUSERFLT : Screen
  object WIPLDOCTOBASEDOC : InterfaceWindow {
    object BRKATORG : TreeBrowser {
      ViewFlags = 6;
      RowColorDark = 10;
      VerDelimiterWidth = 2;
    } // BRKATORG : TreeBrowser
    object BRBFINORG : TreeBrowser {
      ViewFlags = 6;
      RowColorDark = 10;
      VerDelimiterWidth = 2;
      object 'Field: AGAT_CASHBANK.NAME' : TreeColumn {
        Original = False;
        Visible = True;
        Hidden = False;
        Protect = True;
        StatusCtx = 16;
        Title = 'Расчетный счет /'#13'раздел учета';
        FieldName = 'Field: AGAT_CASHBANK.NAME';
        Size_X = 150;
        Index = 4;
        DefaultWidth = 26;
        MaxLen = 80;
      } // Field: AGAT_CASHBANK.NAME : TreeColumn
      object 'c_BRBFINORG_PLCOABBR.ABBR_ЦО' : TreeColumn {
        Visible = False;
      } // c_BRBFINORG_PLCOABBR.ABBR_ЦО : TreeColumn
      // Информация: объект "'STxoGetField('Plpor','Namepl1',MT_BASEFIN.CSOPRDOC)'" типа TreeColumn не найден в базовой конфигурации!
      object 'STxoGetField(''Plpor'',''Namepl1'',MT_BASEFIN.CSOPRDOC)' : TreeColumn {
        Original = False;
        Visible = True;
        Hidden = False;
        Protect = True;
        Skip = False;
        UpCase = False;
        Password = False;
        NoValidCheck = True;
        StatusCtx = 16;
        Title = 'Назначение платежа';
        HelpLine = '';
        FieldName = 'STxoGetField(''Plpor'',''Namepl1'',MT_BASEFIN.CSOPRDOC)';
        DefaultValue = '';
        Strings = ( // Список строк
        )
        StringsNull = 0;
        Size_X = 590;
        Index = 14;
        DefaultWidth = 101;
        TextAlign = 0;
        ButtonType = 0;
        DefaultPickButton = False;
        SpinInc = 0.0;
        SpinMin = 0.0;
        SpinMax = 0.0;
        NoAutoSize = False;
        EnumValues = ( // Список целых
        )
        PassiveFormat = '';
        Points = 0;
        MaxLen = 255;
        PrecisionVarName = '';
        HistoryID = 0;
        DropTarget = False;
        DropSource = False;
        FixedState = 0;
        EditButton = False;
        FontBold = 'Значение не определено или не известно.';
        FontItalic = 'Значение не определено или не известно.';
        FontUnderline = 'Значение не определено или не известно.';
        FontStrikeout = 'Значение не определено или не известно.';
        FontColor = 'Значение не определено или не известно.';
        FontBackColor = 'Значение не определено или не известно.';
        Hyperlink = False;
        LessValue = False;
        HeaderImageName = '';
        CurRowFontBold = 'Значение не определено или не известно.';
        CurRowFontItalic = 'Значение не определено или не известно.';
        CurRowFontUnderline = 'Значение не определено или не известно.';
        CurRowFontStrikeout = 'Значение не определено или не известно.';
        CurRowFontColor = 'Значение не определено или не известно.';
        CurRowFontBackColor = 'Значение не определено или не известно.';
        HeaderAlign = 3;
      } // STxoGetField('Plpor','Namepl1',MT_BASEFIN.CSOPRDOC) : TreeColumn
      // Информация: объект "'STxoGetField('SPkau','Name', coTXOGetExtAttr('PLPOR','Статья ДДС', MT_BASEFIN.CSOPRDOC))'" типа TreeColumn не найден в базовой конфигурации!
      object 'STxoGetField(''SPkau'',''Name'', coTXOGetExtAttr(''PLPOR'',''Статья ДДС'', MT_BASEFIN.CSOPRDOC))' : TreeColumn {
        Original = False;
        Visible = True;
        Hidden = False;
        Protect = True;
        Skip = False;
        UpCase = False;
        Password = False;
        NoValidCheck = True;
        StatusCtx = 16;
        Title = 'Статья ДДС';
        HelpLine = '';
        FieldName = 'STxoGetField(''SPkau'',''Name'', coTXOGetExtAttr(''PLPOR'',''Статья ДДС'', MT_BASEFIN.CSOPRDOC))';
        DefaultValue = '';
        Strings = ( // Список строк
        )
        StringsNull = 0;
        Size_X = 150;
        Index = 15;
        DefaultWidth = 26;
        TextAlign = 0;
        ButtonType = 0;
        DefaultPickButton = False;
        SpinInc = 0.0;
        SpinMin = 0.0;
        SpinMax = 0.0;
        NoAutoSize = False;
        EnumValues = ( // Список целых
        )
        PassiveFormat = '';
        Points = 0;
        MaxLen = 255;
        PrecisionVarName = '';
        HistoryID = 0;
        DropTarget = False;
        DropSource = False;
        FixedState = 0;
        EditButton = False;
        FontBold = 'Значение не определено или не известно.';
        FontItalic = 'Значение не определено или не известно.';
        FontUnderline = 'Значение не определено или не известно.';
        FontStrikeout = 'Значение не определено или не известно.';
        FontColor = 'Значение не определено или не известно.';
        FontBackColor = 'Значение не определено или не известно.';
        Hyperlink = False;
        LessValue = False;
        HeaderImageName = '';
        CurRowFontBold = 'Значение не определено или не известно.';
        CurRowFontItalic = 'Значение не определено или не известно.';
        CurRowFontUnderline = 'Значение не определено или не известно.';
        CurRowFontStrikeout = 'Значение не определено или не известно.';
        CurRowFontColor = 'Значение не определено или не известно.';
        CurRowFontBackColor = 'Значение не определено или не известно.';
        HeaderAlign = 3;
      } // STxoGetField('SPkau','Name', coTXOGetExtAttr('PLPOR','Статья ДДС', MT_BASEFIN.CSOPRDOC)) : TreeColumn
    } // BRBFINORG : TreeBrowser
  } // WIPLDOCTOBASEDOC : InterfaceWindow
} // F_DISTPL::PLDOCDISTR : InterfaceWindow
//-----------------------------------------------------------------------------
