object 'F_DISTPL::PLDOCDISTR' : InterfaceWindow {


  object WIPLDOCTOBASEDOC : InterfaceWindow {


    object BRBFINORG : TreeBrowser {


      object 'Field: AGAT_CASHBANK.NAME' : TreeColumn {
        Original = False;
        Visible = True;
        Hidden = False;
        Protect = True;
        StatusCtx = 16;
        Title = 'Расчетный счет /'#13'раздел учета';
        FieldName = 'Field: AGAT_CASHBANK.NAME';
        Size_X = 150;
        Index = 4;
        DefaultWidth = 26;
        MaxLen = 80;
      } // Field: AGAT_CASHBANK.NAME : TreeColumn


    } // BRBFINORG : TreeBrowser


  } // WIPLDOCTOBASEDOC : InterfaceWindow


} // F_DISTPL::PLDOCDISTR : InterfaceWindow
//-----------------------------------------------------------------------------
